{% extends 'BuscolookWebBundle::layout.html.twig' %}

{% block block_content%}

    <form action="{{ path('login_check') }}" method="post">
        <fieldset>
            {% if error %}
                {{ error.message }}
            {% endif %}
                            <div class="text-section">
                                <label for="username">E-mail:</label>

                                <div class="text-holder">
                                    <input type="email" id="username" name="_username" value="{{ last_username }}"
                                           placeholder="Tu email"/>
                                </div>
                            </div>
                            <div class="text-section">
                                <label for="password">Contraseña:</label>

                                <div class="text-holder">
                                    <input type="password" id="password" name="_password" placeholder="Tu contraseña"/>
                                </div>
                            </div>
                        
            <div class="button-row">
                <input type="submit" value="Entrar" id="checkLogin">
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}