{% extends 'BuscolookWebBundle::layout.html.twig' %}
{% form_theme form 'BuscolookWebBundle:Forms:custom_form_layout.html.twig' %}
{% block block_content%}
    <div class="register tienda">
        <div class="cf">
            <h1>Porqué registrarte</h1>

            <div class="typeSelect">
                <ul class="cf">
                    <li><a href="{{ path('buscolook_register_buscolooker') }}">Buscolooker</a></li>
                    <li><a href="{{ path('buscolook_register_bussiness') }}" class="active">Tienda</a></li>
                </ul>
            </div>
        </div>

        {% include 'BuscolookWebBundle:Security:Partials/reasons.html.twig' %}

        <div class="formArea">
            <h2>Registrate ahora, es muy rápido</h2>

            <form action="#" method="post">
                <div class="cf">
                    <div class="col col1">
                        <div class="row name">
                           {{ form_widget(form.username) }}
                        </div>
                        {{ form_errors(form.username) }}
                        <div class="row email">
                            {{ form_widget(form.email) }}
                            <!--<input class="error" type="text" placeholder="E-Mail" name="email" id="email" />-->
                        </div>
                            {{ form_errors(form.email) }}
                        <!--<p class="error">Error.</p>-->
                    </div>
                    <div class="col col2">
                        <div class="row password">
                            {{ form_widget(form.password.first, {'attr':{'placeholder':'Contraseña'}}) }}
                            <!--<input type="password" placeholder="Contraseña" name="password" id="password" />-->
                        </div>
                        {{ form_errors(form.password.first) }}
                        <div class="row password">
                            {{ form_widget(form.password.second,{'attr':{'placeholder':'Repite contraseña'}}) }}
                            <!--<input class="error" type="password" placeholder="Repite contraseña" name="password_again" id="password_again" />-->
                        </div>
                        {{ form_errors(form.password.second) }}

                        <!--<p class="error">Error.</p>-->
                        <div class="row submit">
                            <button type="submit" class="button stepOne">Registrar</button>
                        </div>
                        {{ form_row(form._token) }}
                    </div>
                </div>
            </form>

        </div><!--/.formArea-->


    </div><!--/.register-->
{% endblock %}