{% extends 'BuscolookWebBundle::layout.html.twig' %}
{% form_theme form 'BuscolookWebBundle:Forms:custom_form_layout.html.twig' %}
{% block block_content%}
    <div class="register buscolooker">
        <div class="cf">
            <h1>Por qué registrarte</h1>

            <div class="typeSelect">
                <ul class="cf">
                    <li><a href="{{ path('buscolook_register_buscolooker') }}" class="active">Buscolooker</a></li>
                    <li><a href="{{ path('buscolook_register_bussiness') }}">Tienda</a></li>
                </ul>
            </div>
        </div>

        {% include 'BuscolookWebBundle:Security:Partials/reasons.html.twig' %}

        <div class="formArea">
            <h2>Registrate ahora, es muy rápido</h2>

            <form action="?" method="post">
                <div class="cf">
                    <div class="col col1">
                        <div class="row name">
                            {{ form_widget(form.username) }}
                        </div>
                        {{ form_errors(form.username) }}
                        <div class="row email">
                            {{ form_widget(form.email) }}
                        </div>
                        {{ form_errors(form.email) }}
                        <div class="row place">
                            {{ form_widget(form.locality) }}
                        </div>
                        {{ form_errors(form.locality) }}
                        <!--<p class="error">Error.</p>-->
                    </div>
                    <div class="col col2">
                        <div class="row password">
                            {{ form_widget(form.password.first) }}
                        </div>
                        {{ form_errors(form.password.first) }}
                        <div class="row password">
                            {{ form_widget(form.password.second) }}
                        </div>
                       <!-- <p class="error">Error.</p>-->
                        <div class="row submit">
                            <button type="submit" class="button">Registrar</button>
                        </div>
                        {{ form_errors(form.password.second) }}
                        {{ form_row(form._token) }}
                    </div>
                </div>
            </form>

        </div><!--/.formArea-->


    </div><!--/.register-->

{% endblock %}