{% extends 'BuscolookWebBundle::layout.html.twig' %}
{% form_theme form 'BuscolookWebBundle:Forms:custom_form_layout.html.twig' %}
{% block block_content%}
<div class="register tienda">
    <div class="cf">
        <h1>Porqué registrarte</h1>

        <div class="typeSelect">
            <ul class="cf">
                <li><a href="registrarte-buscolooker.html">Buscolooker</a></li>
                <li><a href="registrarte-tienda.html" class="active">Tienda</a></li>
            </ul>
        </div>
    </div>

    {% include 'BuscolookWebBundle:Security:Partials/reasons.html.twig' %}


    <div class="formArea">
        <h2>Ya no queda nada ;)</h2>

        <form action="#" method="post">
            <div class="cf">
                <div class="col col1">
                    <div class="row place">
                        <input type="text" placeholder="Ciudad" name="locality" id="locality" />
                    </div>
                </div>
                <div class="col col2">
                    <div class="row categories">
                        <h3>Categorias</h3>
                    </div>
                    <div class="row">
                        <div class="cf">
                            {{ form_categories_checks(form.categories) }}
                            {{ form_row(form._token) }}

                        </div>
                    </div>
                    <div class="row submit">
                        <button type="submit" class="button stepTwo">Registrar</button>
                    </div>
                </div>
            </div>
        </form>

    </div><!--/.formArea-->


</div><!--/.register-->

{% endblock %}
