{% if  fichajeId is defined and fichajeId is not null %}
    {% set path =  path('buscolook_web_bussiness_garment_buscolooker',{'fichajeId': fichajeId.id, 'buscolooker':app.security.getToken().getUser().getId() }) %}
{% else %}
    {% set path =  path('buscolook_web_bussiness_garment_buscolooker',{'buscolooker':app.security.getToken().getUser().getId(),'fichajeId':0 }) %}
{% endif %}
<form class="formWrapper" id="form-garments" action="{{ path }}"
      method="POST">
    <div class="input">
        {{ form_widget(form.fichaje_name,{'value':fichajeId is defined and fichajeId is not null ? fichajeId.name : ''}) }}
    </div>
    {% for garment in garments %}

        <div class="toggler">
            <h3 class="heading">producto {{ loop.index }} <span class="delete-product"></span></h3>

            <div class="content">
                <div class="input">
                    <input type="text" readonly value="{{ garment.name }}" />
                </div>
                <div class="input">
                    <!--<textarea placeholder="Descripción del producto"></textarea>-->
                    <textarea readonly>{{ garment.description }}</textarea>
                </div>
                <div class="input inputAddWrap">
                    <button disabled>tienda</button>
                </div>
                <ul class="inputAddList">
                    {% for shop in garment.shops %}
                        <li><strong>{{ shop.name }}</strong> <span class="delete">{{ shop.locality is defined and shop.locality is not null ? shop.locality.locality : '' }}</span></li>
                    {% endfor %}

                </ul>
                <div class="input inputSelectWrap">
                    <button disabled>{{ garment.category is defined and garment.category is not null ? garment.category.name : 'Sin categoria' }}</button>
                </div>
                <div class="input inputSelectWrap">
                    <button disabled>{{ garment.brand is defined and garment.brand is not null ? garment.brand.name : 'Sin marca' }}</button>
                </div>
                <div class="input">
                    <input type="text" readonly value="{{ garment.price }}" />
                </div>
                <div class="input">
                    <input type="text" readonly value="{{ garment.urlWeb }}" />
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="toggler open">
        <h3 class="heading">producto {{ (garments | length) + 1 }}</h3>

        <div class="content">
            <div class="input">
                {{ form_widget(form.name) }}
                <span class="counter">0/30</span>
            </div>
            <div class="input">
                <!--<textarea placeholder="Descripción del producto"></textarea>-->
                {{ form_widget(form.description) }}
                <span class="counter">0/90</span>
            </div>
            <div class="input inputSelectWrap">
                {{ form_widget(form.bussiness) }}
            </div>
            <div class="input inputAddWrap" style="display: none">
                {{ form_widget(form.shops) }}
            </div>
            <div class="input inputSelectWrap">
                {{ form_widget(form.subcategory) }}
            </div>
            <div class="input inputSelectWrap">
                {{ form_widget(form.brand) }}
            </div>
            <div class="input">
                {{ form_widget(form.price) }}
            </div>
            <div class="input">
                {{ form_widget(form.urlWeb) }}
            </div>
        </div>

        {{ form_widget(form._token) }}
        <p>¿Quieres venderla online? Crea tu tienda aquí!</p>

        <div class="input inputAddWrap highlighted">
            <button type="text" id="add-product" placeholder="producto">AÑADIR PRODUCTO</button>
        </div>
        <div class="shareArea">
            <span class="title">COMPARTE: </span>
            <ul class="actionIcons">
                <li class="gray"><a href="#"><i class="icon-share-facebook"></i></a></li>
                <li class="gray"><a href="#"><i class="icon-share-twitter"></i></a></li>
                <li class="gray"><a href="#"><i class="icon-share-pinterest"></i></a></li>
                <li class="gray"><a href="#"><i class="icon-share-instagram"></i></a></li>
            </ul>
        </div>
        {% if fichajeId is defined and fichajeId is not null %}
            {% set pathPublish =  path('buscolook_web_publish_fichaje',{'fichaje':fichajeId.id, type:'buscolooker'}) %}
        {% else %}
            {% set pathPublish = '#' %}
        {% endif %}
        <a id="publish_fichaje" href="{{ pathPublish }}" class="button">Subir fichaje</a>
    </div>
</form>