<form action="?" method="post">

    <div class="cf">
        <div class="col col1">
            <div class="row">
                {{ form_widget(profile_form.username) }}
            </div>
            <div class="row">
                {{ form_widget(profile_form.email) }}
            </div>
            <div class="row">
                <input type="text" placeholder="Place" name="place" id="place" value="Madrid" />
            </div>
            <div class="row">
                {{ form_widget(profile_form.urlblog) }}
            </div>
            <div class="row">
                <label class="ffBook grayText uppercase">Añadir redes sociales</label>
                <ul class="actionIcons">
                    <li><a href="#"><i class="social-facebook"></i></a></li>
                    <li><a href="#"><i class="social-pinterest"></i></a></li>
                    <li class="disabled"><a href="#"><i class="social-twitter"></i></a></li>
                    <li><a href="#"><i class="social-instagram"></i></a></li>
                    <li class="disabled"><a href="#"><i class="social-googleplus"></i></a></li>
                    <li class="disabled"><a href="#"><i class="social-tumblr"></i></a></li>
                </ul>
            </div>
            <div class="row">
                <textarea class="ffMedium">Estoy buscando por #botinesrojos para combinar con una camisa que tengo. También busco por #americanaazulbilbao para una fiesta.</textarea>
                <p class="textareaInfo">If you use <strong class="hashtag">#hashtags</strong> your search will automatically shows up on your notifications.</p>
            </div>
        </div>
        <div class="col col2">
            <div class="row">
                <input type="password" placeholder="Password" name="password" id="password" value="" />
            </div>
            <div class="row">
                <input type="password" placeholder="Password Again" name="password_again" id="password_again" value="" />
            </div>
            <div class="row">
                <textarea>fashionatheist //</textarea>
                <span class="counter">17/300</span>
            </div>
            {{ form_widget(profile_form._token) }}
            <div class="row submit">
                <a href="#">Cancelar</a>
                <button class="button orange" type="submit">Registar</button>
                <button class="button" type="submit">Guardar cambios</button>
            </div>
        </div>
    </div>

</form>