{% extends 'BuscolookAdminBundle::layout.html.twig' %}
{% block block_javascript %}
    {{ parent() }}
    {% javascripts '@BuscolookAdminBundle/Resources/public/js/lib/FooTable/js/footable.js'
    '@BuscolookAdminBundle/Resources/public/js/lib/FooTable/js/footable.sort.js'
    '@BuscolookAdminBundle/Resources/public/js/lib/FooTable/js/footable.filter.js'
    '@BuscolookAdminBundle/Resources/public/js/lib/FooTable/js/footable.paginate.js'
    '@BuscolookAdminBundle/Resources/public/js/pages/ebro_responsive_table.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(function () {
            $('table').footable();

            $('.sort-column').click(function (e) {
                e.preventDefault();

                //get the footable sort object
                var footableSort = $('table').data('footable-sort');

                //get the index we are wanting to sort by
                var index = $(this).data('index');

                footableSort.doSort(index, 'toggle');
            });
        });
    </script>
{% endblock %}

{% block block_stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/buscolookadmin/js/lib/FooTable/css/footable.core.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div class="sepH_c">
        <p>
            <a href="{{ path('buscolook_admin_bussiness_add') }}">
                <button class="btn btn-default" type="button">Nueva</button>
            </a>
        </p>
        <p class="heading_a">Tiendas</p>

        <table class="table toggle-square">
            <thead>
            <tr>
                <th data-type="numeric" data-sort-initial="true">Id</th>
                <th data-sort-initial="true">Name</th>
                <th data-sort-initial="true" data-hide="phone">Usuario</th>
                <th data-sort-ignore="true" data-hide="phone">Email</th>
                <th data-sort-ignore="true" data-hide="phone">Teléfono</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td><a href="{{ path('buscolook_admin_bussiness_edit',{'id':item.id}) }}">{{ item.id }}</a></td>
                    <td><a href="{{ path('buscolook_admin_bussiness_edit',{'id':item.id}) }}">{{ item.name }}</a></td>
                    <td><a href="{{ path('buscolook_admin_bussiness_edit',{'id':item.id}) }}">{{ item.user.username }}</a></td>
                    <td><a href="{{ path('buscolook_admin_bussiness_edit',{'id':item.id}) }}">{{ item.user.email }}</a></td>
                    <td><a href="{{ path('buscolook_admin_bussiness_edit',{'id':item.id}) }}">{{ item.phone }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot class="hide-if-no-paging">
            <tr>
                <td colspan="6" class="text-center">
                    <ul class="pagination pagination-sm"></ul>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
