{% extends 'BuscolookWebBundle::layout.html.twig' %}

{% block block_content %}
    {% if is_granted('ROLE_USER') %}
        {% set user_id = app.security.getToken().getUser().getId() %}
    {% endif %}
    <h1 class="hidden">Voy de tiendas</h1>

    <div class="filterRow cf">
        {% include 'BuscolookWebBundle:Include:top-filters.html.twig' with {'url':'buscolook_web_punto_venta'} %}

        <div class="orders">
            <span class="title">Ordenar por:</span>
            <a href="#" class="active">Último</a>
            <a href="#">Popular</a>
            <a href="#">A-Z</a>
        </div>
    </div><!--/.filterRow-->

    <div class="grid brandBelow">

    {% for shop in shops %}
        <article class="item">
            <div class="preview">
                <div class="gallery">
                    <div class="slides owl-carousel">
                        <div class="slide"><img class="lazyOwl" data-src="{{ asset('bundles/buscolookweb/images/product1_image1.jpg') }}"
                                                alt=""/><span class="count">1/2</span></div>
                        <div class="slide"><img class="lazyOwl" data-src="{{ asset('bundles/buscolookweb/images/product1_image1.jpg') }}"
                                                alt=""/><span class="count">2/2</span></div>
                    </div>
                    {% if is_granted('ROLE_USER') %}
                        <a class="like" href="#"><i class="{{ shop.isFav(shop.id,user_id) ? 'icon-like-black-full' : 'icon-like-black' }}" data-item="{{ shop.id }}"></i></a>
                     {% endif %}
                </div>
            </div>
            <div class="heading">
                <div class="imageArea">
                    <div class="image">
                        {% set template = 'buscolook_web_shop_profile' %}
                        {% if is_granted('ROLE_BUSSINESS') and app.user.id == shop.user.id %}
                            {% set template = 'buscolook_web_shop_public_profile' %}
                        {% endif %}
                        <a href="#" data-href="{{ path(template,{'bussiness':shop.id}) }}"><img src="{{ '/uploads/documents/' ~ shop.logo }}"
                                                                            alt="Mimoki logo"/></a>
                    </div>
                </div>
                <a href="#" class="more"><i class="icon-plus"></i></a>
            </div>
        </article>
        {% endfor %}

        <div class="break"></div>
    </div><!--/.grid-->

{% endblock %}