<!doctype html>
<html lang="cs" class="no-js">
<head>
    <meta charset="utf-8"/>
    <title>Buscolook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% block block_stylesheets %}
        {% stylesheets 'bundles/buscolookweb/css/styles/screen.css'
        'bundles/buscolookweb/css/styles/owl.carousel.css'
        'bundles/buscolookweb/css/styles/owl.theme.css'
        'bundles/buscolookweb/css/styles/font.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" media="screen,projection"/>
        {% endstylesheets %}
    {% endblock %}
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body id="">

<div id="page">

<div id="topBar">
    <div class="width cf">
        <ul class="cf">
            <li><a href="#">Registrar / Iniciar sesión <i class="icon-login"></i></a></li>
            <li><a href="#">Mi Carrito <i class="icon-cart"></i> <span class="ffBook">(0)</span></a></li>
        </ul>
    </div>
</div>
<!--/#topBar-->

<header id="header">
    <div class="width cf">
        <div class="logo">
            <h1><a href="/"><img src="{{ asset('bundles/buscolookweb/images/logo_buscolook.png') }}" alt="Buscolok"
                                 title="Buscolook - Homepage"/></a></h1>
        </div>
        <div class="menuTrigger onlyMobile"><i class="icon-menu"></i></div>
        <nav id="menu">
            <ul class="cf parent">
                <li><a class="home" href="/"><i class="icon-home"></i><span class="hidden">Home</span></a></li>
                <li><a href="/" class="active">COTILLEO</a>
                    <ul class="child1">
                        <li><a href="/" class="hasIcon" data-clickable="true"><i class="icon-category"></i><span>por Categoria</span></a>
                            <ul class="child2">
                                <li><a href="/" data-checkable="true">Test</a></li>
                            </ul>
                        </li>
                        <li><a href="/" class="hasIcon"><i class="icon-place"></i><span>por Ciudad</span></a>
                            <ul class="child2">
                                <li><a href="#" data-checkable="true">Barcelona</a></li>
                                <li><a href="#" data-checkable="true" data-checked="true">Bilbao</a></li>
                                <li><a href="#" data-checkable="true">Madrid</a></li>
                            </ul>
                        </li>
                        <li><a href="/" class="hasIcon"><i class="icon-place"></i><span>por Ciudad</span></a></li>
                    </ul>
                </li>
                <li><a href="#">Voy de tiendas</a></li>
                <li><a href="#">Me inspiro</a></li>
                <li><a href="#">Más</a></li>
            </ul>
        </nav>
        <div class="application">
            <p><span class="ffBook">Descargar app</span> <a class="ios" href="#" title="Buscolook for iOS"><i
                            class="icon-ios"></i></a> <a class="android" href="#" title="Buscolook for Android"><i
                            class="icon-android"></i></a></p>
        </div>
        <div class="title onlyMobile">
            <p>Cotilleo</p>
        </div>
    </div>
</header>

<section id="main">
<div class="width cf">
<div id="content">

<div class="filterRow cf">
    <div class="filters">
        <span class="title">Filtrar por:</span>
        <span class="option"><i class="icon-"></i> Por Marca</span>
        <span class="option"><i class="icon-category"></i> Por Categoria</span>
        <span class="option"><i class="icon-place"></i> Por Ciudad</span>

        <div class="searchWrap">
            <form action="?" method="post">
                <div class="search">
                    <input type="text" placeholder="Buscar"/>
                    <input type="submit" value="Search"/>
                </div>
            </form>
        </div>

								<span class="current">
									<a class="option" href="#">MIMOKI <i class="icon-close-small">x</i></a>
									<a class="option" href="#">TARAKABARRAKA <i class="icon-close-small">x</i></a>
									<a class="option" href="#">BILBAO <i class="icon-close-small">x</i></a>
								</span>

    </div>

    <div class="orders">
        <span class="title">Ordenar por:</span>
        <a href="#" class="active">Último</a>
        <a href="#">Popular</a>
        <a href="#">A-Z</a>
    </div>
</div>
<!--/.filterRow-->

<div class="grid">
<article class="item">
    <div class="heading">
        <div class="imageArea">
            <div class="image"><img src="images/products/logo_mimoki.jpg" alt="Mimoki logo"/><span></span></div>
        </div>
        <div class="nameArea">
            <div class="name">
                <h2><a href="#">Mimoki</a></h2>

                <h3>This dress is so amazing!!!</h3>
            </div>
        </div>
    </div>
    <div class="preview">
        <div class="gallery">
            <div class="slides owl-carousel">
                <div class="slide"><img class="lazyOwl" data-src="images/products/product1_image1.jpg" alt=""/><span
                            class="count">1/2</span></div>
                <div class="slide"><img class="lazyOwl" data-src="images/products/product1_image2.jpg" alt=""/><span
                            class="count">2/2</span></div>
            </div>
        </div>
        <div class="interaction">
            <div class="cf">
                <div class="actions">
                    <a href="#" title="Comment"><i class="icon-comment">Comments:</i> <span>17</span></a>
                    <a href="#" title="Like"><i class="icon-like">Likes:</i> <span>49</span></a>
                </div>
                <a href="#" class="more" title="More">more</a>
            </div>
        </div>
    </div>
</article>

<article class="item">
    <div class="heading">
        <div class="imageArea">
            <div class="image"><img src="images/products/logo_mimoki.jpg" alt="Mimoki logo"/><span></span></div>
        </div>
        <div class="nameArea">
            <div class="name">
                <h2><a href="#">Mimoki</a></h2>

                <h3>This dress is so amazing thing!!!</h3>
            </div>
        </div>
    </div>
    <div class="preview">
        <div class="gallery">
            <div class="slides owl-carousel">
                <div class="slide"><img class="lazyOwl" data-src="images/products/product1_image2.jpg" alt=""/><span
                            class="count">1/3</span></div>
                <div class="slide"><img class="lazyOwl" data-src="images/products/product1_image1.jpg" alt=""/><span
                            class="count">2/3</span></div>
                <div class="slide"><img class="lazyOwl" data-src="images/products/product1_image2.jpg" alt=""/><span
                            class="count">3/3</span></div>
            </div>
        </div>
        <div class="interaction">
            <div class="cf">
                <div class="actions">
                    <a href="#" title="Comment"><i class="icon-comment">Comments:</i> <span>17</span></a>
                    <a href="#" title="Like"><i class="icon-like">Likes:</i> <span>49</span></a>
                </div>
                <a href="#" class="more" title="More">more</a>
            </div>
        </div>
    </div>
</article>

<article class="item">
    <div class="heading">
        <div class="imageArea">
            <div class="image"><img src="images/products/logo_mimoki.jpg" alt="Mimoki logo"/><span></span></div>
        </div>
        <div class="nameArea">
            <div class="name">
                <h2><a href="#">Mimoki</a></h2>

                <h3>This dress is so amazing!!!</h3>
            </div>
        </div>
    </div>
    <div class="preview">
        <div class="gallery">
            <div class="slides owl-carousel">
                <div class="slide"><img class="lazyOwl" data-src="images/products/product1_image1.jpg" alt=""/><span
                            class="count">1/2</span></div>
                <div class="slide"><img class="lazyOwl" data-src="images/products/product1_image2.jpg" alt=""/><span
                            class="count">2/2</span></div>
            </div>
        </div>
        <div class="interaction">
            <div class="cf">
                <div class="actions">
                    <a href="#" title="Comment"><i class="icon-comment">Comments:</i> <span>17</span></a>
                    <a href="#" title="Like"><i class="icon-like">Likes:</i> <span>49</span></a>
                </div>
                <a href="#" class="more" title="More">more</a>
            </div>
        </div>
    </div>
</article>

<article class="item">
    <div class="heading">
        <div class="imageArea">
            <div class="image"><img src="images/products/logo_mimoki.jpg" alt="Mimoki logo"/><span></span></div>
        </div>
        <div class="nameArea">
            <div class="name">
                <h2><a href="#">Mimoki</a></h2>

                <h3>This dress is so amazing thing!!!</h3>
            </div>
        </div>
    </div>
    <div class="preview">
        <div class="gallery">
            <div class="slides owl-carousel">
                <div class="slide"><img class="lazyOwl" data-src="images/products/product1_image2.jpg" alt=""/><span
                            class="count">1/3</span></div>
                <div class="slide"><img class="lazyOwl" data-src="images/products/product1_image1.jpg" alt=""/><span
                            class="count">2/3</span></div>
                <div class="slide"><img class="lazyOwl" data-src="images/products/product1_image2.jpg" alt=""/><span
                            class="count">3/3</span></div>
            </div>
        </div>
        <div class="interaction">
            <div class="cf">
                <div class="actions">
                    <a href="#" title="Comment"><i class="icon-comment">Comments:</i> <span>17</span></a>
                    <a href="#" title="Like"><i class="icon-like">Likes:</i> <span>49</span></a>
                </div>
                <a href="#" class="more" title="More">more</a>
            </div>
        </div>
    </div>
</article>

<article class="item">
    <div class="heading">
        <div class="imageArea">
            <div class="image"><img src="images/products/logo_mimoki.jpg" alt="Mimoki logo"/><span></span></div>
        </div>
        <div class="nameArea">
            <div class="name">
                <h2><a href="#">Mimoki</a></h2>

                <h3>This dress is so amazing!!!</h3>
            </div>
        </div>
    </div>
    <div class="preview">
        <div class="gallery">
            <div class="slides owl-carousel">
                <div class="slide"><img class="lazyOwl" data-src="images/products/product1_image1.jpg" alt=""/><span
                            class="count">1/2</span></div>
                <div class="slide"><img class="lazyOwl" data-src="images/products/product1_image2.jpg" alt=""/><span
                            class="count">2/2</span></div>
            </div>
        </div>
        <div class="interaction">
            <div class="cf">
                <div class="actions">
                    <a href="#" title="Comment"><i class="icon-comment">Comments:</i> <span>17</span></a>
                    <a href="#" title="Like"><i class="icon-like">Likes:</i> <span>49</span></a>
                </div>
                <a href="#" class="more" title="More">more</a>
            </div>
        </div>
    </div>
</article>

<article class="item">
    <div class="heading">
        <div class="imageArea">
            <div class="image"><img src="images/products/logo_mimoki.jpg" alt="Mimoki logo"/><span></span></div>
        </div>
        <div class="nameArea">
            <div class="name">
                <h2><a href="#">Mimoki</a></h2>

                <h3>This dress is so amazing thing!!!</h3>
            </div>
        </div>
    </div>
    <div class="preview">
        <div class="gallery">
            <div class="slides owl-carousel">
                <div class="slide"><img class="lazyOwl" data-src="images/products/product1_image2.jpg" alt=""/><span
                            class="count">1/3</span></div>
                <div class="slide"><img class="lazyOwl" data-src="images/products/product1_image1.jpg" alt=""/><span
                            class="count">2/3</span></div>
                <div class="slide"><img class="lazyOwl" data-src="images/products/product1_image2.jpg" alt=""/><span
                            class="count">3/3</span></div>
            </div>
        </div>
        <div class="interaction">
            <div class="cf">
                <div class="actions">
                    <a href="#" title="Comment"><i class="icon-comment">Comments:</i> <span>17</span></a>
                    <a href="#" title="Like"><i class="icon-like">Likes:</i> <span>49</span></a>
                </div>
                <a href="#" class="more" title="More">more</a>
            </div>
        </div>
    </div>
</article>

<article class="item">
    <div class="heading">
        <div class="imageArea">
            <div class="image"><img src="images/products/logo_mimoki.jpg" alt="Mimoki logo"/><span></span></div>
        </div>
        <div class="nameArea">
            <div class="name">
                <h2><a href="#">Mimoki</a></h2>

                <h3>This dress is so amazing!!!</h3>
            </div>
        </div>
    </div>
    <div class="preview">
        <div class="gallery">
            <div class="slides owl-carousel">
                <div class="slide"><img class="lazyOwl" data-src="images/products/product1_image1.jpg" alt=""/><span
                            class="count">1/2</span></div>
                <div class="slide"><img class="lazyOwl" data-src="images/products/product1_image2.jpg" alt=""/><span
                            class="count">2/2</span></div>
            </div>
        </div>
        <div class="interaction">
            <div class="cf">
                <div class="actions">
                    <a href="#" title="Comment"><i class="icon-comment">Comments:</i> <span>17</span></a>
                    <a href="#" title="Like"><i class="icon-like">Likes:</i> <span>49</span></a>
                </div>
                <a href="#" class="more" title="More">more</a>
            </div>
        </div>
    </div>
</article>

<div class="break"></div>
</div>
<!--/.grid-->

</div>
<!--/#content-->

</div>
<!--/.width-->
</section>

<footer id="footer">
    <div class="width cf">
        <div class="copy">
            <img src="{{ asset('bundles/buscolookweb/images/logo_buscolook-white.png') }}" alt="Buscolook"/>
            <span class="ffBook">&copy;&nbsp;Buscolook 2013</span>
        </div>
        <div class="social">
            <span class="ffBook">Social</span>
            <ul class="cf">
                <li><a href="#"><i class="icon-facebook" title="Facebook"></i></a></li>
                <li><a href="#"><i class="icon-twitter" title="Twitter"></i></a></li>
                <li><a href="#"><i class="icon-pinterest" title="Pinterest"></i></a></li>
            </ul>
        </div>
    </div>
</footer>

</div>
<!--/#page-->
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% block block_javascript %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ asset('bundles/buscolookweb/js/scripts/jquery.js') }}"><\/script>');</script>
    {% javascripts
    '@BuscolookWebBundle/Resources/public/js/scripts/lib.js'
    '@BuscolookWebBundle/Resources/public/js/scripts/jquery-ui.js'
    '@BuscolookWebBundle/Resources/public/js/scripts/owl.carousel.min.js'
    '@BuscolookWebBundle/Resources/public/js/scripts/scripts.js' %}

    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>

</html>