<!doctype html>
<html lang="es" class="no-js">
<head>
    <meta charset="utf-8"/>
    <title>Buscolook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% block block_stylesheets %}
        {% stylesheets 'bundles/buscolookweb/css/styles/screen.css'
        'bundles/buscolookweb/css/styles/custom.css'
        'bundles/buscolookweb/css/styles/owl.carousel.css'
        'bundles/buscolookweb/css/styles/owl.theme.css'
        'bundles/buscolookweb/css/styles/font.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" media="screen,projection"/>
        {% endstylesheets %}
    {% endblock %}
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <style>
        fieldset {
            border:0px;
        }

        #topbar ul {
            margin: 0;
            padding: 0;
            list-style: none;
            position: relative;
            float: right;
            background: #eee;
            border-bottom: 1px solid #fff;
            border-radius: 3px;
        }

        #topbar li {
            float: left;
        }

        #topbar #signup a {
            border-radius: 0 3px 3px 0;
        }

        #topbar #login-trigger {
            border-radius: 3px 0 0 3px;
        }

        #topbar #login-trigger:hover,
        #topbar #login .active,
        #topbar #signup a:hover {
            background: #fff;
        }

        #login-content {
            display: none;
            position: absolute;
            top: 37px;
            right: -1;
            z-index: 999;
            background: #fff;
            background-image: linear-gradient(top, #fff, #eee);
            padding: 15px;
            box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
            border-radius: 3px 0 3px 3px;
        }

        #topbar li #login-content {
            right: 0;
            width: 250px;
        }

        /*--------------------*/

        #inputs input {
            background: #f1f1f1;
            padding: 6px 5px;
            margin: 0 0 5px 0;
            width: 238px;
            border: 1px solid #ccc;
            border-radius: 3px;
            box-shadow: 0 1px 1px #ccc inset;
            line-height: 20px;
        }

        #actions [type=submit] {
            background: #000;
            color: #FFF;
            border: 0;
            border-radius: 0;
            display: inline-block;
            padding: 9px 20px;
            font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif;
            font-size: 14px;
            cursor: pointer;
        }

        #inputs input:focus {
            background-color: #fff;
            border-color: #e8c291;
            outline: none;
            box-shadow: 0 0 0 1px #e8c291 inset;
        }
    </style>
</head>

<body id="">

<div id="page" {% block body_class %}{% endblock %}>
    {% block popup %}{% endblock %}

    <div id="topBar">
        <div class="width cf">
            <ul class="cf">
                {% if not is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('buscolook_register_buscolooker') }}">Registrar</a>/</li>
                    <li><a id="login-trigger" href="#">Iniciar sesión <i
                                    class="icon-login"></i></a>

                        <div id="login-content">
                            <form action="{{ path('login_check') }}" method="post">
                                <fieldset id="inputs" style="border: 0px">
                                    <input id="username" type="email" name="_username" placeholder="Escribe aquí tu email"
                                           required>
                                    <input id="password" type="password" name="_password" placeholder="Password"
                                           required>
                                </fieldset>
                                <fieldset id="actions" style="border: 0px">
                                    <input type="submit" id="submit" value="Accede a Buscolook">
                                </fieldset>
                            </form>
                        </div>
                    </li>
                {% else %}
                    {% if not is_granted('ROLE_BUSCOLOOKER') %}
                        {% set bussiness = app.security.getToken().getUser().getBussiness() %}
                        <li>
                            <a href="{{ path('buscolook_web_shop_public_profile',{'bussiness' : bussiness[0].id }) }}">Perfil</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('buscolook_web_buscolooker_public_profile',{'user' : app.security.getToken().getUser().getId() }) }}">Perfil</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{{ path('logout',{'user' : app.security.getToken().getUser().getId() }) }}">Logout</a>
                    </li>
                {% endif %}
                <li><a href="#">Mi Carrito <i class="icon-cart"></i> <span class="ffBook">(0)</span></a></li>
            </ul>
        </div>
    </div>
    <!--/#topBar-->
    {% block veil %}{% endblock %}

    <header id="header">
        <div class="width cf">
            <div class="logo">
                <h1><a href="/"><img src="{{ asset('bundles/buscolookweb/images/logo_buscolook.png') }}" alt="Buscolok"
                                     title="Buscolook - Homepage"/></a></h1>
            </div>
            {%  set url = app.request.attributes.get('_route') %}
            <div class="menuTrigger onlyMobile"><i class="icon-menu"></i></div>
            <nav id="menu">
                <ul class="cf parent">
                    <li><a class="home" href="/" ><i class="icon-home"></i><span class="hidden">Home</span></a></li>
                    <li><a class="menu-parent {{ url == 'buscolook_web_cotilleo' ? 'active':'' }}"
                           href="{{ path('buscolook_web_cotilleo',{'category':'ropa','type':'en','zona':'buscolook'}) }}">COTILLEO</a>
                        <ul class="child1">
                            <li><a href="/" class="hasIcon" data-clickable="true"><i class="icon-category"></i><span>por Categoria</span></a>
                                <ul class="child2" style="width:155px">
                                    {{ render(controller('BuscolookWebBundle:Default:renderFilters',
                                    {'entity':'SubCategory','category': (category is defined ? category : null),'zona': (zona is defined ? zona : null) })) }}
                                </ul>
                            </li>
                            <li><a href="/" class="hasIcon"><i class="icon-place"></i><span>por Ciudad</span></a>
                                <ul class="child2" style="width:155px">
                                    {{ render(controller('BuscolookWebBundle:Default:renderFilters',{'entity':'Locality','category': (category is defined ? category : null),'zona': (zona is defined ? zona : null) })) }}
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a {{ url == 'buscolook_web_punto_venta' ? 'class="active"':'' }} href="{{ path('buscolook_web_punto_venta',{'category':'ropa','type':'en','zona':'buscolook'}) }}">Voy de tiendas</a></li>
                    <li><a {{ url == 'buscolook_web_inspiro' ? 'class="active"':'' }} href="{{ path('buscolook_web_inspiro') }}">Me inspiro</a></li>
                    <li><a href="#">Más</a></li>
                </ul>
            </nav>
            <div class="application">
                <p><span class="ffBook">Descargar app</span> <a class="ios" href="#" title="Buscolook for iOS"><i
                                class="icon-ios"></i></a> <a class="android" href="#" title="Buscolook for Android"><i
                                class="icon-android"></i></a></p>
            </div>
            <div class="title onlyMobile">
                <p>Cotilleo</p>
            </div>
        </div>
    </header>

    {% block main %}
        <section id="main" {% block noSpace %}{% endblock %}>
            {% block autogallery %}{% endblock %}
            <div class="width cf">
                <div id="content">
                    {% block block_content %}

                    {% endblock %}
                </div>
            </div>
        </section>
    {% endblock %}

    <footer id="footer">
        <div class="width cf">
            <div class="copy">
                <img src="{{ asset('bundles/buscolookweb/images/logo_buscolook-white.png') }}" alt="Buscolook"/>
                <span class="ffBook">&copy;&nbsp;Buscolook 2013</span>
            </div>
            <div class="social">
                <span class="ffBook">Social</span>
                <ul class="cf">
                    <li><a href="#"><i class="icon-facebook" title="Facebook"></i></a></li>
                    <li><a href="#"><i class="icon-twitter" title="Twitter"></i></a></li>
                    <li><a href="#"><i class="icon-pinterest" title="Pinterest"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>

</div>
<!--/#page-->
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% block block_javascript %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ asset('bundles/buscolookweb/js/scripts/jquery.js') }}"><\/script>');</script>
    <script>
        $(document).ready(function(){
            $('#login-trigger').click(function(){
                $(this).next('#login-content').slideToggle();
                $(this).toggleClass('active');

                if ($(this).hasClass('active')) $(this).find('span').html('&#x25B2;')
                else $(this).find('span').html('&#x25BC;')
            })
        });
    </script>
    {% javascripts
    '@BuscolookWebBundle/Resources/public/js/scripts/lib.js'
    '@BuscolookWebBundle/Resources/public/js/scripts/jquery-ui.js'
    '@BuscolookWebBundle/Resources/public/js/scripts/owl.carousel.min.js'
    '@BuscolookWebBundle/Resources/public/js/scripts/scripts.js' %}

    <script type="text/javascript" src="{{ asset_url }}"></script>
    <script>
        $(document).ready(function () {
            $(".menu-parent").click(function (e) {
                window.location = $(this).attr('href');
            })
        });
    </script>
    {% endjavascripts %}
{% endblock %}
</body>

</html>