{% extends 'BuscolookWebBundle::layout.html.twig' %}

{% block block_content %}
    {% if is_granted('ROLE_USER') %}
        {% set user_id = app.security.getToken().getUser().getId() %}
    {% endif %}

    <div id="content">

        <h1 class="hidden">Voy de tiendas</h1>

        <div class="filterRow cf">
            <div class="filters">
                <span class="title">Filtrar por:</span>

                <div class="filterByItem filterPlace">
                    <ul class="filterMenu">
                        <li><span class="by"><i class="icon-place"></i> Por Ciudad</span>
                            <ul class="navLikeMenu">
                                <li><a href="#">Barcelona</a></li>
                                <li class="active"><a href="#">Bilbao</a></li>
                                <li><a href="#">Madrid</a></li>
                            </ul>
                        </li>
                    </ul>
                    <a class="remove" href="#">Bilbao <i class="icon-close-small">x</i></a>
                </div>

                <div class="searchWrap">
                    <form action="?" method="post">
                        <div class="search">
                            <input type="text" placeholder="Buscar"/>
                            <input type="submit" value="Search"/>
                        </div>
                    </form>
                </div>

            </div>

            <div class="orders">
                <span class="title">Ordenar por:</span>
                <a href="#" class="active">Último</a>
                <a href="#">Popular</a>
                <a href="#">A-Z</a>
            </div>
        </div>
        <!--/.filterRow-->

        <div class="grid buscolookers">

            {% for buscolooker in buscolookers %}
                <article class="item">
                    <div class="preview">
                        <div class="gallery">
                            <div class="slides owl-carousel">
                                {% for image in buscolooker.images %}
                                <div class="slide"><img class="lazyOwl"
                                                        data-src="{{ custom_asset('fichaje', image.fichaje.id, 'normal', image.image) }}"
                                                        alt=""/><span class="count">2/2</span></div>
                                {% endfor %}
                            </div>
                            <div class="profileImage">
                                <div class="imageWrapTail">
                                    <div class="imageWrap">
                                        <div class="alignWrap">
                                            <div class="align">
                                                <img src="{{ asset(buscolooker.items.logo is defined and buscolooker.items.logo is not null ? '/uploads/documents/'~buscolooker.items.logo : 'bundles/buscolookweb/images/profile_person1.jpg')| imagine_filter('profile_logo') }}">
                                            </div>
                                        </div>
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <a class="like" href="#"><i class="icon-like-black"></i></a>
                        </div>
                    </div>
                    <div class="heading">
                        <div class="cf">
                            <div class="titleArea">
                                <h2>{{ buscolooker.items.username }}</h2>
                            </div>
                            <div class="buttonArea">
                                <a href="#" class="button follow">Seguir</a>
                            </div>
                        </div>
                    </div>
                </article>
            {% endfor %}

            <div class="break"></div>
        </div>
        <!--/.grid-->

    </div><!--/#content-->
{% endblock %}