{% extends 'BuscolookWebBundle::layout.html.twig' %}

{% block main %}
    <section id="main" class="noSpace">
        <div class="autoGallery">
            <img src="{{ asset('bundles/buscolookweb/images/gallery_profile.jpg') }}" alt="">
        </div>
        <div class="width cf">
            <div id="content">

                <div class="profileHead">
                    <div class="profileHeadInner cf">
                        <div class="profileImage">
                            <div class="imageWrapTail">
                                <div class="imageWrap">
                                    <div class="alignWrap">
                                        <div class="align">
                                            <img src="{{ '/uploads/documents/'~bussiness.logo }}">
                                        </div>
                                    </div>
                                    <!--/.alignImage-->
                                    <span></span>
                                </div>
                                <!--/.imageWrap-->
                            </div>
                            <!--/.imageWrapTail-->
                        </div>
                        <!--/.profileImage-->
                        <div class="profileContent">
                            <div class="headLine">
                                <h1>{{ bussiness.name }}</h1>
                                <a href="#" class="like"><i class="icon-like-black"></i> seguir</a>
                                <span class="info">37 seguidores <span>|</span> 18 prendas</span>
                            </div>
                            <p>{{ bussiness.description }}</p>

                            <!--<h2>Marcas</h2>

                            <p>CPH | Fred de la Bretoniere | Lio de Faldas | M Missoni | Mugnai | Rabens Saloner | Stella Forest
                                | Studio Malori |</p>-->
                        </div>
                        <!--/.profileCOntent-->
                        <div class="profileContact">
                            <h2>Cómo y dónde</h2>

                            <div class="contacts">
                                <p><i class="icon-phone"></i> {{ bussiness.phone }}</p>

                                <p><i class="icon-mail"></i> <a href="{{ bussiness.email }}">{{ bussiness.email }}</a>
                                </p>

                                <p><i class="icon-place"></i> {{ bussiness.locality.locality }}</p>

                                <p><i class="icon-web"></i> <a href="{{ bussiness.web }}"
                                                               class="tBlank">{{ bussiness.web }}</a>
                                </p>
                            </div>
                            <ul class="actionIcons">
                                <li><a href="#"><i class="icon-share-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-share-pinterest"></i></a></li>
                                <li><a href="#"><i class="icon-share-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-share-instagram"></i></a></li>
                            </ul>
                        </div>
                        <!--/.profileContact-->
                    </div>
                    <!--/.cf-->
                </div>
                <!--/.profileHead-->


                <div class="contentTop cf">
                    <a href="/" class="back ffBook">&lt;&nbsp;Volver</a>

                    <div class="orders">
                        <a href="#" class="active">Último</a>
                        <a href="#">Popular</a>
                        <a href="#">A-Z</a>
                    </div>
                </div>
                <!--/.contentTop-->

                <div class="grid categories">
                    {% for fichaje in fichajes %}
                        <article class="item">
                            <div class="preview">
                                <div class="heading">
                                    <p class="subtitle">{{ fichaje.name }}</p>

                                    <!--<h2><a href="http://www.google.com/" data-href="same">Lorem ipsum sit amet</a></h2>-->
                                </div>
                                <div class="gallery">
                                    <div class="slides owl-carousel">
                                        {% for image in fichaje.images %}
                                            <div class="slide">
                                            <div class="border"><img class="lazyOwl"
                                                                     data-src="{{ custom_asset('fichaje',fichaje.id,'normal',image.image) }}"
                                                                     alt=""/><span class="count">1/3</span></div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </article>
                    {% endfor %}

                    <div class="break"></div>
                </div>
            </div>
        </div>
        <!--/.grid-->

    </section>
{% endblock %}