{% extends 'BuscolookWebBundle::layout.html.twig' %}

{% block body_class %}
{% endblock %}

{% block veil %}
    {% set myProfile = false %}
    {% set logged = false %}

    {% if is_granted('ROLE_BUSCOLOOKER') %}
        {% set logged = true %}
        {% if app.user.id == user.id %}
            <div id="coverHeader"></div>
            {% set myProfile = true %}
        {% endif %}
    {% endif %}

{% endblock %}


{% block popup %}
    {% if is_granted('ROLE_BUSCOLOOKER') %}
        {% set logged = true %}
        {% if app.user.id == user.id %}
            {% include 'BuscolookWebBundle:Fichaje:Include/popupFichaje.html.twig' with {'hide':'mfp-hide','entity':'buscolooker','default':'true'} %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block block_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/buscolookweb/css/styles/magnific-popup.css') }}"/>
    <style>
        #file-input {
            display: none;
        }

        #file-link {
            /*border-color: #f1f0f0;
            content: '';
            width: 17px;
            height: 17px;
            background: url("/bundles/buscolookweb/css/images/sprite.png") -35px -140px no-repeat;
            background-size: 150px 200px;*/
        }
    </style>
{% endblock %}

{% block block_javascript %}
    {{ parent() }}
    <script type="text/javascript">
        document.cookie = "buscolookerId={{ is_granted('ROLE_BUSCOLOOKER') ? app.security.getToken().getUser().id : '0' }}";
    </script>
    <script src="{{ asset('bundles/buscolookweb/js/scripts/jquery.magnific-popup.min.js') }}"></script>
    {% if is_granted('ROLE_BUSCOLOOKER') and app.user.id == user.id %} %}
        <script src="http://malsup.github.com/jquery.form.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                var magnificPopup = $.magnificPopup.instance;
                magnificPopup.close();

                $('.account-button').click(function (e) {
                    e.preventDefault();
                    var tab = $(this).data('tab');
                    $('.account-tab').css('display', 'none')
                    $("#" + tab).css('display', 'block');
                });
                $('.account-button').click(function (e) {
                    e.preventDefault();
                    var tab = $(this).data('tab');
                    $('.account-tab').css('display', 'none')
                    $("#" + tab).css('display', 'block');
                });
                $(document).on('click', '#add-product', function (e) {
                    $('.formWrapper').ajaxForm(function (data) {
                        html = $.ajax({
                            url: Routing.generate('buscolook_web_fichaje_popup_add_fichaje_buscolooker',
                                    {'fichajeId': data.fichaje.id, 'buscolooker':{{ app.user.id}} }),
                            success: function (data) {
                                $(".rightCol").html(data);
                                BUSCOLOOK.togglers.init();
                                $(".inputSelectWrap select").customSelect({
                                    customClass: "inputSelect"
                                });
                            }
                        });
                    });
                });
                $(document).on('click', '#submit-images', function (e) {
                    $('#form-file-input').ajaxForm(function (data) {
                        makeResult(data.msg);
                    });
                });

            });
        </script>
        <script>
            function makeFileList() {//get the input and UL list
                var input = document.getElementById('file-input');
                var list = document.getElementById('fileList');

                //empty list for now...
                while (list.hasChildNodes()) {
                    list.removeChild(list.firstChild);
                }

                //for every file...
                for (var x = 0; x < input.files.length; x++) {
                    //add to list
                    var li = document.createElement('li');
                    li.innerHTML = 'File ' + (x + 1) + ':  ' + input.files[x].name;
                    list.appendChild(li);
                    //alert('ok');
                }
            }

            function makeResult(result) {//get the input and UL list
                var list = document.getElementById('fileList');

                //empty list for now...
                while (list.hasChildNodes()) {
                    list.removeChild(list.firstChild);
                }

                //add to list
                var li = document.createElement('li');
                li.innerHTML = result;
                list.appendChild(li);
                //alert('ok');
            }
        </script>
        {# include 'BuscolookWebBundle:Include:file-upload.html.twig' #}
    {% endif %}
{% endblock %}

{% block main %}
    {% set myProfile = false %}
    {% set logged = false %}

    {% if is_granted('ROLE_BUSCOLOOKER') %}
        {% set logged = true %}
        {% if app.user.id == user.id %}
            {% set myProfile = true %}
        {% else %}
            {% set myProfile = false %}
        {% endif %}
    {% endif %}
    <section id="main" class="noSpace">
    <div class="autoGallery">
        <img src="{{ asset('bundles/buscolookweb/images/gallery_profile.jpg') }}" alt="">
    </div>

    <div class="width cf">
        <div id="content">

            <div class="profileHead">
                <div class="profileHeadInner cf">
                    <div class="profileImage">
                        <div class="imageWrapTail">
                            <div class="imageWrap">
                                <div class="alignWrap">
                                    <div class="align">
                                        <img src="{{ asset(user.logo is defined and user.logo is not null ? '/uploads/documents/'~user.logo : 'bundles/buscolookweb/images/profile_person1.jpg')| imagine_filter('profile_logo') }}">
                                    </div>
                                </div>
                                <!--/.alignImage-->
                                <span></span>
                            </div>
                            <!--/.imageWrap-->
                        </div>
                        <!--/.imageWrapTail-->
                    </div>
                    <!--/.profileImage-->
                    <div class="profileContent">
                        <div class="headLine">
                            <h1>{{ user.name }}</h1>

                            <form action="">
                                <input type="text" placeholder="introduce tu código"/>
                                <button class="icon-info">i</button>
                            </form>
                        </div>
                        <p class="status">These boos are made for walkin! xoxo</p>
                    </div>
                    <!--/.profileCOntent-->
                    <div class="profileContact">
                        <h2>Dónde</h2>

                        <div class="contacts">
                            <p><i class="icon-mail"></i> <a
                                        href="mailto:{{ user.email }}">{{ user.email }}</a>
                            </p>
                            {% if user.locality is defined and user.locality is not null %}
                                <p><i class="icon-place"></i>{{ user.locality.locality }}</p>
                            {% endif %}
                            {% if user.web is defined and user.web is not null %}
                            <p><i class="icon-web"></i> <a href="http://storewebsitedomain.com"
                                                           class="tBlank">{{ user.web }}</a>
                                {% endif %}
                            </p>
                        </div>
                        <ul class="actionIcons">
                            <li><a href="#"><i class="icon-share-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-share-pinterest"></i></a></li>
                            <li><a href="#"><i class="icon-share-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-share-instagram"></i></a></li>
                        </ul>
                    </div>
                    <!--/.profileContact-->
                </div>
                <!--/.cf-->
            </div>
            <!--/.profileHead-->

        </div>
        <!--/#content-->

    </div>
    <!--/.width-->

    <div class="profileContentHeader">
        <div class="width">
            <ul class="cf">
                <li class="item active" id="fichajes"><a href="#"><i class="icon-upload"></i>Fichajes
                        <span>({{ garments is defined and garments is not null ? (garments | length) : 0 }})</span></a>
                </li>
                <li class="item" id="favoritos"><a href="#"><i class="icon-like"></i>Favoritos
                        <span>({{ favourites | length }})</span></a></li>
                <li class="item" id="seguidores"><a href="#"><i class="icon-eye"></i>Seguidores
                        <span>({{ user.favs is defined and user.favs is not null ? (user.favs | length) : 0 }}
                            )</span></a></li>
                <li class="item" id="siguiendo"><a href="#"><i class="icon-eye-check"></i>Siguiendo
                        <span>({{ following is defined ? (following | length) : 0 }})</span></a></li>
                {% if myProfile %}
                    <li class="item" id="account"><a href="#"><i class="icon-settings"></i>Mi
                            cuenta</a>
                    </li>
                {% else %}
                    {% if logged %}
                        <li class="followItem"><a href="#" class=""><i class="icon-like-black"></i>Seguir</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
    <!--/.profileContentHeader-->

    <div class="profileContent">
    <div class="width">
    {% block subContent %}
    <div class="tabsContent" id="fichajesContent">
        {% include 'BuscolookWebBundle:Buscolooker:Include/fichajes.html.twig' %}
    </div>
    <div class="tabsContent" id="seguidoresContent" style="display: none">
        <div class="followList">
            {% if user.favs is defined and user.favs is not null %}
                {% for fav in user.favs %}
                    <div class="listItem">
                        <div class="cf">
                            <div class="user">
                                <div class="imageWrap">
                                    <div class="userImage">
                                            <span class="image"><img
                                                        src="{{ asset(fav.user.logo is defined and fav.user.logo is not null ? '/uploads/documents/'~fav.user.logo : 'bundles/buscolookweb/images/profile_person1.jpg')| imagine_filter('profile_logo') }}"
                                                        alt=""></span>
                                    </div>
                                </div>
                                <div class="name">{{ fav.user.fullname }}</div>
                            </div>
                            <div class="action">
                                <a href="#" class="follow following" data-alt-text="Dejar de seguir">Siguiendo</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <!--/.followList-->
    </div>
    <div class="tabsContent" id="favoritosContent" style="display: none">

        <div class="filterRow cf">
            <div class="filters">
                <span class="title">Filtrar por:</span>

                <div class="filterByItem filterPlace">
                    <ul class="filterMenu">
                        <li><span class="by"><i class="icon-place"></i> Por Ciudad</span>
                            <ul class="navLikeMenu">
                                <li><a href="#">Barcelona</a></li>
                                <li class="active"><a href="#">Bilbao</a></li>
                                <li><a href="#">Madrid</a></li>
                            </ul>
                        </li>
                    </ul>
                    <a class="remove" href="#">Bilbao <i class="icon-close-small">x</i></a>
                </div>

                <div class="filterByItem filterBag">
                    <ul class="filterMenu">
                        <li><span class="by"><i class="icon-bag"></i> Por Tienda</span>
                            <ul class="navLikeMenu">
                                <li><a href="#">Barcelona</a></li>
                                <li class="active"><a href="#">Bilbao</a></li>
                                <li><a href="#">Madrid</a></li>
                            </ul>
                        </li>
                    </ul>
                    <a class="remove" href="#">Category <i class="icon-close-small">x</i></a>
                </div>

                <div class="filterByItem filterBrand">
                    <ul class="filterMenu">
                        <li><span class="by"><i class="icon-brand"></i> Por Marca</span>
                            <ul class="navLikeMenu">
                                <li><a href="#">Barcelona</a></li>
                                <li class="active"><a href="#">Bilbao</a></li>
                                <li><a href="#">Madrid</a></li>
                            </ul>
                        </li>
                    </ul>
                    <a class="remove" href="#">Dolce & Gabbana <i class="icon-close-small">x</i></a>
                </div>

                <div class="searchWrap">
                    <form action="?" method="post">
                        <div class="search">
                            <input type="text" placeholder="Buscar"/>
                            <input type="submit" value="Search"/>
                        </div>
                    </form>
                </div>

            </div>

            <div class="orders">
                <a href="#" class="active">Último</a>
                <a href="#">Popular</a>
                <a href="#">A-Z</a>
            </div>
        </div>
        <!--/.filterRow-->

        <div class="grid brandBelow">
            {% if favourites is defined and favourites is not null %}
                {% for fav in favourites %}
                    <article class="item">
                        <div class="preview">
                            <div class="gallery">
                                <div class="slides owl-carousel">
                                    {% for image in fav.fichaje.images %}
                                        <div class="slide"><img class="lazyOwl"
                                                                data-src="{{ custom_asset('fichaje',fav.fichaje.id,'normal',image.image) }}"
                                                                alt=""/><span class="count">1/2</span></div>
                                    {% endfor %}
                                </div>
                                <a class="like" href="#"><i class="icon-like-black-full"></i></a>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            {% endif %}


            <div class="break"></div>
        </div>
        <!--/.grid-->

    </div>
    <div class="tabsContent" id="accountContent" style="display: none">

        {% include 'BuscolookWebBundle:Buscolooker:Include/account.html.twig' %}
    </div>
    <div class="tabsContent" id="siguiendoContent" style="display: none">
        <div class="followList">
            {% for item in following %}
                <div class="listItem">
                    <div class="cf">
                        <div class="user">
                            <div class="imageWrap">
                                <div class="userImage">
                                    <span class="image"><img
                                                src="{{ asset(item.bussiness.logo is defined and item.bussiness.logo is not null ? '/uploads/documents/'~item.bussiness.logo : 'bundles/buscolookweb/images/profile_person1.jpg')| imagine_filter('profile_logo') }}"
                                                alt=""></span>
                                </div>
                            </div>
                            <div class="name">{{ item.bussiness.name }}</div>
                        </div>
                        <div class="action">
                            <a href="#" class="follow following" data-alt-text="Dejar de seguir">Siguiendo</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        {% endblock %}
    </div>
    </div>
    <!--/.profileContent-->
    </section>
{% endblock %}