{% extends 'BuscolookWebBundle::layout.html.twig' %}

{% block main %}
    <div class="autoGallery">
    <img src="{{ asset('bundles/buscolookweb/images/gallery_profile.jpg') }}" alt="">
    </div>

    <div class="width cf">
        <div id="content">

            <div class="profileHead">
                <div class="profileHeadInner cf">
                    <div class="profileImage">
                        <div class="imageWrapTail">
                            <div class="imageWrap">
                                <div class="alignWrap">
                                    <div class="align">
                                        <img src="images/people/profile_person1.jpg">
                                    </div>
                                </div>
                                <!--/.alignImage-->
                                <span></span>
                            </div>
                            <!--/.imageWrap-->
                        </div>
                        <!--/.imageWrapTail-->
                    </div>
                    <!--/.profileImage-->
                    <div class="profileContent">
                        <div class="headLine">
                            <h1>Juliana Jimenez Barreto</h1>
                        </div>
                        <p class="status">These boos are made for walkin! xoxo</p>
                    </div>
                    <!--/.profileCOntent-->
                    <div class="profileContact">
                        <h2>Dónde</h2>

                        <div class="contacts">
                            <p><i class="icon-mail"></i> <a href="mailto:atencion@storewebsitedomain.com">atencion@storewebsitedomain.com</a>
                            </p>

                            <p><i class="icon-place"></i> Bilbao, Madrid</p>

                            <p><i class="icon-web"></i> <a href="http://storewebsitedomain.com" class="tBlank">storewebsitedomain.com</a>
                            </p>
                        </div>
                        <ul class="actionIcons">
                            <li><a href="#"><i class="icon-share-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-share-pinterest"></i></a></li>
                            <li><a href="#"><i class="icon-share-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-share-instagram"></i></a></li>
                        </ul>
                    </div>
                    <!--/.profileContact-->
                </div>
                <!--/.cf-->
            </div>
            <!--/.profileHead-->

        </div>
        <!--/#content-->

    </div><!--/.width-->

    <div class="profileContentHeader">
        <div class="width">
            <ul class="cf">
                <li class="item active"><a href="#"><i class="icon-"></i>Fichajes <span>(49)</span></a></li>
                <li class="item"><a href="#"><i class="icon-"></i>Favoritos <span>(128)</span></a></li>
                <li class="item"><a href="#"><i class="icon-"></i>Seguidores <span>(261)</span></a></li>
                <li class="item"><a href="#"><i class="icon-"></i>Siguiendo <span>(43)</span></a></li>
                <li class="followItem"><a href="#" class=""><i class="icon-like-black"></i>Seguir</a></li>
            </ul>
        </div>
    </div><!--/.profileContentHeader-->

    <div class="profileContent">
        <div class="width">
            <div class="contentTop cf">
                <div class="orders">
                    <a href="#" class="active">Último</a>
                    <a href="#">Popular</a>
                    <a href="#">A-Z</a>
                </div>
            </div>
            <!--/.contentTop-->

            <div class="grid brandAbove">
                <article class="item">
                    <div class="preview">
                        <div class="gallery">
                            <div class="slides owl-carousel">
                                <div class="slide">
                                    <div class="border"><img class="lazyOwl"
                                                             data-src="images/products/product1_image1.jpg"
                                                             alt=""/><span class="count">1/2</span></div>
                                </div>
                                <div class="slide">
                                    <div class="border"><img class="lazyOwl"
                                                             data-src="images/products/product1_image2.jpg"
                                                             alt=""/><span class="count">2/2</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="interaction">
                            <div class="cf">
                                <div class="actions">
                                    <a href="#" title="Comment"><i class="icon-comment">Comments:</i>
                                        <span>17</span></a>
                                    <a href="#" title="Like"><i class="icon-like">Likes:</i> <span>49</span></a>
                                </div>
                                <a href="#" class="more" title="More" data-href="http://www.google.com/">more</a>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="item">
                    <div class="preview">
                        <div class="gallery">
                            <div class="slides owl-carousel">
                                <div class="slide">
                                    <div class="border"><img class="lazyOwl"
                                                             data-src="images/products/product1_image2.jpg"
                                                             alt=""/><span class="count">1/3</span></div>
                                </div>
                                <div class="slide">
                                    <div class="border"><img class="lazyOwl"
                                                             data-src="images/products/product1_image1.jpg"
                                                             alt=""/><span class="count">2/3</span></div>
                                </div>
                                <div class="slide">
                                    <div class="border"><img class="lazyOwl"
                                                             data-src="images/products/product1_image2.jpg"
                                                             alt=""/><span class="count">3/3</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="interaction">
                            <div class="cf">
                                <div class="actions">
                                    <a href="#" title="Comment"><i class="icon-comment">Comments:</i>
                                        <span>17</span></a>
                                    <a href="#" title="Like"><i class="icon-like">Likes:</i> <span>49</span></a>
                                </div>
                                <a href="#" class="more" title="More">more</a>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="item">
                    <div class="preview">
                        <div class="gallery">
                            <div class="slides owl-carousel">
                                <div class="slide">
                                    <div class="border"><img class="lazyOwl"
                                                             data-src="images/products/product1_image1.jpg"
                                                             alt=""/><span class="count">1/2</span></div>
                                </div>
                                <div class="slide">
                                    <div class="border"><img class="lazyOwl"
                                                             data-src="images/products/product1_image2.jpg"
                                                             alt=""/><span class="count">2/2</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="interaction">
                            <div class="cf">
                                <div class="actions">
                                    <a href="#" title="Comment"><i class="icon-comment">Comments:</i>
                                        <span>17</span></a>
                                    <a href="#" title="Like"><i class="icon-like">Likes:</i> <span>49</span></a>
                                </div>
                                <a href="#" class="more" title="More">more</a>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="item">
                    <div class="preview">
                        <div class="gallery">
                            <div class="slides owl-carousel">
                                <div class="slide">
                                    <div class="border"><img class="lazyOwl"
                                                             data-src="images/products/product1_image2.jpg"
                                                             alt=""/><span class="count">1/3</span></div>
                                </div>
                                <div class="slide">
                                    <div class="border"><img class="lazyOwl"
                                                             data-src="images/products/product1_image1.jpg"
                                                             alt=""/><span class="count">2/3</span></div>
                                </div>
                                <div class="slide">
                                    <div class="border"><img class="lazyOwl"
                                                             data-src="images/products/product1_image2.jpg"
                                                             alt=""/><span class="count">3/3</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="interaction">
                            <div class="cf">
                                <div class="actions">
                                    <a href="#" title="Comment"><i class="icon-comment">Comments:</i>
                                        <span>17</span></a>
                                    <a href="#" title="Like"><i class="icon-like">Likes:</i> <span>49</span></a>
                                </div>
                                <a href="#" class="more" title="More">more</a>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="item">
                    <div class="preview">
                        <div class="gallery">
                            <div class="slides owl-carousel">
                                <div class="slide">
                                    <div class="border"><img class="lazyOwl"
                                                             data-src="images/products/product1_image1.jpg"
                                                             alt=""/><span class="count">1/2</span></div>
                                </div>
                                <div class="slide">
                                    <div class="border"><img class="lazyOwl"
                                                             data-src="images/products/product1_image2.jpg"
                                                             alt=""/><span class="count">2/2</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="interaction">
                            <div class="cf">
                                <div class="actions">
                                    <a href="#" title="Comment"><i class="icon-comment">Comments:</i>
                                        <span>17</span></a>
                                    <a href="#" title="Like"><i class="icon-like">Likes:</i> <span>49</span></a>
                                </div>
                                <a href="#" class="more" title="More">more</a>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="item">
                    <div class="preview">
                        <div class="gallery">
                            <div class="slides owl-carousel">
                                <div class="slide">
                                    <div class="border"><img class="lazyOwl"
                                                             data-src="images/products/product1_image2.jpg"
                                                             alt=""/><span class="count">1/3</span></div>
                                </div>
                                <div class="slide">
                                    <div class="border"><img class="lazyOwl"
                                                             data-src="images/products/product1_image1.jpg"
                                                             alt=""/><span class="count">2/3</span></div>
                                </div>
                                <div class="slide">
                                    <div class="border"><img class="lazyOwl"
                                                             data-src="images/products/product1_image2.jpg"
                                                             alt=""/><span class="count">3/3</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="interaction">
                            <div class="cf">
                                <div class="actions">
                                    <a href="#" title="Comment"><i class="icon-comment">Comments:</i>
                                        <span>17</span></a>
                                    <a href="#" title="Like"><i class="icon-like">Likes:</i> <span>49</span></a>
                                </div>
                                <a href="#" class="more" title="More">more</a>
                            </div>
                        </div>
                    </div>
                </article>

                <div class="break"></div>
            </div>
            <!--/.grid-->
        </div>
    </div><!--/.profileContent-->
{% endblock %}