{% extends 'BuscolookWebBundle::layout.html.twig' %}

{% block block_content %}
    <div class="contentTop">
        <a href="{{ path('buscolook_homepage') }}" class="back ffBook">&lt;&nbsp;Volver</a>
    </div>

    <div class="productDetail cf">
        <div class="headingArea">
            <div class="heading">
                <div class="imageArea">
                    <div class="image">

                        {% if fichaje.bussiness is defined and fichaje.bussiness is not null  %}
                            {% set bussiness = fichaje.bussiness %}
                        {% else %}
                            {% set bussiness = fichaje.garments[0].shops[0].bussiness %}
                        {% endif %}


                        {% set image = asset('uploads/documents/' ~ bussiness.logo) %}

                        <img src="{{ image }}" alt="{{ bussiness.name }} logo"/>
                        <span></span>
                    </div>
                </div>
                <div class="nameArea">
                    <div class="name">
                        <h1>
                            <a href="#">{{ bussiness.name }}</a>
                        </h1>

                        <p class="subtitle">{{ fichaje.name }}</p>
                    </div>
                </div>
            </div>
            <span class="updated">Hace {{ fichaje.createdAt|days_passed }} días</span>
        </div>
        <div class="galleryArea">
            <div class="gallery bigGallery">
                <div class="slides owl-carousel-big">
                    {% for image in fichaje.images %}
                        <div class="slide">
                            <div class="border">
                                {% set src = custom_asset('fichaje',fichaje.id,'normal', image.image)  %}
                                <img class="lazyOwl" data-src="{{ src }}" alt="{{ image.name }}"/>
                                <span class="count">{{ loop.index }}/{{ fichaje.images|length }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="contentArea">
            <div class="productItemsWrap">
                {% for garment in fichaje.garments %}
                    <div class="productItem">
                        <div class="lineHeading cf">
                            <div class="name">
                                <h2>{{ garment.name }}</h2>
                            </div>
                            <div class="price">
                                <p>
                                    <em>{{ garment.price }}</em>&nbsp;&euro;
                                </p>
                            </div>
                        </div>
                        {% if garment.brand is not null %}
                            <div class="lineBrand cf">
                                <div class="brand">
                                    <p>
                                        <i class="icon-brand"></i> {{ garment.brand.name }}
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                        <div class="lineOptions">
                            <div class="cf">
                                <form action="?" method="post">
                                    <div class="cf">
                                        <div class="size">
                                            <label for="size_product1" class="hidden">Talla</label>

                                            <div class="inputSelectWrap">
                                                <select name="size_product1" id="size_product1">
                                                    <option value="1">talla</option>
                                                    <option value="2">talla</option>
                                                    <option value="3">talla</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="buy">
                                            <button type="submit" class="button">
                                                <i class="icon-cart-black"></i>
                                                <span>comprar online</span>
                                            </button>
                                        </div>
                                        <div class="shop">
                                            <a href="#" class="button">
                                                <i class="icon-place"></i>
                                                <span>localizar en la tienda</span>
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="padding">
                {{ include('BuscolookWebBundle:Fichaje:Include/links.html.twig') }}
                {{ include('BuscolookWebBundle:Fichaje:Include/action-icons.html.twig') }}
                <div class="socialBox">
                    <div class="tabs">
                        <div class="tabsNav">
                            <ul class="cf">
                                <li>
                                    <a href="#product_comments" class="active">
                                        <i class="icon-comment-black"></i> <em>{{ fichaje.comments|length }}</em> comentários
                                    </a>
                                </li>
                                <li>
                                    <a href="#product_likes" class="">
                                        <i class="icon-like-black-full"></i> <em>{{ fichaje.favs|length }}</em> gustan esto
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tabsWrap">
                            <div class="tab" id="product_comments">
                                <div class="tabInner">
                                    {% for comment in fichaje.comments %}
                                        <div class="commentAreaWrap">
                                            <div class="commentArea">
                                                <div class="userImage">
                                                    <span class="image">
                                                        {% set src = asset('uploads/documents/' ~ comment.user.logo) %}
                                                        <img src="{{ src }}" alt="Comentario de {{ comment.user.username }}" />
                                                        <span></span>
                                                    </span>
                                                </div>
                                                <div class="commentContent">
                                                    <p class="author">{{ comment.user.fullName }}</p>
                                                    <p class="text">{{ comment.comment }}</p>
                                                    <p class="actions">
                                                        <span class="time">Hace {{ comment.createdAt|days_passed }} días</span>
                                                        <span class="links">
                                                            - <a href="#">Reply</a>
                                                            - <a href="#">Like</a>
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                    {% if is_granted('ROLE_USER') %}
                                    <div class="commentAreaWrap">
                                        <div class="commentArea">
                                            <div class="userImage">
                                                <span class="image">
                                                    {% if app.user %}
                                                        {% set src = asset('uploads/documents/' ~ app.user.logo) %}
                                                        <img src="{{ src }}" alt="{{ app.user.fullName }}" />
                                                        <span></span>
                                                    {% endif %}
                                                </span>
                                            </div>
                                            <div class="commentContent newComment">
                                                <form action="{{ path('buscolook_fichaje_add_comment', { 'id' : fichaje.id }) }}" method="post">
                                                    <label for="new_comment" class="hidden">Comentar:</label>
                                                    <div class="textareaWrap">
                                                        <textarea placeholder="Añadir comentario..." name="comment" id="new_comment"></textarea>
                                                    </div>
                                                    <div class="options">
                                                        <input class="vihi" type="checkbox" name="publish" id="publish" />
                                                        <label class="forCheckbox publishLabel" for="publish">Publicar en mi muro</label>
                                                        <button class="button" type="submit">
                                                            <i class="icon-comment-black"></i>
                                                            comentar
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}

                                </div>
                            </div>
                            <div class="tab" id="product_likes" style="display: none;">
                                <div class="tabInner">
                                    <div class="productLikes">
                                        {% for like in fichaje.favs %}
                                            <a href="{{ path('buscolook_web_buscolooker_public_profile', { 'user' : like.user.id }) }}" class="personLiked">
                                                <span class="image">
                                                    {% set image = asset('uploads/documents/' ~ like.user.logo) %}
                                                    <img src="{{ image }}" alt="{{ like.user.name }}" />
                                                    <span></span>
                                                </span>
                                                <span class="fullName">{{ like.user.fullUserName }}</span>
                                                <span class="nickName">{{ like.user.username }}</span>
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
