<div class="reasons cf">
    <div class="reason r1">
        <div class="image">
            <img src="images/img_register-user1.png" alt="" />
        </div>
        <strong>Localiza moda</strong> a tu <strong>alrededor y online</strong>.
        Tú decides dónde comprarlo.
    </div>
    <div class="reason r2">
        <div class="image">
            <img src="{{ asset('bundles/buscolookweb/images/img_register-user2.png') }}" alt="" />
        </div>
        <strong>Ficha los productos</strong> de las tiendas que más te gustan y comparte!
    </div>
    <div class="reason r3 wider">
        <div class="image">
            <img src="{{ asset('bundles/buscolookweb/images/img_register-user3.png') }}" alt="" />
        </div>
        <strong>Buscas algo en concreto?</strong>
									<span class="small"><strong><a href="#">#vestidonegro</a> <a href="#">#parkamilitar</a></strong>, cuéntanoslo
									y <strong>te avisamos</strong> cuando llegue a las tiendas.</span>
    </div>
    <div class="reason r4">
        <div class="image">
            <img src="{{ asset('bundles/buscolookweb/images/img_register-user4.png') }}" alt="" />
        </div>
        Benefíciate de descuentos, <strong>participa</strong> en <strong>sorteos</strong>...
        ¡REGÍSTRATE Y PARTICIPA!
    </div>
</div><!--/.reasons-->