{% set url = app.request.attributes.get('_route') %}
{% if  url == 'buscolook_register_buscolooker' %}
    <div class="reasons cf">
        <div class="reason r1">
            <div class="image">
                <img src="{{ asset('bundles/buscolookweb/images/img_register-user1.png') }}" alt="">
            </div>
            <strong>Localiza moda</strong> a tu <strong>alrededor y online</strong>.
            Tú decides dónde comprarlo.
        </div>
        <div class="reason r2">
            <div class="image">
                <img src="{{ asset('bundles/buscolookweb/images/img_register-user2.png') }}" alt="">
            </div>
            <strong>Ficha los productos</strong> de las tiendas que más te gustan y comparte!
        </div>
        <div class="reason r3 wider">
            <div class="image">
                <img src="{{ asset('bundles/buscolookweb/images/img_register-user3.png') }}" alt="">
            </div>
            <strong>Buscas algo en concreto?</strong>
									<span class="small"><strong><a href="#">#vestidonegro</a> <a
                                                    href="#">#parkamilitar</a></strong>, cuéntanoslo
									y <strong>te avisamos</strong> cuando llegue a las tiendas.</span>
        </div>
        <div class="reason r4">
            <div class="image">
                <img src="{{ asset('bundles/buscolookweb/images/img_register-user4.png') }}" alt="">
            </div>
            Benefíciate de descuentos, <strong>participa</strong> en <strong>sorteos</strong>...
            ¡REGÍSTRATE Y PARTICIPA!
        </div>
    </div>
{% else %}
    <div class="reasons cf">
        <div class="reason r1">
            <div class="image">
                <img src="{{ asset('bundles/buscolookweb/images/img_register-tienda1.png') }}" alt=""/>
            </div>
            Redirige a tus puntos de venta: <strong>online y offline</strong>. Ofrece una <strong>nueva experiencia
                mixta</strong>.
        </div>
        <div class="reason r2">
            <div class="image">
                <img src="{{ asset('bundles/buscolookweb/images/img_register-tienda2.png') }}" alt=""/>
            </div>
            <strong>Conecta con los usuarios.</strong> Ellos localizan tus prendas a su alrededor.
        </div>
        <div class="reason r3 wider">
            <div class="image">
                <img src="{{ asset('bundles/buscolookweb/images/img_register-tienda3.png') }}" alt=""/>
            </div>
            ¿Quieres <strong>miles de prescriptores?</strong> Están todos aquí
        </div>
    </div><!--/.reasons-->
{% endif %}