{% extends 'BuscolookAdminBundle::layout.html.twig' %}

{% block block_javascript %}
    {{ parent() }}
    {% include 'BuscolookAdminBundle:Include:table-responsive-js.html.twig' %}

    {% javascripts '@BuscolookAdminBundle/Resources/public/js/lib/mixitup/src/jquery.mixitup.js'
    '@BuscolookAdminBundle/Resources/public/js/lib/multiple-select/jquery.multiple.select.js'
    '@BuscolookAdminBundle/Resources/public/js/lib/magnific-popup/jquery.magnific-popup.min.js'
    '@BuscolookAdminBundle/Resources/public/js/pages/ebro_gallery.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@BuscolookAdminBundle/Resources/public/js/pages/ebro_form_multiupload.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block block_stylesheets %}
    {{ parent() }}
    {% include 'BuscolookAdminBundle:Include:table-responsive-css.html.twig' %}

    {% stylesheets 'bundles/buscolookadmin/js/lib/multiple-select/multiple-select.css'
    'bundles/buscolookadmin/js/lib/magnific-popup/magnific-popup.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% form_theme form 'BuscolookAdminBundle:Form:form-fields.html.twig' %}
{% block content %}

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Nuevo Punto de Venta</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tbb_a" data-toggle="tab">Datos</a></li>
                                {% if entity is defined and entity is not null %}
                                    <li class=""><a href="#tbb_b" data-toggle="tab">Prendas</a></li>
                                    <li class=""><a href="#tbb_c" data-toggle="tab">Fotos</a></li>
                                {% endif %}
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tbb_a">
                                    <form id="parsley_reg"
                                          action="{{ entity is defined ? path('buscolook_admin_shop_update',{'id':entity.id,'parentId':parentId}) : path('buscolook_admin_shop_create',{'parentId':parentId}) }}"
                                          method="post" {{ form_enctype(form) }}>
                                        <div class="row">

                                            <div class="col-sm-4">
                                                {{ form_row(form.name) }}
                                                {{ form_row(form.email) }}
                                                {{ form_row(form.description) }}
                                                {{ form_errors(form) }}

                                            </div>

                                            {% if entity is defined and entity is not null %}
                                            <div class="col-sm-4">
                                                <div class="imgProfile">
                                                    <img src=""/>
                                                </div>
                                                {% endif %}

                                            </div>
                                            {{ form_row(form._token) }}
                                        </div>
                                        <div class="form_sep">
                                            <button type="submit" class="btn btn-default">Validate</button>
                                        </div>
                                    </form>
                                </div>
                                {# TODO: Refactor in includes #}
                                {% if entity is defined and entity is not null %}
                                    <div class="tab-pane" id="tbb_b">
                                        <a href="{{ path('buscolook_admin_garment_add',{'parentId':entity.id}) }}">
                                            <button class="btn btn-default" type="button">Añadir Prenda</button>
                                        </a>
                                        <table class="table toggle-square">
                                            <thead>
                                            <tr>
                                                <th data-type="numeric" data-sort-initial="true">Id</th>
                                                <th data-sort-initial="true">Prenda</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for garment in garments if garments is defined %}
                                                <tr>
                                                    <td>
                                                        <a href="{{ path('buscolook_admin_garment_edit',{'parentId':entity.id, 'id':garment.id}) }}">{{ garment.id }}</a>
                                                    </td>
                                                    <td>
                                                        <a href="{{ path('buscolook_admin_garment_edit',{'parentId':entity.id, 'id':garment.id}) }}">{{ garment.name }}</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane" id="tbb_c">
                                        <!-- main content -->
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">Fotos de Punto de Venta</h4>
                                                    </div>
                                                    <nav class="panel_controls">
                                                        <div class="row">
                                                            <div class="col-sm-4">
                                                                <span class="gal_lay_change lay_active" id="gal_toGrid"><i
                                                                            class="icon-th"></i></span>
                                                                <span class="gal_lay_change" id="gal_toList"><i
                                                                            class="icon-align-justify"></i></span>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <select name="gal_filter_a" id="gal_filter_a"
                                                                        class="form-control" multiple>
                                                                    <option value="user_0">Casey Wilderman</option>
                                                                    <option value="user_1">Giuseppe Funk</option>
                                                                    <option value="user_2">Terrill Purdy</option>
                                                                    <option value="user_3">Alden Cormier</option>
                                                                    <option value="user_4"> Cameron Upton</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <!--<select name="gal_filter_b" id="gal_filter_b"
                                                                        class="form-control" multiple>
                                                                    <option value="business">business</option>
                                                                    <option value="travel">travel</option>
                                                                    <option value="family">family</option>
                                                                    <option value="nature">nature</option>
                                                                </select>-->
                                                            </div>
                                                        </div>
                                                    </nav>
                                                    <ul id="gallery_grid" class="galMix">
                                                        <li class="gal_no_result">Sorry, there are no images to show.
                                                        </li>
                                                        {% if images is defined %}
                                                            {% for image in images %}
                                                                <li class="mix business travel" data-name="Image 1"
                                                                    data-timestamp="1379455200">
                                                                    <a href="{{ custom_asset('tiendas/'~parentId~'/shop', entity.id,'normal',image.image) }}"
                                                                       class="img-thumbnail img_wrapper gal_lightbox">
                                                                        <img src="{{ custom_asset('tiendas/'~parentId~'/shop', entity.id,'normal',image.image) }}"
                                                                             class="img-responsive" alt="">
                                                                    </a>

                                                                    <div class="meta name">
                                                                        <h2 class="gal_title">{{ image.name }}</h2>
                                                                        <span class="text-muted">{{ image.image }}</span>
                                                                    </div>
                                                                    <div class="meta user">Author</div>
                                                                    <div class="meta date">18-09-2013</div>
                                                                    <div class="meta category">
                                                                        <span class="label label-default">category1</span>
                                                                        <span class="label label-default">category2</span>
                                                                    </div>
                                                                </li>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="{{ path('buscolook_admin_shop_add_image',{'id':entity.id}) }}"><input
                                                    type="button" value="Añadir Fotos"/></a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}