<div class="accountDetails">

    <h2>Mi Cuenta</h2>

    <div class="cf">

        <div class="profile-actions buttons">
            <a href="#" data-tab="account-data" class="button greenButton account-button">acceder mi panel de control</a>
            <a href="#" data-tab="account-add-pventa" class="button greenButton account-button">Añadir punto de venta</a>
            <a href="#" data-tab="account-photos" class="button greenButton account-button">Añadir Fotos</a>
        </div>
        <div class="details account-tab" id="account-data">
            {% include 'BuscolookWebBundle:Bussiness:Include/data.html.twig' %}
        </div>
        <div class="details account-tab" id="account-add-pventa" style="display: none">
            {% include 'BuscolookWebBundle:Bussiness:Include/pventa.html.twig' %}
        </div>
        <div class="details account-tab" id="account-photos" style="display: none">
            {% include 'BuscolookWebBundle:Bussiness:Include/photos.html.twig' %}
        </div>

    </div>

</div>
<!--/.accountDetails-->