<form action="#" method="post">

    <div class="cf">
        <div class="col col1">
            <div class="row">
                {{ form_widget(profile_form.name) }}
            </div>
            <div class="row">
                {{ form_widget(profile_form.email) }}
            </div>
            <div class="row">
                <input type="text" placeholder="Place" name="place" id="place" value="Madrid"/>
            </div>
            <div class="row">
                {{ form_widget(profile_form.web) }}
            </div>
            <div class="row">
                {{ form_widget(profile_form.slogan) }}
                <p class="textareaInfo">Please write brand’s name and separate each with coma
                    (,)</p>
            </div>
            <div class="row whiteSelect fullwidthSelect inputSelectWrap">
                {{ form_widget(profile_form.bussinesstype) }}
            </div>
            <div class="row">
                <!--<div class="checkbox">
                    <input type="checkbox" name="accesories" id="accesories">
                    <label for="accesories">Accesories</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" name="moda_general" id="moda_general">
                    <label for="moda_general">Moda General</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" name="bolsos" id="bolsos">
                    <label for="bolsos">Bolsos y calzado</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" name="interior" id="interior">
                    <label for="interior">Ropa interior y baño</label>
                </div>-->
                {{ form_widget(profile_form.categories) }}
            </div>
        </div>
        <div class="col col2">
            <div class="row">
                {{ form_widget(profile_form.contact) }}
            </div>
            <div class="row">
                {{ form_widget(profile_form.phone) }}
            </div>
            <div class="row">
                <input type="text" placeholder="" name="m" id="m" value="Mimokles"/>
            </div>
            <div class="row">
                <input type="password" placeholder="Password" name="password" id="password"
                       value=""/>
            </div>
            <div class="row">
                <input type="password" placeholder="Password Again" name="password_again"
                       id="password_again" value=""/>
            </div>
            <div class="row">
                <label class="ffBook grayText uppercase">Añadir redes sociales</label>
                <ul class="actionIcons">
                    <li><a href="#"><i class="social-facebook"></i></a></li>
                    <li><a href="#"><i class="social-pinterest"></i></a></li>
                    <li class="disabled"><a href="#"><i class="social-twitter"></i></a></li>
                    <li><a href="#"><i class="social-instagram"></i></a></li>
                    <li class="disabled"><a href="#"><i class="social-googleplus"></i></a></li>
                    <li class="disabled"><a href="#"><i class="social-tumblr"></i></a></li>
                </ul>
            </div>
            <div class="row">
                {{ form_widget(profile_form.description) }}
                <span class="counter">0/150</span>
            </div>
            {{ form_row(profile_form._token) }}
            <div class="row submit">
                <a href="#">Cancelar</a>
                <!--<button class="button orange" type="submit">Registar</button>-->
                <button class="button" type="submit">Guardar cambios</button>
            </div>
        </div>
    </div>

</form>
