<div class="contentTop cf">
    <div class="orders">
        <a href="#" class="active">Último</a>
        <a href="#">Popular</a>
        <a href="#">A-Z</a>
    </div>
</div>
<!--/.contentTop-->

<div class="grid brandAbove">
    {% if myProfile %}
        <article class="item">
            <a href="#popup" class="popup">
                <div class="preview">
                    <div class="gallery">
                        <div class="slides owl-carousel">
                            <div class="slide">
                                <div class="border"><img class="lazyOwl"
                                                         data-src="{{ asset('bundles/buscolookweb/images/default_add_product.png') }}"
                                                         alt=""/><span
                                            class="count"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </article>
    {% endif %}
    {% for garment in garments %}
        {% set imageLength = garment.images | length %}
        {% if imageLength > 0 %}
            <article class="item">
                <a href="{{ path('buscolook_web_fichaje_popup_add_fichaje_complete',
                {'fichajeId': garment.id, 'bussinessId': bussinessEntity.id } ) }}"
                   class="popup popup-fichaje-details"
                   data-fichaje="{{ garment.id }}">
                    <div class="preview">
                        <div class="gallery">
                            <div class="slides owl-carousel">
                                {% set imageLength = garment.images | length %}
                                {% for image in garment.images %}
                                    <div class="slide">
                                        <div class="border"><img class="lazyOwl"
                                                                 data-src="{{ custom_asset('fichaje',garment.id,'fichaje_profile', image.image) }}"
                                                                 alt=""/><span
                                                    class="count">{{ loop.index }}
                                                /{{ imageLength }}</span>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="interaction">
                            <div class="cf">
                                <div class="actions">
                                    <a href="#" title="Comment"><i
                                                class="icon-comment">Comments:</i>
                                        <span>17</span></a>
                                    <a href="#" title="Like"><i class="icon-like">Likes:</i>
                                        <span>49</span></a>
                                </div>
                                <!--<a href="#" class="more" title="More"
                                                       data-href="{{ path('buscolook_web_fichaje_details',{'fichaje':garment.id}) }}">more</a>-->
                            </div>
                        </div>
                    </div>
                </a>
            </article>
        {% endif %}
    {% endfor %}
    <div class="break"></div>
</div>