<div class="cf">
    <div class="col col1">
        <div class="row">
            <h2>Logo</h2>
        </div>
        <div class="row">
            <form action="{{ path('buscolook_web_update_logo',{'bussiness':bussinessEntity.id}) }}" method="POST"
                  enctype="multipart/form-data">
                {{ form_widget(logo_form.logo) }}
                {{ form_widget(logo_form._token) }}
                <div class="row submit">
                    <a href="#">Cancelar</a>
                    <!--<button class="button orange" type="submit">Registar</button>-->
                    <button class="button" type="submit">Update Logo</button>
                </div>
            </form>
        </div>

        <div class="row">
            <h2>Fotos Principales (MAX:2)</h2>
        </div>
        <div class="row submit">
            <a href="#">Cancelar</a>
            <!--<button class="button orange" type="submit">Registar</button>-->
            <button class="button" type="submit">Guardar cambios</button>
        </div>
    </div>

</div>