<form action="{{ path('buscolook_web_pventa_add',{'bussiness':bussinessEntity.id}) }}" method="post">

    <div class="cf">
        <div class="col col1">
            <div class="row">
                {{ form_widget(shop_form.name) }}
            </div>
            <div class="row">
                {{ form_widget(shop_form.email) }}
            </div>

            <div class="row">
                {{ form_widget(shop_form.description) }}
            </div>
        </div>
        <div class="col col2">
            <div class="row">
                {{ form_widget(shop_form.locality) }}
            </div>
            <div class="row">
                {{ form_widget(shop_form.address) }}
            </div>
            <div class="row">
                {{ form_widget(shop_form.cp) }}
            </div>
            {{ form_row(shop_form._token) }}
            <div class="row submit">
                <a href="#">Cancelar</a>
                <!--<button class="button orange" type="submit">Registar</button>-->
                <button class="button" type="submit">Guardar cambios</button>
            </div>
        </div>

    </div>

</form>
