{% extends 'BuscolookAdminBundle::layout.html.twig' %}

{# form_theme form 'BuscolookAdminBundle:Form:form-fields.html.twig' #}
{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <img src="https://buscolook.s3.amazonaws.com/tiendas/18/shop/3/540833_4669789095550_1022109834_n.jpg" width="360" height="260">
        </div>
        <div class="col-sm-6">
            <form action="#">


            </form>
        </div>
    </div>

{% endblock %}