<nav id="sidebar">
    <div class="sepH_b">
        <a href="javascript:void(0)" id="text_nav_v_collapse" class="btn btn-default btn-xs">Contraer Menu</a>
        <a href="javascript:void(0)" id="text_nav_v_expand" class="btn btn-default btn-xs">Expandir Menu</a>
    </div>
    <ul id="text_nav_v" class="side_text_nav">
        <li class="parent_active">
            <a href="javascript:void(0)"><span class="icon-dashboard"></span>Colecciones</a>
            <ul>
                <li class="link_active"><a href="dashboard1.html">Colecciones</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0)"><span class="icon-th-list"></span>Forms</a>
            <ul>
                <li><a href="form_regular_elements.html">Regular elements</a></li>
                <li><a href="form_extended_elements.html">Extended elements</a></li>
                <li><a href="form_multiupload.html">Multiupload </a></li>
                <li><a href="form_validation.html">Form validation</a></li>
                <li><a href="wizard.html">Wizard</a></li>
                <li><a href="wysiwg.html">WYSIWG Editor</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0)"><span class="icon-puzzle-piece"></span>Components</a>
            <ul>
                <li><a href="calendar.html">Calendar</a></li>
                <li><a href="charts.html">Charts</a></li>
                <li><a href="contact_list.html">Contact List</a></li>
                <li><a href="file_manager.html">File manager</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="gmaps.html">Google Maps</a></li>
                <li>
                    <a href="javascript:void(0)">Tables</a>
                    <ul>
                        <li><a href="datatables.html">Datatables</a></li>
                        <li><a href="regular_tables.html">Regular</a></li>
                        <li><a href="slick_grid.html">Slick Grid</a></li>
                        <li><a href="table_responsive.html">Responsive Table</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0)"><span class="icon-beaker"></span>UI Elements</a>
            <ul>
                <li><a href="alerts_buttons.html">Alerts, Buttons</a></li>
                <li><a href="grid.html">Grid</a></li>
                <li><a href="icons.html">Icons</a></li>
                <li><a href="notifications.html">Notifications</a></li>
                <li><a href="panels.html">Panels</a></li>
                <li><a href="tabs_accordions.html">Tabs, Accordions</a></li>
                <li><a href="tooltips_popovers.html">Tooltips, Popovers</a></li>
                <li><a href="typography.html">Typography</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0)"><span class="icon-leaf"></span>Other Pages</a>
            <ul>
                <li><a href="blank.html">Blank page</a></li>
                <li><a href="chat.html">Chat</a></li>
                <li><a href="contact_page.html">Contact Page</a></li>
                <li><a href="error_404.html">Error 404</a></li>
                <li><a href="help_faq.html">Help/Faq</a></li>
                <li><a href="invoices.html">Invoices</a></li>
                <li><a href="landing_page.html">Landing Page</a></li>
                <li><a href="login_page.html">Login Page</a></li>
                <li><a href="mailbox.html">Mailbox</a></li>
                <li><a href="user_profile.html">User profile</a></li>
                <li><a href="search_page.html">Search Page</a></li>
                <li><a href="settings.html">Site Settings</a></li>
            </ul>
        </li>
    </ul>
</nav>