{% extends "form_div_layout.html.twig" %}

{% block _buscolook_webbundle_user_categories_checks %}
    {% spaceless %}
        <p class="checkbox-field">
        {% for group_label, choice in choices %}
            <div class="checkbox">
                <input type="checkbox" id="{{ id ~ '_' ~ choice.data.id }}" name="{{ full_name ~ '[]' }}"
                       {% if choice.data.id is not empty %}value="{{ choice.data.id }}" {% endif %} {% if form.vars.value[choice.data.id] %}checked="checked"{% endif %}>
                <label for="{{ id ~ '_' ~ choice.data.id }}">{{ choice.data.name }}</label>
            </div>
        {% endfor %}
        </p>
    {% endspaceless %}
{% endblock _buscolook_webbundle_user_categories_checks %}


{% block form_widget %}
    {% spaceless %}
        {% if errors|length == 0 %}
            {% if compound %}
                {{ block('form_widget_compound') }}
            {% else %}
                {{ block('form_widget_simple') }}
            {% endif %}
        {% else %}
            {% for error in errors %}
                {% set type = type|default('text') %}
                <input class="error"
                       type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_widget %}

{% block form_errors %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            <p class="error">{{ error.message }}</p>
        {% endfor %}
    {% else %}
        <p class="error"></p>
    {% endif %}
{% endblock %}