<!-- Bootstrap styles -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<!-- Generic page styles -->
<link rel="stylesheet" href="{{ asset('bundles/buscolookweb/js/file-upload/css/style.css') }}">
<!-- blueimp Gallery styles -->
<link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="{{ asset('bundles/buscolookweb/js/file-upload/css/jquery.fileupload.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/buscolookweb/js/file-upload/css/jquery.fileupload-ui.css') }}">
<!-- CSS adjustments for browsers with JavaScript disabled -->
<noscript><link rel="stylesheet" href=""{{ asset('bundles/buscolookweb/js/file-upload/css/jquery.fileupload-noscript.css') }}"></noscript>
<noscript><link rel="stylesheet" href=""{{ asset('bundles/buscolookweb/js/file-upload/css/jquery.fileupload-ui-noscript.css') }}"></noscript>