<div class="filters">
    <span class="title">Filtrar por:</span>
    <div class="filterByItem filterPlace {{ zona is defined and zona is not null and zona != 'buscolook' ? 'active':'' }}">
        <ul class="filterMenu">
            <li><span class="by"><i class="icon-place"></i> Por Ciudad</span>
                <ul class="navLikeMenu">
                    {{ render(controller('BuscolookWebBundle:Default:renderFilters',{'entity':'Locality', 'url':url})) }}
                </ul>
            </li>
        </ul>
        {% if zona is defined and zona is not null and zona != 'buscolook' %}
            <script>
                sessionStorage.zona = "{{ zona }}";
            </script>
            <a class="remove" href="#">{{ zona }} <i class="icon-close-small remove_zona_filter">x</i></a>
        {% else %}
            <script>
                sessionStorage.zona = "buscolook";
            </script>
        {% endif %}
    </div>

    <div class="filterByItem filterCategory {{ category is defined and category is not null and category != 'ropa' ? 'active':'' }}">
        <ul class="filterMenu">
            <li><span class="by"><i class="icon-category"></i> Por Categoria</span>
                <ul class="navLikeMenu">
                    {{ render(controller('BuscolookWebBundle:Default:renderFilters',{'entity':'SubCategory','url':url})) }}
                </ul>
            </li>
        </ul>
        {% if category is defined and category is not null and category != 'ropa' %}
            <script>
                sessionStorage.category  = "{{ category }}";
            </script>
            <a class="remove" href="#">{{ category }} <i class="icon-close-small remove_category_filter">x</i></a>
        {% else %}
            <script>
                sessionStorage.category = "ropa";
            </script>
        {% endif %}
    </div>

    <!--<div class="filterByItem filterBrand">
        <ul class="filterMenu">
            <li><span class="by"><i class="icon-brand"></i> Por Marca</span>
                <ul class="navLikeMenu">
                    <li><a href="#">Barcelona</a></li>
                    <li><a href="#">Bilbao</a></li>
                    <li><a href="#">Madrid</a></li>
                </ul>
            </li>
        </ul>
    </div>-->

    <div class="searchWrap">
        <form action="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}" method="post">
            <div class="search">
                <input type="text" name="search" id="search" placeholder="Buscar"/>
                <input type="submit" value="Search"/>
            </div>
        </form>
    </div>

</div>