{% extends 'BuscolookAdminBundle::layout.html.twig' %}

{% block block_javascript %}
    {{ parent() }}
    {% include 'BuscolookAdminBundle:Include:table-responsive-js.html.twig' %}
{% endblock %}

{% block block_stylesheets %}
    {{ parent() }}
    {% include 'BuscolookAdminBundle:Include:table-responsive-css.html.twig' %}
{% endblock %}

{% block content %}
    <div class="sepH_c">
        <p>
            <a href="{{ path('buscolook_admin_garment_add',{'parentId':parentId}) }}">
                <button class="btn btn-default" type="button">Nueva</button>
            </a>
        </p>
        <p class="heading_a">Ropa</p>

        <table class="table toggle-square">
            <thead>
            <tr>
                <th data-type="numeric" data-sort-initial="true">Id</th>
                <th data-sort-initial="true">Prenda</th>
                <th data-sort-initial="true" data-hide="phone">Tienda</th>
                <!--<th data-sort-ignore="true" data-hide="phone">Email</th>
                <th data-sort-ignore="true" data-hide="phone">Teléfono</th>-->
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td><a href="{{ path('buscolook_admin_garment_edit',{'parentId':parentId,'id':item.id}) }}">{{ item.id }}</a></td>
                    <td><a href="{{ path('buscolook_admin_garment_edit',{'parentId':parentId,'id':item.id}) }}">{{ item.name }}</a></td>
                    <td>
                        <a href="{{ path('buscolook_admin_garment_edit',{'parentId':parentId,'id':item.id}) }}">{{ item.shop.name }}</a>
                    </td>
                    <!--<td><a href="{# path('buscolook_admin_bussiness_edit',{'id':item.id}) #}">{# item.user.email #}</a>
                    </td>
                    <td><a href="{# path('buscolook_admin_bussiness_edit',{'id':item.id}) #}">{# item.phone #}</a></td>-->
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
