{% extends 'BuscolookWebBundle::layout.html.twig' %}

{% block block_content %}
    {% if is_granted('ROLE_USER') %}
        {% set user_id = app.security.getToken().getUser().getId() %}
    {% endif %}
    <h1 class="hidden">Cotilleo</h1>

    <div class="filterRow cf">
        {% include 'BuscolookWebBundle:Include:top-filters.html.twig' with {'url':'buscolook_web_cotilleo'} %}

        <div class="orders">
            <span class="title">Ordenar por:</span>
            <a href="#" class="active">Último</a>
            <a href="#">Popular</a>
            <a href="#">A-Z</a>
        </div>
    </div><!--/.filterRow-->

    <div class="grid brandAbove">
        {% for fichaje in fichajes %}
            {% set imageLength = fichaje.fichaje.images | length %}
            {% if imageLength > 0 %}
                <article class="item">
                    <div class="heading">
                        <div class="imageArea">
                            <div class="image"><img src="{{ asset('bundles/buscolookweb/images/logo_mimoki.jpg') }}"
                                                    alt="Mimoki logo"/><span></span></div>
                        </div>
                        <div class="nameArea">
                            <div class="name">
                                <h2><a href="{{ path('buscolook_web_fichaje_details',{'fichaje':fichaje.fichaje.id}) }}">{{ fichaje.fichaje.bussiness is defined and fichaje.fichaje.bussiness is not null ? fichaje.fichaje.bussiness.name : fichaje.fichaje.buscolooker.name }}</a></h2>

                                <h3>{{ fichaje.fichaje.name }}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="preview">
                        <div class="gallery">
                            <div class="slides owl-carousel">
                                {% set imageLength = fichaje.fichaje.images | length %}
                                {% for image in fichaje.fichaje.images %}
                                    <div class="slide">
                                        <div class="border"><img class="lazyOwl"
                                                                 data-src="{{ custom_asset('fichaje',fichaje.fichaje.id,'normal',image.image) }}"
                                                                 alt=""/><span class="count">{{ loop.index }}
                                                /{{ imageLength }}</span></div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="interaction">
                            <div class="cf">
                                <div class="actions">
                                    {% if is_granted('ROLE_USER') %}
                                        <a href="#" title="Comment"><i class="icon-comment">Comments:</i> <span>17</span></a>
                                        <a href="#" title="Like"><i
                                                    class="{{ fichaje.fichaje.isFav(fichaje.fichaje.id,user_id) ? 'icon-like-full' : 'icon-like' }}"
                                                    data-item="{{ fichaje.fichaje.id }}">Likes:</i> <span
                                                    class="number-of-likes">{{ fichaje.fichaje.getNumberOfFavorites() }}</span></a>
                                    {% endif %}
                                </div>
                                <a href="#" class="more" title="More" data-href="{{ path('buscolook_web_fichaje_details',{'fichaje':fichaje.fichaje.id}) }}">more</a>
                            </div>
                        </div>
                    </div>
                </article>
            {% endif %}

        {% endfor %}
        <div class="break"></div>
    </div><!--/.grid-->
{% endblock %}