{% extends 'BuscolookWebBundle::layout.html.twig' %}

{% block block_content %}
<div class="contentTop">
	<a href="/" class="back ffBook">&lt;&nbsp;Volver</a>
</div>

<div class="productDetail cf">
	<div class="headingArea">
		<div class="heading">
			<div class="imageArea">
				<div class="image"><img src="{{ asset('bundles/buscolookweb/images/logo_trakabarraka-small.jpg') }}" alt="Trakabarraka logo" /><span></span></div>
			</div>
			<div class="nameArea">
				<div class="name">
					<h1><a href="#">Trakabarraka</a></h1>
					<p class="subtitle">Beautiful ...</p>
				</div>
			</div>
		</div>
		<span class="updated">3 days ago</span>
	</div>
	<div class="galleryArea">
		<div class="gallery bigGallery">
			<div class="slides owl-carousel-big">
				<div class="slide"><div class="border"><img class="lazyOwl" data-src="{{ asset('bundles/buscolookweb/images/img_trakabarraka.jpg') }}" alt="" /><span class="count">1/3</span></div></div>
				<div class="slide"><div class="border"><img class="lazyOwl" data-src="{{ asset('bundles/buscolookweb/images/img_inspira1.jpg') }}" alt="" /><span class="count">2/3</span></div></div>
				<div class="slide"><div class="border"><img class="lazyOwl" data-src="{{ asset('bundles/buscolookweb/images/img_inspira2.jpg') }}" alt="" /><span class="count">3/3</span></div></div>
			</div>
			<a class="like" href="#"><i class="icon-like-black-full"></i></a>
		</div>
	</div>

	<div class="contentArea">
		<div class="productItemsWrap">

			<div class="productItem">
				<div class="lineHeading cf">
					<div class="name">
						<h2>Black Dress</h2>
					</div>
					<div class="price">
						<p><em>35</em>&nbsp;&euro;</p>
					</div>
				</div>
				<div class="lineBrand cf">
					<div class="brand">
						<p><i class="icon-brand"></i> Lacoste</p>
					</div>
					<div class="code">
						<p>Ref. 423384/89</p>
					</div>
				</div>
				<div class="lineOptions">
					<div class="cf">
						<form action="?" method="post">
							<div class="cf">
								<div class="size">
									<label for="size_product1" class="hidden">Size</label>
									<div class="inputSelectWrap">
										<select name="size_product1" id="size_product1">
											<option value="1">talla</option>
											<option value="2">talla</option>
											<option value="3">talla</option>
										</select>
									</div>
								</div>
								<div class="buy">
									<button type="submit" class="button"><i class="icon-cart-black"></i><span>comprar online</span></button>
								</div>
								<div class="shop">
									<a href="#" class="button"><i class="icon-place"></i><span>localizar en&nbsp;la&nbsp;tienda</span></a>
								</div>
							</div>
						</form>
					</div>
				</div><!--/.options-->
			</div><!--/.productItem-->

			<div class="productItem">
				<div class="lineHeading cf">
					<div class="name">
						<h2>Shoes with tiras finas y largas que se ajustan detras del pie</h2>
					</div>
					<div class="price">
						<p><em>135</em>&nbsp;&euro;</p>
					</div>
				</div>
				<div class="lineBrand cf">
					<div class="brand">
						<p><i class="icon-brand"></i> Lacoste</p>
					</div>
					<div class="code">
						<p>Ref. 423384/89</p>
					</div>
				</div>
				<div class="lineOptions">
					<div class="cf">
						<form action="?" method="post">
							<div class="cf">
								<div class="size">
									<label for="size_product2" class="hidden">Size</label>
									<div class="inputSelectWrap">
										<select name="size_product1" id="size_product2">
											<option value="1">talla</option>
											<option value="2">talla</option>
											<option value="3">talla</option>
										</select>
									</div>
								</div>
								<div class="buy">
									<button type="submit" class="button"><i class="icon-cart-black"></i><span>comprar online</span></button>
								</div>
								<div class="shop">
									<a href="#" class="button"><i class="icon-place"></i><span>localizar en&nbsp;la&nbsp;tienda</span></a>
								</div>
							</div>
						</form>
					</div>
				</div><!--/.options-->
			</div><!--/.productItem-->

		</div><!--/.productItemsWrap-->

		<div class="padding">

			<div class="links">
				<ul>
					<li>ás información</li>
					<li><a href="#">Envío</a></li>
					<li><a href="#">Devolución</a></li>
					<li><a href="#">¿Ayuda?</a></li>
				</ul>
			</div>

			<ul class="actionIcons">
				<li><a href="#"><i class="icon-share-facebook"></i></a></li>
				<li><a href="#"><i class="icon-share-twitter"></i></a></li>
				<li><a href="#"><i class="icon-share-pinterest"></i></a></li>
				<li><a href="#"><i class="icon-share-instagram"></i></a></li>
				<li><a href="#"><i class="icon-share-googleplus"></i></a></li>
				<li><a href="#"><i class="icon-share-tumblr"></i></a></li>
			</ul>

			<div class="socialBox">
				<div class="tabs">
					<div class="tabsNav">
						<ul class="cf">
							<li><a href="#product_comments" class="active"><i class="icon-comment-black"></i> <em>20</em> comentários</a></li>
							<li><a href="#product_likes" class=""><i class="icon-like-black-full"></i> <em>49</em> gustan esto</a></li>
						</ul>
					</div><!--/.tabsNav-->
					<div class="tabsWrap">
						<div class="tab" id="product_comments">
							<div class="tabInner">

								<div class="commentAreaWrap">
									<div class="commentArea">
										<div class="userImage">
											<span class="image"><img src="images/people/likes_person1.jpg" alt="" /><span></span></span>
										</div>
										<div class="commentContent">
											<p class="author">Ana Martinez</p>
											<p class="text">Lovely shoes! I want one t¡of this to my bday party.</p>
											<p class="actions">
												<span class="time">1 hour ago</span>
												<span class="links">
													- <a href="#">Reply</a>
													- <a href="#">Like</a>
												</span>
											</p>
										</div>
									</div>
								</div>

								<div class="commentAreaWrap">
									<div class="commentArea">
										<div class="userImage">
											<span class="image"><img src="images/people/likes_person1.jpg" alt="" /><span></span></span>
										</div>
										<div class="commentContent">
											<p class="author">Ana Martinez</p>
											<p class="text">Lovely shoes! I want one t¡of this to my bday party.</p>
											<p class="actions">
												<span class="time">1 hour ago</span>
												<span class="links">
													- <a href="#">Reply</a>
													- <a href="#">Like</a>
												</span>
											</p>
										</div>
									</div>
								</div>

								<div class="commentAreaWrap">
									<div class="commentArea">
										<div class="userImage">
											<span class="image"><img src="images/people/likes_person2.jpg" alt="" /><span></span></span>
										</div>
										<div class="commentContent newComment">
											<form action="?" method="post">
												<label for="new_comment" class="hidden">Comment:</label>
												<div class="textareaWrap">
													<textarea placeholder="Añadir comentário..." name="new_comment" id="new_comment"></textarea>
												</div>
												<div class="options">
													<input class="vihi" type="checkbox" name="publish" id="publish" />
													<label class="forCheckbox publishLabel" for="publish">Publicar en mi muro</label>
													<button class="button" type="submit"><i class="icon-comment-black"></i> comentar</button>
												</div>
											</form>
										</div>
									</div>
								</div>

							</div>
						</div><!--/.tab-->
						<div class="tab" id="product_likes" style="display: none;">
							<div class="tabInner">
								<div class="productLikes">
									<a href="#" class="personLiked">
										<span class="image"><img src="images/people/likes_person1.jpg" alt="" /><span></span></span>
										<span class="fullName">Ana Martinez</span>
										<span class="nickName">- a_martinez</span>
									</a>
									<a href="#" class="personLiked">
										<span class="image"><img src="images/people/likes_person2.jpg" alt="" /><span></span></span>
										<span class="fullName">Valeria Barreto</span>
										<span class="nickName">- vanybrt</span>
									</a>
									<a href="#" class="personLiked">
										<span class="image"><img src="images/people/likes_person1.jpg" alt="" /><span></span></span>
										<span class="fullName">Ana Martinez</span>
										<span class="nickName">- a_martinez</span>
									</a>
								</div>
							</div>
						</div><!--/.tab-->
					</div><!--/.tabsWrap-->
				</div><!--/.tabs-->
			</div><!--/.socialBox-->

		</div><!--/.padding-->
	</div><!--/.contentArea-->

</div><!--/.productDetail-->
{% endblock %}