{% extends 'BuscolookWebBundle::layout.html.twig' %}

{% block block_content %}
    <h1 class="hidden">Me inspiro</h1>

    <div class="grid categories">
        {% for inspiro in inspirations %}
            <article class="item">
                <div class="preview">
                    <div class="heading">
                        <p class="subtitle">{{ inspiro.title }}</p>

                        <h2><a href="{{ path('buscolook_web_inspiro_details',{'id':inspiro.id}) }}" data-href="same">{{ inspiro.subtitle | truncate(20) }}</a></h2>
                    </div>
                    <div class="gallery">
                        <div class="slides owl-carousel">
                            {% set countImages = inspiro.images | length %}
                            {% for image in inspiro.images %}
                                <div class="slide">
                                <div class="border"><img class="lazyOwl"
                                                         data-src="{{ custom_asset('inspiration',inspiro.id,'inspiration_normal',image.image) }}"
                                                         alt=""/><span class="count">{{ loop.index }}/{{ countImages }}</span></div>
                            </div>
                                {% endfor %}

                        </div>
                    </div>
                </div>
            </article>
        {% endfor %}

        <div class="break"></div>
    </div><!--/.grid-->
{% endblock %}