{% extends 'BuscolookWebBundle::layout.html.twig' %}

{% block block_content %}
    <div class="contentTop">
        <a href="/" class="back ffBook">&lt;&nbsp;Volver</a>
    </div>

    <div class="fullPost cf">
        <div class="headingArea">
            <h1>{{ inspiration.title }}</h1>

            <h2>{{ inspiration.subtitle }}</h2>

            <p>{{ inspiration.description }}</p>
        </div>
        <div class="galleryArea">
            <div class="gallery bigGallery">
                <div class='slides owl-carousel-big'>
                    {% set countImages = inspiration.images | length %}
                    {% for image in inspiration.images %}
                        <div class="slide">
                            <div class="border"><img class="lazyOwl"
                                                     data-src="{{ custom_asset('inspiration',inspiration.id, 'inspiration_normal',image.image) }}"
                                                     alt=""/><span
                                        class="count">{{ loop.index }}/{{ countImages }}</span></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="galleryThumbs">
                {% set countImages = inspiration.images | length %}
                {% for image in inspiration.images %}
                    <a href="#" class="item {{ loop.first ? 'active' : '' }}" data-slide="{{ loop.index - 1 }}"><img
                                src="{{ custom_asset('inspiration',inspiration.id, 'inspiration_thumbnail',image.image) }}" alt=""/></a>
                {% endfor %}
            </div>
        </div>

        <div class="contentArea">

            <div class="shareArea">
                <span class="title">COMPARTE con los tuyos</span>
                <ul class="actionIcons">
                    <li><a href="#"><i class="icon-share-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-share-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-share-pinterest"></i></a></li>
                    <li><a href="#"><i class="icon-share-instagram"></i></a></li>
                    <li><a href="#"><i class="icon-share-googleplus"></i></a></li>
                    <li><a href="#"><i class="icon-share-tumblr"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}