<!doctype html>
<html lang="es">
<head>
    <title></title>
    <meta charset="UTF-8">
    <title>Buscolook Backend v1.0</title>

    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="shortcut icon" type="images/x-icon" href="favicon.ico">

    {% block block_stylesheets %}
        {% stylesheets 'bundles/buscolookadmin/bootstrap/css/bootstrap.min.css'
        'bundles/buscolookadmin/css/retina.css'
        'bundles/buscolookadmin/css/font-awesome/css/font-awesome.min.css'
        'bundles/buscolookadmin/images/flags/flags.css'
        'bundles/buscolookadmin/css/style.css'
        'bundles/buscolookadmin/css/theme/color_1.css'
        'bundles/buscolookadmin/js/lib/noUiSlider/jquery.nouislider.min.css'
        'bundles/buscolookadmin/js/lib/ion_rangeSlider/css/ion.rangeSlider.css'
        'bundles/buscolookadmin/js/lib/ion_rangeSlider/css/ion.rangeSlider.ebro.css'
        'bundles/buscolookadmin/js/lib/Sticky/sticky.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}

    <!-- aditional stylesheets -->
    <!-- vector map
        <link rel="stylesheet" href="js/lib/jvectormap/jquery-jvectormap-1.2.2.css">-->
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="css/ie.css">
    <script src="js/ie/html5shiv.js"></script>
    <script src="js/ie/respond.min.js"></script>
    <script src="js/ie/excanvas.min.js"></script>
    <![endif]-->

    <!-- custom fonts -->
    <!--<link href='http://fonts.googleapis.com/css?family=Roboto:300,700&amp;subset=latin,latin-ext' rel='stylesheet'
          type='text/css'>-->
</head>
<body class="boxed pattern_1">

<div id="wrapper_all">
    {% include 'BuscolookAdminBundle::header.html.twig' %}
    {{  render(controller('BuscolookAdminBundle:Default:navbar')) }}
    <!-- mobile navigation -->
    <nav id="mobile_navigation"></nav>

    <section id="breadcrumbs">
        <div class="container">
            <ul>
                <li><a href="#">Ebro Admin</a></li>
                <li><span>Dashboard 1</span></li>
            </ul>
        </div>
    </section>

    <section class="container clearfix main_section">
        <div id="main_content_outer" class="clearfix">
            <div id="main_content" {% block main_content_style %}class="no-sidebar"{% endblock %}>
                {% block content %} {% endblock %}
            </div>
        </div>
    {% block sidebar %} {% endblock %}
    </section>
    <div id="footer_space"></div>
</div>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                &copy; 2013 Your Company
            </div>
            <div class="col-sm-8">
                <ul>
                    <li><a href="#">Dashboard</a></li>
                    <li>&middot;</li>
                    <li><a href="#">Terms of Service</a></li>
                    <li>&middot;</li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li>&middot;</li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
            <div class="col-sm-1 text-right">
                <small class="text-muted">v1.0</small>
            </div>
        </div>
    </div>
</footer>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% block block_javascript %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    {%  javascripts
    '@BuscolookAdminBundle/Resources/public/js/lib/mixitup/src/jquery.mixitup.js'
    '@BuscolookAdminBundle/Resources/public/js/lib/multiple-select/jquery.multiple.select.js'
    '@BuscolookAdminBundle/Resources/public/bootstrap/js/bootstrap.min.js'
    '@BuscolookAdminBundle/Resources/public/js/lib/magnific-popup/jquery.magnific-popup.min.js'
    '@BuscolookAdminBundle/Resources/public/js/pages/ebro_gallery.js'
    '@BuscolookAdminBundle/Resources/public/js/jquery.ba-resize.min.js'
    '@BuscolookAdminBundle/Resources/public/js/jquery_cookie.min.js'
    '@BuscolookAdminBundle/Resources/public/js/retina.min.js'
    '@BuscolookAdminBundle/Resources/public/js/tinynav.js'
    '@BuscolookAdminBundle/Resources/public/js/jquery.sticky.js'
    '@BuscolookAdminBundle/Resources/public/js/lib/navgoco/jquery.navgoco.min.js'
    '@BuscolookAdminBundle/Resources/public/js/lib/jMenu/js/jMenu.jquery.js'
    '@BuscolookAdminBundle/Resources/public/js/lib/typeahead.js/typeahead.min.js'
    '@BuscolookAdminBundle/Resources/public/js/lib/typeahead.js/hogan-2.0.0.js'
    '@BuscolookAdminBundle/Resources/public/js/lib/datepicker/js/bootstrap-datepicker.js'
    '@BuscolookAdminBundle/Resources/public/js/lib/noUiSlider/jquery.nouislider.min.js'
    '@BuscolookAdminBundle/Resources/public/js/lib/ion_rangeSlider/js/ion.rangeSlider.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript" src="/bundles/buscolookadmin/js/ebro_common.js"></script>


{% endblock %}


<!--[if lte IE 9]>
<script src="js/ie/jquery.placeholder.js"></script>
<script>
    $(function () {
        $('input, textarea').placeholder();
    });
</script>
<![endif]-->

</body>
</html>