<!doctype html>
<html lang="es">
<head>
	<title></title>
	<meta charset="UTF-8">
		<title>Buscolook Backend v1.0</title>
		
		<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<link rel="shortcut icon" type="images/x-icon" href="favicon.ico">
		
		{% stylesheets 'bundles/buscolookadmin/bootstrap/css/bootstrap.min.css'
					   'bundles/buscolookadmin/css/retina.css'
					   'bundles/buscolookadmin/css/font-awesome/css/font-awesome.min.css'
					   'bundles/buscolookadmin/images/flags/flags.css'
					   'bundles/buscolookadmin/css/style.css'
					   'bundles/buscolookadmin/css/theme/color_1.css' filter='cssrewrite' %}
		    <link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
	
	<!-- aditional stylesheets -->
        <!-- vector map 
			<link rel="stylesheet" href="js/lib/jvectormap/jquery-jvectormap-1.2.2.css">-->
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="css/ie.css">
		<script src="js/ie/html5shiv.js"></script>
		<script src="js/ie/respond.min.js"></script>
		<script src="js/ie/excanvas.min.js"></script>
	<![endif]-->

	<!-- custom fonts -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:300,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body class="boxed pattern_1">
		
		<div id="wrapper_all">
			<header id="top_header">
				<div class="container">
					<div class="row">
						<div class="col-xs-6 col-sm-2">
							<a href="dashboard1.html" class="logo_main" title="Ebro Admin Template:"><img src="{{ asset('bundles/buscolookadmin/images/logo_main.png') }}" alt=""></a>
						</div>
						<div class="col-sm-push-4 col-sm-3 text-right hidden-xs">
							<div class="notification_dropdown dropdown">
								<a href="#" class="notification_icon dropdown-toggle" data-toggle="dropdown">
									<span class="label label-danger">8</span>
									<i class="icon-comment-alt icon-2x"></i>
								</a>
								<ul class="dropdown-menu">
									<li>
										<div class="dropdown_heading">Comments</div>
										<div class="dropdown_content">
											<ul class="dropdown_items">
												<li>
													<h3><span class="small_info">12:43</span><a href="#">Lorem ipsum dolor&hellip;</a></h3>
													<p>Lorem ipsum dolor sit amet&hellip;</p>
												</li>
												<li>
													<h3><span class="small_info">Today</span><a href="#">Lorem ipsum dolor&hellip;</a></h3>
													<p>Lorem ipsum dolor sit amet&hellip;</p>
												</li>
												<li>
													<h3><span class="small_info">14 Aug</span><a href="#">Lorem ipsum dolor&hellip;</a></h3>
													<p>Lorem ipsum dolor sit amet&hellip;</p>
												</li>
											</ul>
										</div>
										<div class="dropdown_footer"><a href="#" class="btn btn-sm btn-default">Show all</a></div>
									</li>
								</ul>
							</div>
							<div class="notification_separator"></div>
							<div class="notification_dropdown dropdown">
								<a href="#" class="notification_icon dropdown-toggle" data-toggle="dropdown">
									<span class="label label-danger">12</span>
									<i class="icon-envelope-alt icon-2x"></i>
								</a>
								<ul class="dropdown-menu dropdown-menu-wide">
									<li>
										<div class="dropdown_heading">Messages</div>
										<div class="dropdown_content">
											<ul class="dropdown_items">
												<li>
													<h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
													<p class="large_info">Sean Walter, 24.05.2014</p>
													<i class="icon-exclamation-sign indicator"></i>
												</li>
												<li>
													<h3><a href="#">Lorem ipsum dolor&hellip;</a></h3>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aliquam assumenda&hellip;</p>
													<p class="large_info">Sean Walter, 24.05.2014</p>
												</li>
												<li>
													<h3><a href="#">Lorem ipsum dolor&hellip;</a></h3>
													<p>Lorem ipsum dolor sit amet, consectetur&hellip;</p>
													<p class="large_info">Sean Walter, 24.05.2014</p>
													<i class="icon-exclamation-sign indicator"></i>
												</li>
											</ul>
										</div>
										<div class="dropdown_footer">
											<a href="#" class="btn btn-sm btn-default">Show all</a>
											<div class="pull-right dropdown_actions">
												<a href="#"><i class="icon-refresh"></i></a>
												<a href="#"><i class="icon-cog"></i></a>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-xs-6 col-sm-push-4 col-sm-3">
							<div class="pull-right dropdown">
								<a href="#" class="user_info dropdown-toggle" title="Jonathan Hay" data-toggle="dropdown">
									<img src="{{ asset('bundles/buscolookadmin/images/user_avatar.png') }}" alt="">
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li><a href="user_profile.html">Profile</a></li>
									<li><a href="javascript:void(0)">Another action</a></li>
									<li><a href="login_page.html">Log Out</a></li>
								</ul>
							</div>
						</div>
						<div class="col-xs-12 col-sm-pull-6 col-sm-4">
							<form class="main_search">
								<input type="text" id="search_query" name="search_query" class="typeahead form-control">
								<button type="submit" class="btn btn-primary btn-xs"><i class="icon-search icon-white"></i></button>
							</form> 
						</div>
					</div>
				</div>
			</header>						
			<nav id="top_navigation">
				<div class="container">
					<ul id="icon_nav_h" class="top_ico_nav clearfix">
						<li>
							<a href="#">
								<i class="icon-home icon-2x"></i>
								<span class="menu_label">Home</span>
							</a>
						</li>
						<li>             
							<a href="#">
								<i class="icon-edit icon-2x"></i>
								<span class="menu_label">Content</span>
							</a>
						</li>
						<li>             
							<a href="#">
								<i class="icon-group icon-2x"></i>
								<span class="menu_label">Users</span>
							</a>
						</li>
						<li>             
							<a href="#">
								<span class="label label-danger">12</span>
								<i class="icon-tasks icon-2x"></i>
								<span class="menu_label">Tasks</span>
							</a>
						</li>
						<li>             
							<a href="#">
								<i class="icon-beaker icon-2x"></i>
								<span class="menu_label">Plugins</span>
							</a>
						</li>
						<li class="active">             
							<a href="#">
								<i class="icon-book icon-2x"></i>
								<span class="menu_label">Help</span>
							</a>
						</li>
						<li>             
							<a href="#">
								<span class="label label-success">$2 347</span>
								<i class="icon-tags icon-2x"></i>
								<span class="menu_label">E-Commerce</span>
							</a>
						</li>
						<li>             
							<a href="#">
								<i class="icon-wrench icon-2x"></i>
								<span class="menu_label">Settings</span>
							</a>
						</li>
					</ul>
				</div>
			</nav>
			<!-- mobile navigation -->
			<nav id="mobile_navigation"></nav>
			
			<section id="breadcrumbs">
				<div class="container">
					<ul>
						<li><a href="#">Ebro Admin</a></li>
						<li><span>Dashboard 1</span></li>						
					</ul>
				</div>
			</section>
                
			<section class="container clearfix main_section">
				<div id="main_content_outer" class="clearfix">
					<div id="main_content">
						
						<!-- main content -->
						
						<div class="row">
							<div class="col-sm-3">
								<div class="box_stat box_pos">
									<img src="{{ asset('bundles/buscolookadmin/images/blank.png') }}" alt="" class="img_ind">
									<h4>1 045$</h4>
									<small>Sale (7 days)</small>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="box_stat box_neg">
									<img src="{{ asset('bundles/buscolookadmin/images/blank.png') }}" alt="" class="img_ind">
									<h4>865</h4>
									<small>New Users (24h)</small>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="box_stat peity_chart">
									<div class="peity_wrapper">
										<div class="peity_bar_up">2,5,3,6,8,5</div>
									</div>
									<h4>10 327&euro;</h4>
									<small>Sale (June)</small>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="box_stat peity_chart">
									<div class="peity_wrapper">
										<div class="peity_bar_down">9,6,7,4,6,3</div>
									</div>
									<h4>135</h4>
									<small>Orders (24h)</small>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-sm-12">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">Locations</h4>
									</div>
									<div class="panel-body">
										<div class="row">
											<div class="col-sm-8">
												<div id="world_map_vector" style="width:100%;height:300px">
													<script>
														countries_data = {
															"US": 2320,
															"BR": 1945,
															"IN": 1779,
															"AU": 1486,
															"TR": 1024,
															"CN": 753
														};  
													</script>
												</div>
											</div>
											<div class="col-sm-4">
												<table class="table table-striped">
													<thead>
														<tr>
															<th>Country</th>
															<th class="col_small col_center">Visits</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td><a href="#">United States</a></td>
															<td class="col_center">2320</td>
														</tr>
														<tr>
															<td><a href="#">Brazil</a></td>
															<td class="col_center">1945</td>
														</tr>
														<tr>
															<td><a href="#">India</a></td>
															<td class="col_center">1779</td>
														</tr>
														<tr>
															<td><a href="#">Australia</a></td>
															<td class="col_center">1486</td>
														</tr>
														<tr>
															<td><a href="#">Turkey</a></td>
															<td class="col_center">1024</td>
														</tr>
														<tr>
															<td><a href="#">China</a></td>
															<td class="col_center">753</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-sm-6">
								<div class="box_stat_circular">
									<div class="box_stat_circular_a color_a">
										<h4>865</h4>
										<small>New Users (24h)</small>
									</div>
									<div class="box_stat_circular_middle">
										<div class="easy_chart easy_chart_a" data-percent="42"><i class="glyphicon glyphicon-user"></i></div>
									</div>
									<div class="box_stat_circular_b">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci&hellip;</p>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="box_stat_circular">
									<div class="box_stat_circular_a color_b">
										<h4>1 356</h4>
										<small>Orders (24h)</small>
									</div>
									<div class="box_stat_circular_middle">
										<div class="easy_chart easy_chart_b" data-percent="70"><span>+70%</span></div>
									</div>
									<div class="box_stat_circular_b">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci possimus&hellip;</p>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-sm-12">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">New Users</h4>
									</div>
									<div class="panel-body stat_wide">
										<div class="row">
											<div class="col-sm-4">
												<div class="media">
													<img alt="" src="{{ asset('bundles/buscolookadmin/images/avatars/avatar_4.jpg') }}" class="media-object img-thumbnail pull-left">
													<div class="media-body">
														<h3><a href="#">Sean Walter</a></h3>
														<p><span class="text-muted">Joined:</span> 12-08-2013</p>
														<p><span class="text-muted">Country:</span> <i class="flag-BR" title="Brazil"></i></p>
													</div>
												</div>
											</div>
											<div class="col-sm-4">
												<div class="media">
													<img alt="" src="{{ asset('bundles/buscolookadmin/images/avatars/avatar_7.jpg') }}" class="media-object img-thumbnail pull-left">
													<div class="media-body">
														<h3><a href="#">Edyth Nienow</a></h3>
														<p><span class="text-muted">Joined:</span> 11-08-2013</p>
														<p><span class="text-muted">Country:</span> <i class="flag-US" title="United States of America"></i></p>
													</div>
												</div>
											</div>
											<div class="col-sm-4">
												<div class="media">
													<img alt="" src="{{ asset('bundles/buscolookadmin/images/avatars/avatar_6.jpg') }}" class="media-object img-thumbnail pull-left">
													<div class="media-body">
														<h3><a href="#">Brody Renner</a></h3>
														<p><span class="text-muted">Joined:</span> 11-08-2013</p>
														<p><span class="text-muted">Country:</span> <i class="flag-CN" title="China"></i></p>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-4">
												<div class="media">
													<img alt="" src="{{ asset('bundles/buscolookadmin/images/avatars/avatar_14.jpg') }}" class="media-object img-thumbnail pull-left">
													<div class="media-body">
														<h3><a href="#">Diego Cormier</a></h3>
														<p><span class="text-muted">Joined:</span> 10-08-2013</p>
														<p><span class="text-muted">Country:</span> <i class="flag-GB" title="United Kingdom"></i></p>
													</div>
												</div>
											</div>
											<div class="col-sm-4">
												<div class="media">
													<img alt="" src="{{ asset('bundles/buscolookadmin/images/avatars/avatar_17.jpg') }}" class="media-object img-thumbnail pull-left">
													<div class="media-body">
														<h3><a href="#">Aimee Nolan</a></h3>
														<p><span class="text-muted">Joined:</span> 09-08-2013</p>
														<p><span class="text-muted">Country:</span> <i class="flag-FR" title="France"></i></p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-sm-7">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">Social Networks (7 days)</h4>
									</div>
									<div class="panel-body">
										<div class="chart_wrapper">
											<div id="flot_social" class="chart_b">
												<script>
													data_twitter = [
														[new Date('08/02/2012').getTime(),48],
														[new Date('08/03/2012').getTime(),63],
														[new Date('08/04/2012').getTime(),94],
														[new Date('08/05/2012').getTime(),49],
														[new Date('08/06/2012').getTime(),82],
														[new Date('08/07/2012').getTime(),54],
														[new Date('08/08/2012').getTime(),33]
													];
													data_google = [
														[new Date('08/02/2012').getTime(),32],
														[new Date('08/03/2012').getTime(),26],
														[new Date('08/04/2012').getTime(),51],
														[new Date('08/05/2012').getTime(),49],
														[new Date('08/06/2012').getTime(),72],
														[new Date('08/07/2012').getTime(),40],
														[new Date('08/08/2012').getTime(),49]
													];
													data_linkedin = [
														[new Date('08/02/2012').getTime(),22],
														[new Date('08/03/2012').getTime(),26],
														[new Date('08/04/2012').getTime(),41],
														[new Date('08/05/2012').getTime(),38],
														[new Date('08/06/2012').getTime(),16],
														[new Date('08/07/2012').getTime(),19],
														[new Date('08/08/2012').getTime(),47]
													];
													data_facebook = [
														[new Date('08/02/2012').getTime(),14],
														[new Date('08/03/2012').getTime(),17],
														[new Date('08/04/2012').getTime(),9],
														[new Date('08/05/2012').getTime(),26],
														[new Date('08/06/2012').getTime(),4],
														[new Date('08/07/2012').getTime(),31],
														[new Date('08/08/2012').getTime(),12]
													];
												</script>
											</div>
										</div>
									</div>
									<table class="table table-striped">
										<thead>
											<tr>
												<th>Social Network</th>
												<th class="col_small col_center">Visits</th>
												<th class="col_small col_center">Pageviews</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><a href="#">Twitter</a></td>
												<td class="col_center">423</td>
												<td class="col_center">631</td>
											</tr>
											<tr>
												<td><a href="#">Google+</a></td>
												<td class="col_center">316</td>
												<td class="col_center">549</td>
											</tr>
											<tr>
												<td><a href="#">LinkedIn</a></td>
												<td class="col_center">264</td>
												<td class="col_center">388</td>
											</tr>
											<tr>
												<td><a href="#">Facebook</a></td>
												<td class="col_center">152</td>
												<td class="col_center">274</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="col-sm-5">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">Browsers</h4>
									</div>
									<div class="panel-body">
										<div class="chart_wrapper">
											<div class="chart_b" id="flot_browsers">
												<script>
													data_browsers = [
														{ label: "Firefox",  data: 1428},
														{ label: "Chrome",  data: 858},
														{ label: "Safari",  data: 647},
														{ label: "IE",  data: 433},
														{ label: "Opera",  data: 141}
													];  
												</script>
											</div>
										</div>
									</div>
									<table class="table table-striped">
										<thead>
											<tr>
												<th>Browser</th>
												<th class="col_small col_center">Visits</th>
												<th class="col_small col_center">% visits</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><a href="#">Firefox</a></td>
												<td class="col_center">1428</td>
												<td class="col_center">54%</td>
											</tr>
											<tr>
												<td><a href="#">Chrome</a></td>
												<td class="col_center">858</td>
												<td class="col_center">21%</td>
											</tr>
											<tr>
												<td><a href="#">Safari</a></td>
												<td class="col_center">647</td>
												<td class="col_center">11%</td>
											</tr>
											<tr>
												<td><a href="#">Internet Explorer</a></td>
												<td class="col_center">433</td>
												<td class="col_center">6%</td>
											</tr>
											<tr>
												<td><a href="#">Opera</a></td>
												<td class="col_center">141</td>
												<td class="col_center">2%</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>

					</div>
				</div>

				<nav id="sidebar">
					<div class="sepH_b">
						<a href="javascript:void(0)" id="text_nav_v_collapse" class="btn btn-default btn-xs">Collapse All</a>
						<a href="javascript:void(0)" id="text_nav_v_expand" class="btn btn-default btn-xs">Expand All</a>
					</div>
					<ul id="text_nav_v" class="side_text_nav">
						<li class="parent_active">
							<a href="javascript:void(0)"><span class="icon-dashboard"></span>Dashboard</a>
							<ul>
								<li class="link_active"><a href="dashboard1.html">Dashboard 1</a></li>
								<li><a href="dashboard2.html">Dashboard 2</a></li>
							</ul>
						</li>
						<li>
							<a href="javascript:void(0)"><span class="icon-th-list"></span>Forms</a>
							<ul>
								<li><a href="form_regular_elements.html">Regular elements</a></li>
								<li><a href="form_extended_elements.html">Extended elements</a></li>
								<li><a href="form_multiupload.html">Multiupload </a></li>
								<li><a href="form_validation.html">Form validation</a></li>
								<li><a href="wizard.html">Wizard</a></li>
								<li><a href="wysiwg.html">WYSIWG Editor</a></li>
							</ul>
						</li>
						<li>
							<a href="javascript:void(0)"><span class="icon-puzzle-piece"></span>Components</a>
							<ul>
								<li><a href="calendar.html">Calendar</a></li>
								<li><a href="charts.html">Charts</a></li>
								<li><a href="contact_list.html">Contact List</a></li>
								<li><a href="file_manager.html">File manager</a></li>
								<li><a href="gallery.html">Gallery</a></li>
								<li><a href="gmaps.html">Google Maps</a></li>
								<li>
									<a href="javascript:void(0)">Tables</a>
									<ul>
										<li><a href="datatables.html">Datatables</a></li>
										<li><a href="regular_tables.html">Regular</a></li>
										<li><a href="slick_grid.html">Slick Grid</a></li>
										<li><a href="table_responsive.html">Responsive Table</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<a href="javascript:void(0)"><span class="icon-beaker"></span>UI Elements</a>
							<ul>
								<li><a href="alerts_buttons.html">Alerts, Buttons</a></li>
								<li><a href="grid.html">Grid</a></li>
								<li><a href="icons.html">Icons</a></li>
								<li><a href="notifications.html">Notifications</a></li>
								<li><a href="panels.html">Panels</a></li>
								<li><a href="tabs_accordions.html">Tabs, Accordions</a></li>
								<li><a href="tooltips_popovers.html">Tooltips, Popovers</a></li>
								<li><a href="typography.html">Typography</a></li>
							</ul>
						</li>
						<li>
							<a href="javascript:void(0)"><span class="icon-leaf"></span>Other Pages</a>
							<ul>
								<li><a href="blank.html">Blank page</a></li>
								<li><a href="chat.html">Chat</a></li>
								<li><a href="contact_page.html">Contact Page</a></li>
								<li><a href="error_404.html">Error 404</a></li>
								<li><a href="help_faq.html">Help/Faq</a></li>
								<li><a href="invoices.html">Invoices</a></li>
								<li><a href="landing_page.html">Landing Page</a></li>
								<li><a href="login_page.html">Login Page</a></li>
								<li><a href="mailbox.html">Mailbox</a></li>
								<li><a href="user_profile.html">User profile</a></li>
								<li><a href="search_page.html">Search Page</a></li>
								<li><a href="settings.html">Site Settings</a></li>
							</ul>
						</li>
					</ul>				</nav>
			</section>
			<div id="footer_space"></div>
		</div>

        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        &copy; 2013 Your Company
                    </div>
                    <div class="col-sm-8">
                        <ul>
                            <li><a href="#">Dashboard</a></li>
                            <li>&middot;</li>
                            <li><a href="#">Terms of Service</a></li>
                            <li>&middot;</li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li>&middot;</li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-1 text-right">
                        <small class="text-muted">v1.0</small>
                    </div>
                </div>
            </div>
        </footer>
        
        {% javascripts '@BuscolookAdminBundle/Resources/public/js/jquery.min.js'
				   '@BuscolookAdminBundle/Resources/public/bootstrap/js/bootstrap.min.js'
				   '@BuscolookAdminBundle/Resources/public/js/jquery.ba-resize.min.js'
				   '@BuscolookAdminBundle/Resources/public/js/jquery_cookie.min.js'
				   '@BuscolookAdminBundle/Resources/public/js/jquery_cookie.min.js'
				   '@BuscolookAdminBundle/Resources/public/js/retina.min.js'
				   '@BuscolookAdminBundle/Resources/public/js/tinynav.js'
				   '@BuscolookAdminBundle/Resources/public/js/jquery.sticky.js'
				   '@BuscolookAdminBundle/Resources/public/js/lib/navgoco/jquery.navgoco.min.js'
				   '@BuscolookAdminBundle/Resources/public/js/lib/jMenu/js/jMenu.jquery.js'
				   '@BuscolookAdminBundle/Resources/public/js/lib/typeahead.js/typeahead.min.js'
				   '@BuscolookAdminBundle/Resources/public/js/lib/typeahead.js/hogan-2.0.0.js'
				   '@BuscolookAdminBundle/Resources/public/js/ebro_common.js'
				   '@BuscolookAdminBundle/Resources/public/js/lib/peity/jquery.peity.min.js'
				   '@BuscolookAdminBundle/Resources/public/js/lib/jvectormap/jquery-jvectormap-1.2.2.min.js'
				   '@BuscolookAdminBundle/Resources/public/js/lib/jvectormap/maps/jquery-jvectormap-world-mill-en.js'
				   '@BuscolookAdminBundle/Resources/public/js/lib/flot/jquery.flot.min.js'
				   '@BuscolookAdminBundle/Resources/public/js/lib/flot/jquery.flot.pie.min.js'
				   '@BuscolookAdminBundle/Resources/public/js/lib/flot/jquery.flot.time.min.js'
				   '@BuscolookAdminBundle/Resources/public/js/lib/flot/jquery.flot.tooltip.min.js'
				   '@BuscolookAdminBundle/Resources/public/js/lib/flot/jquery.flot.resize.js'
				   '@BuscolookAdminBundle/Resources/public/js/lib/easy-pie-chart/jquery.easy-pie-chart.js'
				   '@BuscolookAdminBundle/Resources/public/js/pages/ebro_dashboard1.js' %}
	    <script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
	

	<!--[if lte IE 9]>
		<script src="js/ie/jquery.placeholder.js"></script>
		<script>
			$(function() {
				$('input, textarea').placeholder();
			});
		</script>
	<![endif]-->
	
    <!-- style switcher -->
		<div id="style_switcher" class="switcher_open">
            <a href="#" class="switcher_toggle"><i class="icon-cog"></i></a>
			<div class="style_items">
				<p class="style_title">Theme</p>
				<ul class="clearfix" id="theme_switch">
					<li class="style_active" style="background:#48ac2e" title="color_1">Color 1</li>
					<li style="background:#993399" title="color_2">Color 2</li>
					<li style="background:#168cbe" title="color_3">Color 3</li>
					<li style="background:#d61110" title="color_4">Color 4</li>
					<li style="background:#e96710" title="color_5">Color 5</li>
					<li style="background:#262626" title="color_6">Color 6</li>
					<li style="background:#01aaad" title="color_7">Color 7</li>
					<li style="background:#9c5100" title="color_8">Color 8</li>
					<li style="background:#e31a8f" title="color_9">Color 9</li>
					<li style="background:#ffbb0e" title="color_10">Color 10</li>
					<li style="background:#79be0b" title="color_11">Color 11</li>
					<li style="background:#887171" title="color_12">Color 12</li>
					<li style="background:#28abe2" title="color_13">Color 13</li>
					<li style="background:#2f7138" title="color_14">Color 14</li>
					<li style="background:#ce4627" title="color_15">Color 15</li>
					<li style="background:#693986" title="color_16">Color 16</li>
					<li style="background:#7f8c8d" title="color_17">Color 17</li>
					<li style="background:#2c3e50" title="color_18">Color 18</li>
					<li style="background:#34495e" title="color_19">Color 19</li>
					<li style="background:#1abc9c" title="color_20">Color 20</li>
				</ul>
			</div>
			<div class="style_items" id="sidebar_switch">
				<p class="style_title">Sidebar position</p>
				<label class="radio-inline">
					<input type="radio" name="sidebar_position" id="sidebar_left" value="left" checked> Left
				</label>
				<label class="radio-inline">
					<input type="radio" name="sidebar_position" id="sidebar_right" value="right"> Right
				</label>
			</div>
			<div class="style_items" id="layout_switch">
				<p class="style_title">Layout</p>
				<select name="layout_style" id="layout_style" class="form-control">
					<option value="boxed" class="hidden-sm hidden-md">Boxed</option>
					<option value="fixed">Fixed</option>
					<option value="full_width" class="hidden-sm hidden-md">Full Width</option>
				</select>
			</div>
			<div class="style_items" id="style_pattern">
				<p class="style_title">Pattern (boxed layout)</p>
				<ul class="clearfix">
					<li class="pattern_active" style="background:url({{ asset('bundles/buscolookadmin/images/patterns/pattern_1.png')}} no-repeat 0 0" title="pattern_1">Pattern 1</li>
					<li style="background:url({{ asset('bundles/buscolookadmin/images/patterns/pattern_2.png')}} no-repeat 0 0" title="pattern_2">Pattern 2</li>
					<li style="background:url({{ asset('bundles/buscolookadmin/images/patterns/pattern_3.png')}} no-repeat 0 0" title="pattern_3">Pattern 3</li>
					<li style="background:url({{ asset('bundles/buscolookadmin/images/patterns/pattern_4.png')}} no-repeat 0 0" title="pattern_4">Pattern 4</li>
					<li style="background:url({{ asset('bundles/buscolookadmin/images/patterns/pattern_5.png')}} no-repeat 0 0" title="pattern_5">Pattern 5</li>
					<li style="background:url({{ asset('bundles/buscolookadmin/images/patterns/pattern_6.png')}} no-repeat 0 0" title="pattern_6">Pattern 6</li>
					<li style="background:url({{ asset('bundles/buscolookadmin/images/patterns/pattern_7.png')}} no-repeat 0 0" title="pattern_7">Pattern 7</li>
					<li style="background:url({{ asset('bundles/buscolookadmin/images/patterns/pattern_8.png')}} no-repeat 0 0" title="pattern_8">Pattern 8</li>
					<li style="background:url({{ asset('bundles/buscolookadmin/images/patterns/pattern_9.png')}} no-repeat 0 0" title="pattern_9">Pattern 9</li>
					<li style="background:url({{ asset('bundles/buscolookadmin/images/patterns/pattern_10.png')}}) no-repeat 0 0" title="pattern_10">Pattern 10</li>
				</ul>
			</div>
			<div class="text-center">
				<button class="btn btn-default" id="style_reset">Reset</button>
			</div>
        </div>

	</body>
</html>