<nav id="top_navigation">
	<div class="container">
		<ul id="icon_nav_h" class="top_ico_nav clearfix">
			<li class="active">
				<a href="#">
					<i class="icon-home icon-2x"></i>
					<span class="menu_label">Inicio</span>
				</a>
			</li>
			<li>             
				<a href="{{ path('buscolook_admin_categories') }}">
					<i class="icon-edit icon-2x"></i>
					<span class="menu_label">Categorias</span>
				</a>
			</li>
			{% if is_granted('ROLE_ADMIN') %}
            <li>
				<a href="{{ path('buscolook_admin_bussiness') }}">
                    <span class="label label-success">12</span>
                    <i class="icon-group icon-2x"></i>
					<span class="menu_label">Tiendas</span>
				</a>
			</li>
            {% elseif is_granted('ROLE_BUSSINESS') %}
                <li>
                <a href="{{ path('buscolook_admin_bussiness_edit',{'id':bussiness_id}) }}">
                    <span class="label label-success">12</span>
                    <i class="icon-group icon-2x"></i>
                    <span class="menu_label">Tienda</span>
                </a>
            </li>
            {% endif %}
            {% if not is_granted('ROLE_ADMIN') %}
            <li>
				<a href="#">
					<span class="label label-success">12</span>
					<i class="icon-tasks icon-2x"></i>
					<span class="menu_label">Prendas</span>
				</a>
			</li>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ path('buscolook_admin_banner') }}">
                        <i class="icon-tasks icon-2x"></i>
                        <span class="menu_label">Banner</span>
                    </a>
                </li>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ path('buscolook_admin_inspiration') }}">
                        <i class="icon-tasks icon-2x"></i>
                        <span class="menu_label">Inspiration</span>
                    </a>
                </li>
            {% endif %}

			<!--<li>
				<a href="#">
					<i class="icon-beaker icon-2x"></i>
					<span class="menu_label">Ventas</span>
				</a>
			</li>
			<li>             
				<a href="#">
					<span class="label label-success">$2 347</span>
					<i class="icon-tags icon-2x"></i>
					<span class="menu_label">E-Commerce</span>
				</a>
			</li>-->
			<li>             
				<a href="#">
					<i class="icon-wrench icon-2x"></i>
					<span class="menu_label">Ajustes</span>
				</a>
			</li>
		</ul>
	</div>
</nav>