/* defaults */

* { margin: 0; padding: 0; } a { color: #000; text-decoration: underline; } a:hover { text-decoration: none; } a img { border: none; }

body { background: #fff; color: #000; font-family: 'Arial CE', Arial, helvetica, sans-serif; font-size: 12px; text-align: left; }

/*
* html .cf { height: 1%; }
*+html .cf { display: inline-block; }
.cf:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
*/

.cf:before,
.cf:after { content: " "; display: table; }
.cf:after { clear: both; }

h1,
h2 { font-size: 2.7em; font-weight: bold; padding: 10px 0 40px 0; }
h3 { font-size: 1.2em; font-weight: bold; padding: 10px 0; }

p { line-height: 1.5em; padding: 0 0 10px 0; }

img { vertical-align: top; }

hr,
.hidden { display: none; }
.fl { float: left; }
.fr { float: right; }
.grayText { color: #777; }
.uppercase { text-transform: uppercase; }
.hashtag { color: #1d77bc; }

.clear { clear: both; }
.twoCol { float: left; width: 49.9%; }

input[type=text],
input[type=password],
textarea { border: 1px solid #000; border-radius: 2px; background: #fff; display: inline-block; width: 100%; padding: 7px 10px; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 14px; color: #000; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; position: relative; text-transform: uppercase; }
textarea { min-height: 60px; }
.inputSelectInner { text-transform: uppercase; }
input[type=text].error,
input[type=password].error,
textarea.error { color: #a00; background: #fdd; border-color: #fac; }
textarea + .counter { font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 14px; color: #777; position: absolute; bottom: 4px; right: 1px; background: #fff; padding: 5px; border-radius: 0 0 5px 0; }
::-webkit-input-placeholder { color: #777; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 16px; text-transform: uppercase; }
:-moz-placeholder { color: #777; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 16px; text-transform: uppercase; }
::-moz-placeholder { color: #777; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 16px; text-transform: uppercase; }
:-ms-input-placeholder { color: #777; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 16px; text-transform: uppercase; }
button[type=submit] { background: #000; color: #fff; border: 0; border-radius: 0; display: inline-block; padding: 9px 20px; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 14px; cursor: pointer; }
button[type=submit].orange { background: #ffe0a9; color: #000; }
form .row { margin: 20px 0; }
form .row.first { margin-top: 0; }
.textareaInfo { font-size: 14px; font-family: gotham_condensedmedium, "Arial CE", Arial, sans-serif; margin-left: 10px; }
.textareaInfo strong { font-weight: normal; font-family: gotham_condensedbold, "Arial CE", Arial, sans-serif; }

.center { text-align: center; }
.right { text-align: right; }
.left { text-align: left; }

.highlight { display: inline-block; padding: 10px; margin: -10px 0 0 -10px; background: 50% 50% no-repeat; background-size: 100% auto; }
.highlightGreen { padding-left: 20px; margin-left: -20px; background-image: url("../../bundles/buscolookweb/css/images/blob_green.png"); }
.highlightPink { background-image: url("../../bundles/buscolookweb/css/images/blob_pink.png"); }

.button { display: inline-block; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; }
.button.whiteButton { cursor: pointer; font-family: gotham_condensedmedium, "Arial CE", Arial, sans-serif; text-transform: uppercase; font-size: 16px; line-height: 20px; background: #fff; color: #000; padding: 15px 20px 15px 15px; border-radius: 3px; }
.button.greenButton { cursor: pointer; text-transform: uppercase; font-size: 14px; line-height: 20px; background: #d7ffcd; color: #000; padding: 5px 15px; border-radius: 3px; text-decoration: none; }
.button.grayBorder { border: 1px solid #ebeaea; }

ul.brands { list-style: none; }
ul.brands li { display: inline-block; padding-right: 10px; margin-bottom: 5px; }
ul.brands li:before { content: '|'; margin-right: 10px; }
ul.brands li:first-child:before { display: none; }
ul.brands a { text-decoration: none; }
ul.brands a:hover { text-decoration: underline; }

.onlyMobile { display: none; }
/* fonts */
/*
gotham_condensedbold
gotham_condensedbook
gotham_condensedmedium
kidprintregular
*/
.ffBook { font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; }
.ffMedium { font-family: gotham_condensedmedium, "Arial CE", Arial, sans-serif; }
.ffBold { font-family: gotham_condensedbold, "Arial CE", Arial, sans-serif; }
.ffKid { font-family: kidprintregular, "Arial CE", Arial, sans-serif; }

/* icons */
[class^="icon-"] { position: relative; display: inline-block; background: url('../../bundles/buscolookweb/css/images/sprite.png'); background-size: 150px 200px; vertical-align: middle; overflow: hidden; text-indent: -1000em; }
[class^="icon-"].withText { text-align: center; text-indent: -1px; color: #000; font-style: normal; font-family: gotham_condensedbold, "Arial CE", Arial, sans-serif; font-size: 12px; line-height: 1.8em }
.icon-facebook { width: 27px; height: 27px; background-position: -30px -34px; }
.icon-twitter { width: 27px; height: 27px; background-position: -57px -34px; }
.icon-pinterest { width: 27px; height: 27px; background-position: -84px -34px; }
.icon-category { width: 15px; height: 10px; background-position: -73px -19px; margin: 0 1px; }
.icon-brand { width: 12px; height: 13px; background-position: -98px -19px; margin: 0 3px; }
.icon-bag { width: 10px; height: 15px; background-position: -110px -19px; margin: 0 3px; }
.icon-place { width: 10px; height: 15px; background-position: -88px -19px; margin: 0 3px; }
.icon-login { width: 10px; height: 13px; background-position: -46px 0; }
.icon-cart { width: 17px; height: 13px; background-position: -56px 0; }
.icon-cart-black { width: 17px; height: 13px; background-position: -73px 0; }
.icon-home { width: 16px; height: 14px; background-position: 0 0;}
.icon-empty-home { width: 16px; height: 16px; background-position: 0 -105px; }
.icon-ios { width: 14px; height: 17px; background-position: -16px 0; }
.icon-android { width: 15px; height: 19px; background-position: -30px 0; }
.icon-menu { width: 19px; height: 10px; background-position: 0 -19px; }
.icon-comment { width: 16px; height: 15px; background-position: -19px -19px; }
.icon-comment-black { width: 16px; height: 15px; background-position: -101px -84px; }
.icon-like { width: 14px; height: 14px; background-position: -35px -19px; }
.icon-like-full { width: 14px; height: 14px; background-position: -237px -86px; }
.icon-like-black { width: 25px; height: 21px; background-position: -85px -128px; background-size: 300px 400px; }
.icon-like-black-full { width: 28px; height: 26px; background-position: -174px -170px; background-size: 300px 400px; }
.icon-close-small { width: 7px; height: 7px; background-position: 0 -160px; background-size: 300px 400px; }
.icon-plus { width: 17px; height: 17px; background-position: -110px -128px; background-size: 300px 400px; }
.icon-share-facebook { width: 15px; height: 16px; background-position: 0 -85px; }
.icon-share-twitter { width: 15px; height: 14px; background-position: -15px -85px; }
.icon-share-pinterest { width: 13px; height: 18px; background-position: -31px -85px; }
.icon-share-instagram { width: 15px; height: 16px; background-position: -44px -85px; }
.icon-share-googleplus { width: 17px; height: 18px; background-position: -59px -85px; }
.icon-share-tumblr { width: 10px; height: 17px; background-position: -77px -85px; }
.icon-phone { width: 14px; height: 16px; background-position: -103px -64px; }
.icon-mail { width: 16px; height: 12px; background-position: -117px -64px; }
.icon-web { width: 16px; height: 16px; background-position: -133px -64px; }
.icon-notification { width: 23px; height: 21px; background-position: -120px -85px; }
.icon-cart-pink { width: 18px; height: 13px; background-position: -120px -116px; }
.icon-trash { width: 11px; height: 13px; background-position: -125px -130px; }
.icon-refresh { width: 16px; height: 14px; background-position: -35px -175px; }
.icon-info { width: 20px; height: 20px; background-position: -55px -175px; }
.icon-upload { width: 11px; height: 14px; background-position: 0 -185px; }
.icon-upload-black { width: 11px; height: 14px; background-position: -11px -185px; }
.icon-eye { width: 16px; height: 11px; background-position: -22px -189px; }
.icon-eye-black { width: 16px; height: 11px; background-position: -38px -189px; }
.icon-eye-check { width: 19px; height: 13px; background-position: -75px -187px; }
.icon-eye-check-black { width: 19px; height: 13px; background-position: -94px -187px; }
.icon-lock { width: 14px; height: 10px; background-position: -113px -187px; }
.icon-lock-black { width: 14px; height: 10px; background-position: -127px -187px; }
.icon-lock-gray { width: 15px; height: 10px; background-position: -120px -106px; }
.icon-settings { width: 12px; height: 11px; background-position: -115px -50px; }
.icon-settings-pink { width: 12px; height: 11px; background-position: -135px -145px; }

/* socials */
[class^="social-"], [class*=" social-"] {
    font-family: 'busco-social';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.social-twitter:before { content: "\21"; }
.social-facebook:before { content: "\22"; }
.social-googleplus:before { content: "\23"; }
.social-pinterest:before { content: "\24"; }
.social-tumblr:before { content: "\25"; }
.social-instagram:before { content: "\26"; }

/* popups */
.mfp-container { padding: 0 40px; }
.mfp-inline-holder .mfp-content { width: 78.125%; max-width: 1000px; }
.mfp-content { margin: 50px auto; background: #fff; border-radius: 5px; }
.popupContent { padding: 40px; max-width: 920px; }
.popupContent:after { content: ''; display: block; clear: both; }
.popupContent h2,
.popupContent h3 { font-family: gotham_condensedbold, "Arial CE", Arial, sans-serif; text-transform: uppercase; padding: 0; margin-bottom: 20px; }
.popupContent h2 { font-size: 36px; }
.popupContent h3 { font-size: 24px; }
.popupContent strong { font-weight: normal; font-family: gotham_condensedbold, "Arial CE", Arial, sans-serif; }

/* layout */
#page .width { width: 1000px; margin: 0 auto; position: relative; }
#topBar { background: #000; text-align: right; }
#topBar ul { list-style: none; float: right; }
#topBar li { list-style: none; float: left; padding: 10px 0 10px 10px; }
#topBar li { border-left: 1px solid #242424; padding: 10px; position: relative; }
#topBar li:first-child { border-left: none; }
#topBar a { color: #fff; font-family: gotham_condensedmedium, "Arial CE", Arial, sans-serif; text-transform: uppercase; font-size: 14px; text-decoration: none; }
#topBar i { margin: 0 4px; top: -2px; }

#header { padding: 25px 0; border-bottom: 1px solid #c8c8c8; z-index: 15; position: relative; }
#header h1 { margin: 0; padding: 0; }
#header .logo { width: 130px; float: left; margin: 0 170px 0 0; }
#header .logo img { max-width: 100%; }
#header .application { float: right; text-transform: uppercase; font-size: 14px; padding-top: 10px; }
#header .application span { vertical-align: middle; position: relative; top: 2px; }
#header .application i { margin: 0 3px; }
#header nav { float: left; z-index: 15; padding-top: 6px; position: relative; }
#header nav ul { list-style: none; z-index: 2; position: relative; }
#header nav li { list-style: none; position: relative; }
#header nav a { text-transform: uppercase; text-decoration: none; display: block; vertical-align: middle; }
#header nav a.home i { position: relative; top: -2px; }
#header nav > ul > li { float: left; }
#header nav > ul > li > a { padding: 5px 20px 6px 20px; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 18px; }
#header nav > ul > li > a.active { font-family: gotham_condensedbold, "Arial CE", Arial, sans-serif; }
#header nav .child1 { position: absolute; top: 100%; left: -25%; width: 150%; z-index: 3; display: none; }
#header nav .child2 { position: absolute; top: 0; left: 100%; z-index: 4; display: none; }
#header nav .child1 > li,
#header nav .child2 > li { border: 1px solid #000; margin-top: -1px; background: #fff; }
#header nav .child1 > li:first-child { border-radius: 5px 5px 0 0; margin-top: 0; }
#header nav .child2 > li:first-child { border-radius: 0 5px 0 0; }
#header nav .child1 > li:last-child,
#header nav .child2 > li:last-child { border-radius: 0 0 5px 5px; }
#header nav .child1 .childHasOneItem li { border-radius: 0 5px 5px 0; }
#header nav .child1 > li a { font-family: gotham_condensedmedium, "Arial CE", Arial, sans-serif; font-size: 14px; padding: 0 20px; min-width: 80px; line-height: 28px; }
#header nav .child1 > li > a.hasIcon { padding-left: 5px; }
#header nav .child1 > li > a.hasIcon i { top: -2px; }
#header nav .child1 > li > a.hasIcon span { margin: 0 0 0 5px; }
#header nav .child2 > li { background: #efefef; }

#header nav .child1:before { width: 0; height: 0; position: absolute; top: -9px; left: 50%; margin-left: -3px; border: 3px solid rgba(0,0,0,0); border-bottom: 6px solid #000; content: " "; display: block; }
#header nav .child1:after { width: 0; height: 0; position: absolute; top: -8px; left: 50%; margin-left: -3px; border: 3px solid rgba(255,255,255,0); border-bottom: 6px solid #fff; content: " "; display: block; }
#header nav .child1.firstChildHover:after { width: 0; height: 0; position: absolute; top: -8px; left: 50%; margin-left: -3px; border: 3px solid rgba(255,175,168,0); border-bottom: 6px solid #ffafa8; content: " "; display: block; }

#header nav li.hover > .child1 { display: block; }
#header nav li.hover > .child2 { display: block; }

#header nav .child1 > li:hover,
#header nav .child2 > li:hover { background: #ffafa8; }
#header nav .child1 > li:first-child:hover { border-radius: 5px 5px 0 0; }
#header nav .child1 > li:last-child:hover { border-radius: 0 0 5px 5px; }
#header nav .child1 > li.hasChild:first-child:hover { border-radius: 5px 0 0 0; }
#header nav .child1 > li.hasChild:last-child:hover { border-radius: 0 0 0 5px; }
#header nav .child1 > li.hasChild:hover:before { width: 0; height: 0; position: absolute; top: 50%; right: -9px; margin-top: -3px; border: 3px solid rgba(0,0,0,0); border-left: 6px solid #000; content: " "; display: block; z-index: 5; }
#header nav .child1 > li.hasChild:hover:after { width: 0; height: 0; position: absolute; top: 50%; right: -8px; margin-top: -3px; border: 3px solid rgba(255,175,168,0); border-left: 6px solid #ffafa8; content: " "; display: block; z-index: 6; }

#header nav li.checked:after,
#header nav li.active:after { display: block; position: absolute; top: 50%; right: 5px; width: 10px; height: 9px; margin-top: -4px; background: url('../../bundles/buscolookweb/css/images/sprite.png') -49px -19px no-repeat; background-size: 150px 200px; content: " "; }

#coverHeader { position: absolute; z-index: 16; left: 0; width: 100%; background: rgba(0, 0, 0, .8); top: 41px; height: 613px; }

#main { padding: 20px 0 80px 0; position: relative; z-index: 1; }
#main.noSpace { padding-top: 0; }

#footer { background: #000; color: #fff; position: fixed; bottom: 0; left: 0; right: 0; font-size: 14px; text-transform: uppercase; padding: 12px 0 8px 0; z-index: 16; }
#footer .copy { float: left; }
#footer .copy img { vertical-align: middle; }
#footer .copy span { margin: 0 0 0 20px; vertical-align: middle; }
#footer .social { float: right; }
#footer .social span { display: inline-block; vertical-align: middle; margin: 0 10px 0 0; }
#footer .social ul { list-style: none; display: inline-block; vertical-align: middle; }
#footer .social li { list-style: none; display: inline-block; margin: 0 2px; }

label.forCheckbox { position: relative; }
label.forCheckbox:before { content: " "; width: 10px; height: 10px; background: url('../../bundles/buscolookweb/css/images/sprite.png') -200px 0 no-repeat; margin: 0 5px 0 0; display: inline-block; }
input:checked + label.forCheckbox:before { background-position: -200px -10px; }

.vihi { position: absolute; top: -1000px; left: -1000px; visibility: hidden; opacity: 0.01; }

.navLikeMenu {  }
.navLikeMenu:before { width: 0; height: 0; position: absolute; top: -9px; left: 50%; margin-left: -3px; border: 3px solid rgba(0,0,0,0); border-bottom: 6px solid #000; content: " "; display: block; }
.navLikeMenu:after { width: 0; height: 0; position: absolute; top: -8px; left: 50%; margin-left: -3px; border: 3px solid rgba(239,239,239,0); border-bottom: 6px solid #efefef; content: " "; display: block; }
.navLikeMenu.firstChildHover:after { width: 0; height: 0; position: absolute; top: -8px; left: 50%; margin-left: -3px; border: 3px solid rgba(255,175,168,0); border-bottom: 6px solid #ffafa8; content: " "; display: block; }
.navLikeMenu > li > a { display: block; padding: 5px 20px 6px 20px; text-decoration: none; }
.navLikeMenu > li { border: 1px solid #000; margin-top: -1px; background: #efefef; }
.navLikeMenu > li:first-child { border-radius: 5px 5px 0 0; }
.navLikeMenu > li:last-child { border-radius: 0 0 5px 5px; }
.navLikeMenu > li:hover { background: #ffafa8; }
.navLikeMenu > li.checked:after,
.navLikeMenu > li.active:after { display: block; position: absolute; top: 50%; right: 5px; width: 10px; height: 9px; margin-top: -4px; background: url('../../bundles/buscolookweb/css/images/sprite.png') -49px -19px no-repeat; background-size: 150px 200px; content: " "; }

.inputSelectWrap select { cursor: pointer; }
.inputSelect { background: #f1f0f0; padding: 10px; border-radius: 3px; cursor: pointer; }
.inputSelect.inputSelectHover {  }
.inputSelect.inputSelectOpen {  }
.inputSelect.inputSelectFocus {  }
.inputSelect.inputSelectDisabledOption {  }
.inputSelect.inputSelectDisabled {  }
.inputSelectInner {  padding: 0 15px 0 0; background: url('../../bundles/buscolookweb/css/images/ico_arrow-down.png') 100% 50% no-repeat; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 14px; cursor: pointer; }
.inputSelectWrap.whiteSelect .inputSelect { background-color: #fff; }
.inputSelectWrap.fullwidthSelect select { width: 100% !important; }
.inputSelectWrap.fullwidthSelect .inputSelect, .inputSelectWrap.fullwidthSelect .inputSelectInner { display: block !important; }
.inputSelectWrap.fullwidthSelect .inputSelectInner { width: auto !important; }

.actionIcons { list-style: none; display: inline-block; font-size: 0; vertical-align: middle; }
.actionIcons li { list-style: none; display: inline-block; border: 1px solid #f1f0f0; border-radius: 3px; margin: 2px; text-align: center; }
.actionIcons li a { display: block; width: 35px; height: 35px; overflow: hidden; text-decoration: none; position: relative; }
.actionIcons li i { margin-top: 11px; }
.actionIcons li i[class^="social-"] { font-size: 15px; line-height: normal; position: absolute; top: 50%; left: 0; margin-top: -8px; width: 100%; text-align: center; }
.actionIcons li.disabled { background: #f5f5f5; }
.actionIcons li.disabled a { color: #797979; }

.banner { margin: 10px 0 25px 0; position: relative; }
.banner .gallery { width: 100%; }
.banner .slides {  }
.banner .slide {  }
.banner .slide .wrap { position: relative; border: 1px solid #f1f0f0; }
.banner .slide .wrap .count { position: absolute; top: 8px; right: 8px; font-family: kidprintregular, "Arial CE", Arial, sans-serif; font-size: 14px; color: #2d2d2f; }
.banner .slide .wrap img { max-width: 100%; }
.banner .slide .left { float: left; width: 50%; }
.banner .slide .right { float: right; width: 50%; }


.filterRow { font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 14px; text-transform: uppercase; margin: 0 0 10px 0; }
.filterRow .filters { float: left; }
.filterRow .filters .title { margin: 0 10px 0 0; }
.filterRow .searchWrap { display: inline-block; margin: 0 10px; }
.filterRow .search { background: #efefef; border-radius: 2px; }
.filterRow .search ::-webkit-input-placeholder { color: #000 !important; }
.filterRow .search ::-moz-input-placeholder { color: #000 !important; }
.filterRow .search :-moz-placeholder { color: #000 !important; }
.filterRow .search ::-ms-input-placeholder { color: #000 !important; }
.filterRow .search :-ms-placeholder { color: #000 !important; }
.filterRow .search ::-o-input-placeholder { color: #000 !important; }
.filterRow .search input[type=text] { width: auto; padding: 5px 10px; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 14px; text-transform: uppercase; border: 0; background: transparent; color: #000; }
.filterRow .search input[type=submit] { overflow: hidden; width: 14px; height: 15px; background: url('../../bundles/buscolookweb/css/images/sprite.png') -59px -19px no-repeat; background-size: 150px 200px; border: 0; text-indent: -1000em; cursor: pointer; margin: 0 5px; }
.filterRow .orders { float: right; padding-top: 6px; margin: 0 0 0 30px; }
.filterRow .orders .title { margin: 0 5px 0 0; }
.filterRow .orders a { text-decoration: none; margin: 0 5px; }
.filterRow .orders a:hover { text-decoration: underline; }
.filterRow .orders .active { font-family: gotham_condensedbold, "Arial CE", Arial, sans-serif; }

.filterByItem { display: inline-block; margin: 0 10px 0 0; }
.filterByItem .remove { background: #ffafa8; font-size: 12px; text-decoration: none; padding: 1px 3px 0 3px; display: inline-block; border-radius: 2px; text-transform: uppercase; display: none; }
.filterByItem.active .remove { display: inline-block; }
.filterByItem.filterPlace.active .remove { background: #d7ffcd; }
.filterByItem.filterCategory.active .remove { background: #ffafa8; }
.filterByItem.filterBag.active .remove { background: #ffafa8; }
.filterByItem.filterBrand.active .remove { background: #ffe0a9; }
.filterByItem.filterPlace.active .icon-place { background-position: -130px -19px; }
.filterByItem.filterCategory.active .icon-category { background-position: -123px -34px; }
.filterByItem.filterBag.active .icon-bag { background-position: -120px -19px; }
.filterByItem.filterBrand.active .icon-brand { background-position: -110px -34px; }
.filterByItem .remove i { top: -2px; margin-left: 2px; }
.filterByItem .by { margin: 0 2px 0 0; }
.filterByItem.active .by { font-family: gotham_condensedbold, "Arial CE", Arial, sans-serif; }
.filterMenu li ul { position: absolute; list-style: none; min-width: 140%; top: 95%; left: 50%; margin-left: -70%; z-index: 10; display: none; }
.filterMenu { display: inline-block; list-style: none; }
.filterMenu > li { display: inline-block; list-style: none; position: relative; cursor: pointer; padding-bottom: 10px; }
.filterMenu > li:hover ul { display: block; }

.contentTop { font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 14px; text-transform: uppercase; }
.contentTop .back { text-decoration: none; }
.contentTop .orders { float: right; margin: 0 0 0 30px; }
.contentTop .orders .title { margin: 0 5px 0 0; }
.contentTop .orders a { text-decoration: none; margin: 0 5px; }
.contentTop .orders a:hover { text-decoration: underline; }
.contentTop .orders .active { font-family: gotham_condensedbold, "Arial CE", Arial, sans-serif; }

.grid { text-align: justify; }
.grid:after { content: " "; display: inline-block; width: 100%; }
.grid .break { display: inline-block; width: 31%; height: 0; }
.grid .item { display: inline-block; width: 31%; margin: 15px 0; text-align: left; }
.grid .item .newItem { border: 1px solid #252525; background: #fff; text-align: center; position: relative; overflow: hidden; height: 280px; }
.grid .item .newItem:before { content: ''; display: inline-block; height: 100%; vertical-align: middle; }
.grid .item .newItem .default { padding-top: 50px; position: relative; display: inline-block; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 30px; line-height: 1.2em; text-transform: uppercase; position: relative; top: 30px; }
.grid .item .newItem .default:before { content: ''; position: absolute; top: 0; left: 50%; margin-left: -16px; width: 32px; height: 41px; background: url("../../bundles/buscolookweb/css/images/sprite.png") 0 -140px no-repeat; background-size: 150px 200px; }

.grid .item .border { border: 1px solid #f1f0f0; }
.grid .item .preview { position: relative; overflow: hidden; }
.grid .item .gallery { position: relative; }
.grid .item .gallery .count { position: absolute; top: 8px; right: 8px; font-family: kidprintregular, "Arial CE", Arial, sans-serif; font-size: 14px; color: #2d2d2f; }
.grid .item .gallery .slides { width: 100%; }
.grid .item .gallery.clickable,
.grid .item .preview .subtitle.clickable { cursor: pointer; }
.grid .item .gallery .slide { display: none; position: relative; text-align: center; }
.grid .item .gallery .slide:first-child { display: block; }
.grid .item .gallery .slide img {  max-width: 100%; }

.galleryPrev,
.galleryNext { position: absolute; top: 0; bottom: 0; background: rgba(0,0,0,0.5); z-index: 3; overflow: hidden; text-indent: -1000em; width: 12%; cursor: pointer; display: block; opacity: 0;  -webkit-transition: opacity 1s; }
.galleryPrev:after,
.galleryNext:after { background: url('../../bundles/buscolookweb/css/images/sprite.png') 0 0 no-repeat; width: 14px; height: 19px; margin: -9px 0 0 -7px; position: absolute; top: 50%; left: 50%; content: " "; display: block; }
.gallery .galleryPrev,
.gallery .galleryNext { background: rgba(255,255,255,0.5); }
.gallery .galleryPrev:after { background-position: -260px -19px; }
.gallery .galleryNext:after { background-position: -260px 0; }
.galleryPrev { left: 0; }
.galleryNext { right: 0; }
.galleryPrev:after { background-position: -280px -19px; }
.galleryNext:after { background-position: -280px 0; }
.banner .galleryPrev,
.banner .galleryNext,
.gallery .galleryPrev,
.gallery .galleryNext { width: 35px; }
.preview:hover .galleryPrev,
.banner:hover .galleryPrev,
.gallery:hover .galleryPrev,
.preview:hover .galleryNext,
.banner:hover .galleryNext,
.gallery:hover .galleryNext { display: block; opacity: 0.2; }
.preview .galleryPrev:hover,
.banner .galleryPrev:hover,
.preview .galleryNext:hover,
.banner .galleryNext:hover { opacity: 0.5; }
.gallery .galleryPrev:hover,
.gallery .galleryNext:hover { opacity: 1; }
.gallery .count { position: absolute; top: 8px; right: 8px; font-family: kidprintregular, "Arial CE", Arial, sans-serif; font-size: 14px; color: #2d2d2f; }

.brandAbove .item .heading { display: table; table-layout: fixed; width: 100%; }
.brandAbove .item .imageArea { display: table-cell; padding: 0 0 10px 5px; width: 46px; vertical-align: top; }
.brandAbove .item .image {  position: relative; width: 46px; height: 46px; text-align: center; line-height: 46px; }
.brandAbove .item .image img { max-width: 40px; max-height: 40px; position: relative; vertical-align: middle; z-index: 1; }
.brandAbove .item .image span { display: block; z-index: 2; width: 46px; height: 46px; background: url('../../bundles/buscolookweb/css/images/mask_circle.png') 0 0 no-repeat; background-size: 46px 46px; position: absolute; top: 0; left: 0; }
.brandAbove .item .nameArea { display: table-cell; padding: 0 0 10px 15px; width: auto; vertical-align: top; }
.brandAbove .item h2 { margin: 0; padding: 0; font-family: gotham_condensedmedium, "Arial CE", Arial, sans-serif; font-size: 24px; font-weight: normal; }
.brandAbove .item h2 a { text-decoration: none; }
.brandAbove .item h3 { margin: 0; padding: 0; font-family: kidprintregular, "Arial CE", Arial, sans-serif; font-weight: normal; }
.brandAbove .item .interaction { position: absolute; bottom: 0; left: 0; right: 0; background: rgba(59,58,56,0.4); color: #fff; z-index: 4; }
.brandAbove .item .interaction .actions { font-family: kidprintregular, "Arial CE", Arial, sans-serif; font-size: 17px; float: left; margin: 7px 0 7px 10px; }
.brandAbove .item .interaction .actions a { text-decoration: none; color: #fff; }
.brandAbove .item .interaction .actions i { top: -2px; }
.brandAbove .item .interaction .actions span { margin: 0 10px 0 0; }
.brandAbove .item .more { float: right; margin: 5px 10px 0 0; overflow: hidden; text-indent: -1000em; background: url('../../bundles/buscolookweb/css/images/sprite.png') 0 -34px no-repeat; width: 30px; height: 30px; background-size: 150px 200px; }

.brandBelow .item { border: 1px solid #f1f0f0; }
.brandBelow .item .heading { position: relative; padding: 0 50px; }
.brandBelow .item .heading .more { position: absolute; top: 50%; right: 15px; margin-top: -8px; }
.brandBelow .item .imageArea {  display: table; width: 100%; }
.brandBelow .item .image { text-align: center; vertical-align: middle; height: 70px; display: table-cell; width: 100%; }
.brandBelow .item .image img { max-width: 100%; max-height: 60px; }
.brandBelow .item .gallery .like { position: absolute; top: 10px; left: 10px; z-index: 4;  }
.brandBelow .item .gallery .like .icon-like-black { transform: scale(0.8); -webkit-transform: scale(0.8); -moz-transform: scale(0.8); -o-transform: scale(0.8); -ms-transform: scale(0.8); transform-origin: 0 0; -webkit-transform-origin: 0 0; -moz-transform-origin: 0 0; -ms-transform-origin: 0 0; -o-transform-origin: 0 0; }
.brandBelow .item .gallery .like .icon-like { transform: scale(1.4); -webkit-transform: scale(1.4); -moz-transform: scale(1.4); -ms-transform: scale(1.4); -o-transform: scale(1.4); }
.brandBelow .item .gallery .like .icon-like-black-full  { transform: scale(0.6); -webkit-transform: scale(0.6); -moz-transform: scale(0.6); -ms-transform: scale(0.6); -o-transform: scale(0.6); }

.buscolookers .item .gallery .like { position: absolute; top: 10px; left: 10px; z-index: 4; transform: scale(0.8); -webkit-transform: scale(0.8); -moz-transform: scale(0.8); -o-transform: scale(0.8); -ms-transform: scale(0.8); transform-origin: 0 0; -webkit-transform-origin: 0 0; -moz-transform-origin: 0 0; -ms-transform-origin: 0 0; -o-transform-origin: 0 0; }
.buscolookers .item .slide { opacity: .5; }
.buscolookers .item .heading { padding: 20px 10px; }
.buscolookers .item .heading .titleArea { float: left; width: 60%; }
.buscolookers .item .heading .buttonArea { float: right; width: 35%; }
.buscolookers .item .heading .titleArea h2 { margin: 0; padding: 0; font-family: gotham_condensedmedium, "Arial CE", Arial, sans-serif; font-size: 24px; font-weight: normal; line-height: 1.2em; }
.buscolookers .item .button { border: 1px solid #e1dddd; background: #eeebeb; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 14px; text-decoration: none; display: block; text-align: center; border-radius: 3px; padding: 8px 0; position: relative; top: -2px; }
.buscolookers .item .button.follow { background: #ffe0a9; border-color: #ebeaea; }
.buscolookers .item .button.following:hover { background: #ffafa8; border-color: #ebeaea; }

.buscolookers .profileImage { position: absolute; top: 50%; left: 50%; margin: -100px 0 0 -100px; width: 200px; height: 200px; z-index: 2; }
.buscolookers .profileImage .imageWrapTail { position: relative; display: block; }
.buscolookers .profileImage .imageWrapTail:after { display: block; position: absolute; top: -3px; left: -3px; width: 80px; height: 80px; background: url('../../bundles/buscolookweb/css/images/mask_profileimage-tail.png') 0 0 no-repeat; background-size: 100%; content: " "; } {  }
.buscolookers .profileImage .imageWrap { width: 200px; height: 200px; position: relative; overflow: hidden; border-radius: 50%; background: #fff; display: block; }
.buscolookers .profileImage .imageWrap span { position: absolute; top: -5px; left: -5px; right: -5px; bottom: -5px; background: url('../../bundles/buscolookweb/css/images/mask_profileimage.png') 0 0 no-repeat; background-size: 100%; display: block; }
.buscolookers .profileImage .alignWrap { display: table; width: 100%; height: 100%; }
.buscolookers .profileImage .align { display: table-cell; vertical-align: middle; text-align: center; overflow: hidden; }
.buscolookers .profileImage .align img { vertical-align: middle; }

.categories .item .heading { padding: 0; position: absolute; bottom: 0; left: 0; right: 0; z-index: 2; font-family: gotham_condensedmedium, "Arial CE", Arial, sans-serif; margin: 0; text-transform: uppercase; text-align: center; background: rgba(255,255,255,0.5); font-weight: normal; }
.categories .item .heading a { text-decoration: none; display: block; padding: 8px 10px; text-align: center; }
.categories .item.titleOnTop .heading { top: 0; bottom: auto; }
.categories .item .heading h2 { font-size: 24px; padding: 0; font-weight: normal; background: rgba(255,255,255,0.5); }
.categories .item .heading .subtitle { padding: 3px 10px; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 18px; }
.categories .item .gallery { z-index: 1; }

.fullPost {  }
.fullPost .headingArea,
.fullPost .contentArea { float: left; width: 31%; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 18px; }
.fullPost .galleryArea { float: right; width: 65% }
.fullPost .headingArea h1 { text-transform: uppercase; font-family: gotham_condensedmedium, "Arial CE", Arial, sans-serif; font-size: 60px; font-weight: normal; line-height: 55px; padding: 10px 0; margin: 0; }
.fullPost .headingArea h2 { text-transform: uppercase; font-family: gotham_condensedmedium, "Arial CE", Arial, sans-serif; font-size: 24px; font-weight: normal; color: #666; padding: 0 0 20px 0; margin: 0; }
.fullPost .headingArea p,
.fullPost .contentArea p { line-height: 22px; }
.fullPost .galleryThumbs { margin: 20px 0 20px 0; vertical-align: middle; }
.fullPost .galleryThumbs .item { display: inline-block; margin: 0 1px 5px 0; border: 3px solid transparent; vertical-align: middle; }
.fullPost .galleryThumbs .item img { vertical-align: middle; border: 1px solid #f1f0f0; display: block; }
.fullPost .galleryThumbs .item.active { border: 4px solid #ffafa8; }
.fullPost .galleryThumbs .item.active img { border: 0; }
.fullPost .shareArea { margin: 10px 0; }
.fullPost .shareArea .title { font-family: gotham_condensedbold, "Arial CE", Arial, sans-serif; font-size: 18px; text-transform: uppercase; margin: 0 5px 0 0; display: block; }
.fullPost .shareArea .actionIcons {  display: block; }
.fullPost .gallery { position: relative;  }
.fullPost .gallery .count { position: absolute; top: 8px; right: 8px; font-family: kidprintregular, "Arial CE", Arial, sans-serif; font-size: 14px; color: #2d2d2f; }
.fullPost .gallery .slides { width: 100%; }
.fullPost .gallery.clickable,
.fullPost .preview .subtitle.clickable { cursor: pointer; }
.fullPost .gallery .slide { display: none; position: relative; text-align: center; border: 1px solid #f1f0f0; }
.fullPost .gallery .slide:first-child { display: block; }
.fullPost .gallery .slide img {  max-width: 100%; }
.fullPost .gallery .slide .title { position: absolute; bottom: 0; display: block; left: 0; right: 0; background: rgba(255,255,255,0.5); text-transform: uppercase; margin: 0; padding: 4px 0 1px 0; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 18px; }

.autoGallery { text-align: center; width: 100%; }
.autoGallery img { max-width: 100%; }

.profileHead { font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 16px; /*border-bottom: 1px solid #f1f0f0;*/ padding: 20px 0 15px 0; margin: 0; }
.profileHead h1,
.profileHead h2,
.profileHead .profileHeadInner strong { font-family: gotham_condensedmedium, "Arial CE", Arial, sans-serif; font-weight: normal; }
.profileHead h1 { font-size: 36px; margin: 0; padding: 0; }
.profileHead h2 { font-size: 18px; margin: 10px 0 5px 0; padding: 0; }
.profileHead p { padding: 0; margin: 0 0 5px 0; }
/*.profileHead .profileImage { float: left; width: 23%; min-width: 220px;}*/
/*.profileHead .profileContent { float: left; width: 50%; }*/
/*.profileHead .profileContact { float: right; width: 23%; min-width: 220px; }*/
.profileHead .profileHeadInner { display: table; }
.profileHead .profileHeadInner strong { font-size: 22px; }
.profileHead .profileImage { display: table-cell; vertical-align: top; width: 1px; }
.profileHead .profileContent { display: table-cell; vertical-align: top; padding: 0 40px; width: 530px; }
.profileHead .profileContent .status { margin-top: -15px; }
.profileHead .profileContact { display: table-cell; width: 1px; vertical-align: top; white-space: nowrap; }
.profileHead .headLine { margin: 0 0 10px 0; }
.profileHead .headLine h1 { display: inline-block; vertical-align: middle; margin: 0 20px 0 0; }
.profileHead .headLine .like { display: inline-block; vertical-align: middle; margin: 0 20px 0 0; border: 1px solid #f1f0f0; padding: 3px 10px; text-decoration: none; border-radius: 4px; }
.profileHead .headLine .like i { margin: 0 5px 0 0; transform: scale(0.8); -webkit-transform: scale(0.8); -moz-transform: scale(0.8); -ms-transform: scale(0.8); -o-transform: scale(0.8); cursor: pointer; }
.profileHead .headLine .info { display: inline-block; vertical-align: middle; }
.profileHead .headLine .info span { display: inline-block; vertical-align: middle; margin: 0 10px; color: #ccc; font-size: 14px; }

.profileHead .profileImage .imageWrapTail { position: relative; z-index: 1; top: -70px; }
.profileHead .profileImage .imageWrapTail:after { display: block; position: absolute; top: -3px; left: -3px; width: 80px; height: 80px; background: url('../../bundles/buscolookweb/css/images/mask_profileimage-tail.png') 0 0 no-repeat; background-size: 100%; content: " "; } {  }
.profileHead .profileImage .imageWrap { width: 200px; height: 200px; position: relative; overflow: hidden; border-radius: 50%; background: #fff; }
.profileHead .profileImage .imageWrap span { position: absolute; top: -5px; left: -5px; right: -5px; bottom: -5px; background: url('../../bundles/buscolookweb/css/images/mask_profileimage.png') 0 0 no-repeat; background-size: 100%; }
.profileHead .profileImage .alignWrap { display: table; width: 100%; height: 100%; }
.profileHead .profileImage .align { display: table-cell; vertical-align: middle; text-align: center; overflow: hidden; }
.profileHead .profileImage .align img { vertical-align: middle; }

.profileHead .profileContent .headLine h1 {  }
.profileHead .profileContent .headLine .like {  }
.profileHead .profileContent p {  }
.profileHead .profileContact h2 { margin: 10px 0; text-transform: uppercase; }
.profileHead .profileContact .headLine .info {  }
.profileHead .profileContact .headLine .info span {  }
.profileHead .profileContact .contacts {  }
.profileHead .profileContact .contacts a { text-decoration: none; }
.profileHead .profileContact .contacts a:hover { text-decoration: underline; }
.profileHead .profileContact .contacts .icon-phone { margin: 0 3px; }
.profileHead .profileContact .contacts .icon-mail { margin: 0 5px 0 2px; }
.profileHead .profileContact .contacts .icon-place { margin: 0 7px 0 6px; }
.profileHead .profileContact .contacts .icon-web { margin: 0 3px; }
.profileHead .profileContact .contacts .icon-empty-home { margin: 0 2px 0 3px; }
.profileHead + .contentTop { margin-bottom: 5px; }

.profileContentHeader { background: #252525; margin: 0 0 15px 0; }
.profileContentHeader ul { list-style: none; position: relative; z-index: 1; }
.profileContentHeader li { list-style: none; float: left; }
.profileContentHeader li.item { border-right: 1px solid #5f5f5f; padding-top: 4px; }
.profileContentHeader li.item.active { border: 0; z-index: 2; margin: 0 0 0 -1px; border-left: 1px solid #252525; }
.profileContentHeader li.item a { display: inline-block; padding: 14px 30px 18px; color: #fff; font-family: gotham_condensedmedium, "Arial CE", Arial, sans-serif; font-size: 14px; text-transform: uppercase; text-decoration: none; text-align: center; }
.profileContentHeader li.item a:hover { text-decoration: underline; }
.profileContentHeader li.item a span { font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; margin: 0 0 0 3px; }
.profileContentHeader li.item a i { margin: -2px 5px 0 0; }
.profileContentHeader li.item.active a { background: #fff; border-radius: 4px 4px 0 0; color: #000; }
.profileContentHeader li.item.active a:hover { text-decoration: none; }
.profileContentHeader li.followItem { padding: 10px 10px 0 30px; }
.profileContentHeader li.followItem a { padding: 0 20px 0 12px; height: 32px; line-height: 30px; border-radius: 3px; font-family: gotham_condensedmedium, "Arial CE", Arial, sans-serif; font-size: 14px; text-transform: uppercase; text-decoration: none; color: #000; background: #fff; display: inline-block; vertical-align: middle; }
.profileContentHeader li.followItem a:hover {  }
.profileContentHeader li.followItem a.following:hover { color: #000; background: #ffafa8; }
.profileContentHeader li.followItem .icon-like-black { transform: scale(0.7); -webkit-transform: scale(0.7); -moz-transform: scale(0.7); -ms-transform: scale(0.7); -o-transform: scale(0.7); }
.profileContentHeader li.followItem .icon-like-black-full { transform: scale(0.6); -webkit-transform: scale(0.6); -moz-transform: scale(0.6); -ms-transform: scale(0.6); -o-transform: scale(0.6); }
.profileContentHeader li.item.active i.icon-upload { background-position: -11px -185px; }
.profileContentHeader li.item.active i.icon-like { background-position: -87px -85px; }
.profileContentHeader li.item.active i.icon-eye { background-position: -38px -189px; }
.profileContentHeader li.item.active i.icon-eye-check { background-position: -94px -187px; }
.profileContentHeader li.item.active i.icon-lock { background-position: -127px -187px; }
.profileContentHeader li.item.active i.icon-settings { background-position: -130px -50px; }

.profileContent .filterRow { margin-bottom: 0; }

.profileContent .followList .listItem { border-top: 1px solid #e1dddd; padding: 10px 0; }
.profileContent .followList .listItem:first-child { border: 0; }
.profileContent .followList .user { float: left; }
.profileContent .followList .imageWrap { display: inline-block; vertical-align: middle; width: 60px; height: 60px; position: relative; margin: 0 10px 0 0; overflow: hidden; border-radius: 50%; border: 1px solid #000; text-align: center; }
.profileContent .followList .userImage { display: table; width: 100%; height: 60px; vertical-align: top; }
.profileContent .followList .userImage .image {  vertical-align: middle; display: table-cell; }
.profileContent .followList .userImage .image img { vertical-align: middle; z-index: 0; max-width: 105%; }
.profileContent .followList .user .name { display: inline-block; vertical-align: middle; font-family: gotham_condensedmedium, "Arial CE", Arial, sans-serif; font-size: 18px; text-transform: uppercase; }
.profileContent .followList .action { float: right; width: 110px; padding-top: 14px; }
.profileContent .followList .action .follow { border: 1px solid #e1dddd; background: #ffe0a9; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 14px; text-decoration: none; display: block; text-align: center; border-radius: 3px; padding: 8px 0; position: relative; }
.profileContent .followList .action .following { background: #eeebeb; border-color: #ebeaea; }
.profileContent .followList .action .following:hover { background: #ffafa8; border-color: #ebeaea; }

.profileContent .accountDetails { margin: 25px 0 0 0; }
.profileContent .accountDetails h2 { font-size: 36px; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; text-transform: uppercase; font-weight: normal; margin: 0 0 30px 0; padding: 0 0 0 20px; }
.profileContent .accountDetails .editLink a { font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 14px; }
.profileContent .accountDetails .image { float: left; width: 25%; padding-top: 10px; }
.profileContent .accountDetails .buttons { float: left; width: 16%; margin-right: 9%; padding-top: 20px; }
.profileContent .accountDetails .buttons .button { display: block; margin-bottom: 20px; text-align: center; }
.profileContent .accountDetails .image .imageWrapTail { position: relative; }
.profileContent .accountDetails .image .imageWrapTail:after { display: block; position: absolute; top: -3px; left: -3px; width: 80px; height: 80px; background: url('../../bundles/buscolookweb/css/images/mask_profileimage-tail.png') 0 0 no-repeat; background-size: 100%; content: " "; } {  }
.profileContent .accountDetails .image .imageWrap { width: 200px; height: 200px; position: relative; overflow: hidden; border-radius: 50%; background: #fff; }
.profileContent .accountDetails .image .imageWrap span { position: absolute; top: -5px; left: -5px; right: -5px; bottom: -5px; background: url('../../bundles/buscolookweb/css/images/mask_profileimage.png') 0 0 no-repeat; background-size: 100%; }
.profileContent .accountDetails .image .alignWrap { display: table; width: 100%; height: 100%; }
.profileContent .accountDetails .image .align { display: table-cell; vertical-align: middle; text-align: center; overflow: hidden; }
.profileContent .accountDetails .image .align img { vertical-align: middle; }
.profileContent .accountDetails .image .editLink { margin: 10px 0 20px 0; text-align: center; max-width: 200px; }
.profileContent .accountDetails .details { float: left; width: 75%; }
.profileContent .accountDetails .details .col { width: 48%; float: right; position: relative; }
.profileContent .accountDetails .details .col:first-child { float: left; }
.profileContent .accountDetails .details .row { margin: 20px 0; padding-left: 30px; position: relative; padding: 0; }
.profileContent .accountDetails .details input[type=text],
.profileContent .accountDetails .details input[type=password] { border-color: #f1ebe3; }/*
.profileContent .accountDetails .details input[type=text],
.profileContent .accountDetails .details input[type=password] { border: 1px solid #f1ebe3; border-radius: 2px; background: #fff; display: inline-block; width: 100%; padding: 7px 10px; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 16px; color: #000; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; position: relative; text-transform: uppercase; }
.profileContent .accountDetails .details input[type=text].error,
.profileContent .accountDetails .details input[type=password].error { color: #a00; background: #fdd; border-color: #fac; }
.profileContent .accountDetails .details ::-webkit-input-placeholder { color: #777; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 16px; text-transform: uppercase; }
.profileContent .accountDetails .details :-moz-placeholder { color: #777; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 16px; text-transform: uppercase; }
.profileContent .accountDetails .details ::-moz-placeholder { color: #777; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 16px; text-transform: uppercase; }
.profileContent .accountDetails .details :-ms-input-placeholder { color: #777; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 16px; text-transform: uppercase; }*/
.profileContent .accountDetails .row.submit { text-align: right; margin-top: 20px; }/*
.profileContent .accountDetails .button { background: #000; color: #fff; border: 0; border-radius: 0; display: inline-block; padding: 9px 20px; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 14px; cursor: pointer; }*/

.productDetail { margin-top: 25px; }
.productDetail .headingArea,
.productDetail .contentArea { float: right; width: 31%; }
.productDetail .galleryArea { float: left; width: 65% }
.productDetail .headingArea { position: relative; margin: 0 0 10px 0; }
.productDetail .headingArea h1 {  }
.productDetail .headingArea .heading { display: table; table-layout: fixed; width: 100%; }
.productDetail .headingArea .imageArea { display: table-cell; padding: 0 0 10px 0; width: 46px; vertical-align: top; }
.productDetail .headingArea .image {  position: relative; width: 46px; height: 46px; text-align: center; line-height: 46px; }
.productDetail .headingArea .image img { max-width: 40px; max-height: 40px; position: relative; vertical-align: middle; z-index: 1; }
.productDetail .headingArea .image span { display: block; z-index: 2; width: 46px; height: 46px; background: url('../../bundles/buscolookweb/css/images/mask_circle.png') 0 0 no-repeat; background-size: 46px 46px; position: absolute; top: 0; left: 0; }
.productDetail .headingArea .nameArea { display: table-cell; padding: 0 0 10px 15px; width: auto; vertical-align: top; }
.productDetail .headingArea h1 { margin: 0; padding: 0 65px 0 0; font-family: gotham_condensedmedium, "Arial CE", Arial, sans-serif; font-size: 24px; font-weight: normal; }
.productDetail .headingArea h1 a { text-decoration: none; }
.productDetail .headingArea .subtitle { margin: 0; padding: 0; font-family: kidprintregular, "Arial CE", Arial, sans-serif; font-weight: normal; font-size: 1.2em; }
.productDetail .headingArea .updated { position: absolute; top: 7px; right: 0; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 14px; color: #666; }

.productDetail .contentArea .productItemsWrap { padding: 0 0 0 45px; }
.productDetail .contentArea .padding { padding: 0 10px 0 55px; }
.productDetail .productItem { background: #f9f9f9; padding: 10px; margin: 10px 0; }
.productDetail .productItem h2 { font-family: gotham_condensedmedium, "Arial CE", Arial, sans-serif; font-size: 22px; font-weight: normal; padding: 0; }
.productDetail .productItem p { padding: 0; margin: 0; }
.productDetail .productItem .name { float: left; width: 75%; }
.productDetail .productItem .price { float: right; width: 24%; text-align: right; }
.productDetail .productItem .brand { float: left; width: 55px; }
.productDetail .productItem .code { float: right; width: 45%; text-align: right; }
.productDetail .productItem .price p { font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 18px; }
.productDetail .productItem .price em { font-family: gotham_condensedmedium, "Arial CE", Arial, sans-serif; font-size: 22px; font-weight: normal; font-style: normal; }
.productDetail .productItem .lineBrand { margin-bottom: 7px; }
.productDetail .productItem .brand p { font-family: gotham_condensedmedium, "Arial CE", Arial, sans-serif; font-size: 13px; }
.productDetail .productItem .brand i { transform: scale(0.9); -webkit-transform: scale(0.9); -moz-transform: scale(0.9); -ms-transform: scale(0.9); -o-transform: scale(0.9); transform-origin: 0 0; -webkit-transform-origin: 0 0; -moz-transform-origin: 0 0; -ms-transform-origin: 0 0; -o-transform-origin: 0 0; }
.productDetail .productItem .code { font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 13px; color: #999; }
.productDetail .productItem .size { float: left; width: 30%; margin-right: 10px; }
.productDetail .productItem .buy { float: left; width: 31%; }
.productDetail .productItem .shop { float: right; width: 31%; }
.productDetail .productItem .size .inputSelect { border: 1px solid #f1f0f0; }
.productDetail .productItem .size .inputSelect,
.productDetail .productItem .size .inputSelectInner { width: 100% !important; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
.productDetail .productItem .button { text-align: left; background: #fff; color: #000; vertical-align: middle; display: inline-block; line-height: 14px; border: 1px solid #efeeee; border-radius: 4px; padding: 3px 0 4px 0; margin: 0; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 14px; cursor: pointer; text-decoration: none; overflow: hidden; width: 100%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
.productDetail .productItem .button i { vertical-align: middle; margin: 0 5px 0 5px; }
.productDetail .productItem .button span { display: inline-block; max-width: 1px; vertical-align: middle; }

.productDetail .contentArea .links { margin: 20px 0 18px 0; }
.productDetail .contentArea .links ul { list-style: none; }
.productDetail .contentArea .links li { margin: 0 15px 0 0; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 13px; text-transform: uppercase; list-style: none; display: inline-block; color: #666; }
.productDetail .contentArea .links a { text-decoration: none; color: #000; }
.productDetail .contentArea .links a:hover { text-decoration: underline; }
.productDetail .contentArea .actionIcons li { margin: 1px; }
.productDetail .contentArea .actionIcons li a { width: 36px; height: 36px; }
.productDetail .contentArea .actionIcons li i { margin-top: 10px; }

.productDetail .socialBox { margin: 30px 0; }
.productDetail .socialBox .tabs {  }
.productDetail .socialBox .tabsNav { position: relative; z-index: 1; }
.productDetail .socialBox .tabsNav ul { list-style: none; }
.productDetail .socialBox .tabsNav ul li { list-style: none; float: left; width: 50%; }
.productDetail .socialBox .tabsNav ul li a { text-decoration: none; border-radius: 4px 4px 0 0; text-align: center; height: 35px; border: 1px solid transparent; border-bottom: 0; display: block; line-height: 30px; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 16px; vertical-align: middle; }
.productDetail .socialBox .tabsNav ul li a.active { background: #f9f9f9; border: 1px solid #f1f0f0; border-bottom: 0; }
.productDetail .socialBox .tabsNav ul li a em { font-style: normal; font-family: kidprintregular, "Arial CE", Arial, sans-serif; }
.productDetail .socialBox .tabsNav .icon-like-black-full { transform: scale(0.6); -webkit-transform: scale(0.6); -moz-transform: scale(0.6); -ms-transform: scale(0.6); -o-transform: scale(0.6); }
.productDetail .socialBox .tabsWrap { background: #f9f9f9; border: 1px solid #f1f0f0; position: relative; z-index: 0; margin-top: -1px; }
.productDetail .socialBox .tab {  }
.productDetail .socialBox .tabInner { padding: 10px; }

.productDetail .gallery { position: relative; }
.productDetail .gallery .like { position: absolute; top: 10px; left: 10px; z-index: 4; transform: scale(0.7); -webkit-transform: scale(0.7); -moz-transform: scale(0.7); -o-transform: scale(0.7); -ms-transform: scale(0.7); transform-origin: 0 0; -webkit-transform-origin: 0 0; -moz-transform-origin: 0 0; -o-transform-origin: 0 0; -ms-transform-origin: 0 0; }
.productDetail .gallery .slides { width: 100%; }
.productDetail .gallery.clickable,
.productDetail .preview .subtitle.clickable { cursor: pointer; }
.productDetail .gallery .slide { display: none; position: relative; text-align: center; border: 1px solid #f1f0f0; }
.productDetail .gallery .slide:first-child { display: block; }
.productDetail .gallery .slide img {  max-width: 100%; }

.productDetail .commentAreaWrap { padding: 5px 0; border-top: 1px solid #f1f0f0; }
.productDetail .commentAreaWrap:first-child { border-top: 1px solid transparent; }
.productDetail .commentArea { display: table; width: 100%; }
.productDetail .commentArea .userImage { display: table-cell; width: 1px; vertical-align: top; }
.productDetail .commentArea .userImage .image { width: 50px; height: 50px; position: relative; vertical-align: middle; display: inline-block; margin: 0 6px 0 0; }
.productDetail .commentArea .userImage .image img { position: relative; vertical-align: middle; z-index: 0; max-width: 100%; }
.productDetail .commentArea .userImage .image span { position: absolute; top: 0; left: 0; bottom: 0; right: 0; display: block; background: url('../../bundles/buscolookweb/css/images/mask_circle2.png') 0 0 no-repeat; background-size: 100%; }
.productDetail .commentArea .commentContent { display: table-cell; vertical-align: top; }
.productDetail .commentArea .commentContent p { padding: 0; }
.productDetail .commentArea .author { font-family: gotham_condensedbold, "Arial CE", Arial, sans-serif; font-size: 13px; }
.productDetail .commentArea .text { font-family: gotham_condensedmedium, "Arial CE", Arial, sans-serif; font-size: 13px; }
.productDetail .commentArea .actions { font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 11px; }
.productDetail .commentArea .time { color: #999; }
.productDetail .commentArea .links {  }
.productDetail .commentArea .newComment { padding-top: 5px; }
.productDetail .commentArea .newComment textarea {  font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 13px; color: #666; resize: vertical; border: 1px solid #ebeaea; display: block; width: 100%; padding: 5px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
.productDetail .commentArea .newComment .textareaWrap { position: relative; }
.productDetail .commentArea .newComment .textareaWrap:before { position: absolute; bottom: -5px; left: 5px; border: 3px solid #ebeaea; border-right: 3px solid rgba(235,234,235,0); border-bottom: 3px solid rgba(235,234,235,0); content: " "; display: block; }
.productDetail .commentArea .newComment .textareaWrap:after { position: absolute; bottom: -3px; left: 6px; border: 2px solid #fff; border-right: 2px solid rgba(255,255,255,0); border-bottom: 2px solid rgba(255,255,255,0); content: " "; display: block; }
.productDetail .commentArea .newComment .options { padding: 7px 0 0 0; }
.productDetail .commentArea .newComment .publishLabel { font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 13px; vertical-align: middle; margin: 0 3px 0 0; }
.productDetail .commentArea .newComment .button { background: #fff; color: #000; vertical-align: middle; display: inline-block; line-height: 16px; border: 1px solid #efeeee; border-radius: 4px; padding: 3px 5px 3px 2px; margin: 0; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 16px; cursor: pointer; text-decoration: none; overflow: hidden; }
.productDetail .commentArea .newComment .button i { transform: scale(0.8); -webkit-transform: scale(0.8); -moz-transform: scale(0.8); -ms-transform: scale(0.8); -o-transform: scale(0.8); }

.productDetail .productLikes {  }
.productLikes .personLiked { padding: 5px 0; display: block; border-top: 1px solid #f1f0f0; }
.productLikes .personLiked:first-child { border-top: 1px solid transparent; }
.productLikes a.personLiked { text-decoration: none; }
.productLikes .personLiked .image { width: 25px; height: 25px; position: relative; vertical-align: middle; display: inline-block; margin: 0 10px 0 0; }
.productLikes .personLiked .image img { position: relative; vertical-align: middle; z-index: 0; max-width: 100%; }
.productLikes .personLiked .image span { position: absolute; top: 0; left: 0; bottom: 0; right: 0; display: block; background: url('../../bundles/buscolookweb/css/images/mask_circle2.png') 0 0 no-repeat; background-size: 100%; }
.productLikes .personLiked .fullName { font-family: gotham_condensedbold, "Arial CE", Arial, sans-serif; font-size: 13px; }
.productLikes .personLiked .nickName { font-family: gotham_condensedbold, "Arial CE", Arial, sans-serif; font-size: 13px; color: #999; }

.register h1 { display: inline-block; background: url('../../bundles/buscolookweb/css/images/img_registerheadline.png') 0 50% no-repeat; padding: 20px 0 0 70px; font-family: gotham_condensedmedium, "Arial CE", Arial, sans-serif; font-size: 48px; text-transform: uppercase; font-weight: normal; }
.register .typeSelect { display: inline-block; padding: 0 0 0 30px; }
.register .typeSelect ul { list-style: none; position: relative; top: 6px; }
.register .typeSelect li { list-style: none; float: left; margin: 0 10px; }
.register .typeSelect a { border: 1px solid #f1f0f0; display: block; font-family: gotham_condensedmedium, "Arial CE", Arial, sans-serif; font-size: 24px; text-transform: uppercase; text-decoration: none; width: 160px; text-align: center; padding: 8px 0; border-radius: 3px; position: relative; }
.register.buscolooker .typeSelect a.active { background: #ffe0a9; }
.register.buscolooker .typeSelect a.active:before { border: 5px solid rgba(241, 240, 240, 0); border-top: 5px solid rgba(241, 240, 240, 1); position: absolute; bottom: -10px; left: 50%; margin: 0 0 0 -5px; content: " "; width: 0; height: 0; display: block; }
.register.buscolooker .typeSelect a.active:after { border: 5px solid rgba(255, 224, 169, 0); border-top: 5px solid rgba(255, 224, 169, 1); position: absolute; bottom: -9px; left: 50%; margin: 0 0 0 -5px; content: " "; width: 0; height: 0; display: block; }
.register.tienda .typeSelect a.active { background: #ffafa8; }
.register.tienda .typeSelect a.active:before { border: 5px solid rgba(255, 175, 168, 0); border-top: 5px solid rgba(255, 175, 168, 1); position: absolute; bottom: -10px; left: 50%; margin: 0 0 0 -5px; content: " "; width: 0; height: 0; display: block; }
.register.tienda .typeSelect a.active:after { border: 5px solid rgba(255, 175, 168, 0); border-top: 5px solid rgba(255, 175, 168, 1); position: absolute; bottom: -9px; left: 50%; margin: 0 0 0 -5px; content: " "; width: 0; height: 0; display: block; }
.register .reasons { margin-top: 60px; }
.register .reason { width: 33%; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 22px; text-transform: uppercase; float: left; text-align: center; padding: 0 20px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
.register.buscolooker .reasons .reason { width: 23%; }
.register.buscolooker .reason.wider { width: 30%; }
.register .reason .small { font-size: 18px; }
.register .reason strong { font-family: gotham_condensedbold, "Arial CE", Arial, sans-serif; font-weight: normal; font-size: 22px;}
.register .reason .small strong { font-size: 19px; }
.register .reason a { text-decoration: none; color: #ffafa8; }
.register .reason a:hover { text-decoration: underline; }
.register .reason .image { height: 200px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
.register .reason .image img { max-width: 100%; }
.register.buscolooker .reasons .r2 .image { padding-top: 40px; }
.register.buscolooker .reasons .r3 .image { padding-top: 30px; }
.register.buscolooker .reasons .r4 .image { padding-top: 50px; }
.register.tienda .reason .image { height: 180px; }
.register.tienda .reasons .r1 .image { padding-top: 20px; }
.register.tienda .reasons .r3 .image { padding-top: 40px; }
.register .formArea { margin: 50px 0; padding: 25px 30px 30px; border-radius: 5px; }
.register .formArea h2 { font-weight: normal; font-size: 36px; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; text-transform: uppercase; padding: 0; margin: 0 0 20px 0; }
.register .formArea { background: #ffefd4; }
.register.tienda .formArea { background: #ffd7d3; }
.register .formArea .col { width: 45%; float: right; position: relative; }
.register .formArea .col:first-child { float: left; }
.register .formArea .row { margin: 20px 0; padding-left: 30px; position: relative; }
.register .formArea .row.categories { position: absolute; top: -35px; left: 0; }
.register .formArea .row.categories h3 { font-weight: normal; font-size: 18px; font-family: gotham_condensedmedium, "Arial CE", Arial, sans-serif; text-transform: uppercase; margin: 0; padding: 0; }
.register .formArea input[type=text],
.register .formArea input[type=password] { border: 1px solid #f1ebe3; border-radius: 2px; background: #fff; display: inline-block; width: 100%; padding: 5px 10px; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 18px; color: #000; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; position: relative; }
.register .formArea input[type=text].error,
.register .formArea input[type=password].error { color: #a00; background: #fdd; border-color: #fac; }
.register .formArea ::-webkit-input-placeholder { color: #000; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 18px; text-transform: uppercase; }
.register .formArea :-moz-placeholder { color: #000; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 18px; text-transform: uppercase; }
.register .formArea ::-moz-placeholder { color: #000; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 18px; text-transform: uppercase; }
.register .formArea :-ms-input-placeholder { color: #000; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 18px; text-transform: uppercase; }
.register .formArea .row.submit { text-align: right; margin-top: 30px; }
.register .formArea .button { background: #ffe0a9; color: #000; border: 1px solid #f1ebe3; border-radius: 3px; display: inline-block; padding: 15px 40px; font-family: gotham_condensedmedium, "Arial CE", Arial, sans-serif; font-size: 18px; text-transform: uppercase; cursor: pointer; }
.register.tienda .formArea .button { background: #ffafa8; position: relative; }
.register.tienda .formArea .button.stepOne:after,
.register.tienda .formArea .button.stepTwo:after { position: absolute; bottom: 3px; left: 50%; width: 50px; margin: 0 0 0 -25px; content: "1/2"; color: #000; height: 15px; font-size: 14px; }
.register.tienda .formArea .button.stepTwo:after { content: "2/2"; }
.register .formArea .row:before { position: absolute; top: 50%; left: 0; content: " "; display: block; background: url('../../bundles/buscolookweb/css/images/sprite.png') no-repeat; background-size: 150px 200px; }
.register .formArea .row.name:before { background-position: 0 -105px; width: 16px; height: 16px; margin-top: -8px; left: 1px; }
.register .formArea .row.email:before { background-position: -16px -105px; width: 16px; height: 13px; margin-top: -7px; }
.register .formArea .row.place:before { background-position: -32px -105px; width: 11px; height: 17px; margin-top: -8px; left: 3px; }
.register .formArea .row.password:before { background-position: -43px -105px; width: 12px; height: 22px; margin-top: -11px; left: 5px; }
.register .formArea p.error { margin: -15px 0 0 0; padding: 0 0 0 30px; color: #a00; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 16px; text-transform: uppercase; }
.register .formArea .checkbox { width: 50%; float: left; margin: 0 0 30px 0; }
.register .formArea .checkbox input[type=checkbox] { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute !important; width: 1px; }
.register .formArea .checkbox label { text-transform: uppercase; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 18px; position: relative; cursor: pointer; padding: 0 0 0 40px; }
.register .formArea .checkbox label:after { position: absolute; top: 50%; left: 0; margin-top: -15px; display: block; width: 31px; height: 31px; background: url('../../bundles/buscolookweb/css/images/sprite.png') -55px -105px no-repeat; content: " "; background-size: 150px 200px; cursor: pointer; overflow: hidden; text-indent: -100em; }
.register .formArea .checkbox input:checked + label:after { background-position: -86px -105px; content: "."; }

.formWrapper input, .formWrapper button, .formWrapper select, .formWrapper .inputSelectInner, .formWrapper textarea { font-family: gotham_condensedmedium, "Arial CE", Arial, sans-serif; }
.formWrapper .placeholder, .formWrapper .inputSelectInner, .formWrapper button, .formWrapper .input.result.light { font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; }
.formWrapper input::-ms-clear { display: none; }
.formWrapper input, .formWrapper select, .formWrapper button { padding-right: 30px; }
.formWrapper button { background: none; text-align: left; cursor: pointer; }
.formWrapper button i { margin-right: 10px; vertical-align: top; margin-top: 3px; }
.formWrapper textarea { padding-bottom: 20px; height: 90px; resize: none; }
.formWrapper .placeholder { color: #777; }
.formWrapper ::-webkit-input-placeholder { color: #777; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; }
.formWrapper :-moz-placeholder { color: #777; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; }
.formWrapper ::-moz-placeholder { color: #777; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; }
.formWrapper :-ms-input-placeholder { color: #777; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; }
.formWrapper .input + p, .formWrapper .input + ul { margin-top: -15px; }
.formWrapper .input { border: 1px solid #f1f0f0; border-radius: 3px; position: relative; margin-bottom: 20px; }
.formWrapper .input.button { width: auto; padding-right: 10px; }
.formWrapper .input.result { border: none; }
.formWrapper .input .counter { font-size: 14px; color: #777; position: absolute; bottom: 0; right: 0; background: #fff; padding: 5px; border-radius: 0 0 5px 0; }
.formWrapper .inputSelect { background: none; padding: 0; }
.formWrapper .hasCustomSelect { z-index: 1; height: auto !important; }
.formWrapper .inputSelectWrap select, .formWrapper .inputSelectWrap .inputSelect, .formWrapper .inputSelectWrap .inputSelectInner { width: 100% !important; box-sizing: border-box; }
.formWrapper .inputSelectWrap .inputSelectInner { background: none; padding-right: 30px; position: relative; }
.formWrapper .inputSelectWrap .inputSelectInner:after { content: ''; position: absolute; width: 13px; height: 9px; right: 10px; top: 50%; margin-top: -5px; background: url("../../bundles/buscolookweb/css/images/sprite.png") -50px -160px; background-size: 150px 200px; }
.formWrapper .inputSelectWrap.inputAddWrap .inputSelectInner:after { display: none; }

.uploadProduct .photoContainer .default, .uploadProduct .button, .uploadProduct .inputAddList .delete, .uploadProduct .h1Like, .uploadProduct .h2Like { font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; }
.uploadProduct { font-family: gotham_condensedmedium, "Arial CE", Arial, sans-serif; }
.formWrapper input, .formWrapper button, .formWrapper select, .formWrapper .inputSelectInner, .formWrapper textarea { outline: none; font-size: 18px; color: #000; text-transform: uppercase; border: 0; padding: 6px 10px; width: 100%; box-sizing: border-box; border-radius: 3px; }
.uploadProduct { font-size: 18px; color: #000; text-transform: uppercase; }
.uploadProduct .leftCol { float: left; width: 67%; margin-right: 2%; }
.uploadProduct .photoContainer { border: 1px solid #252525; text-align: center; position: relative; overflow: hidden; }
.uploadProduct .photoContainer:before { content: ''; display: inline-block; height: 100%; vertical-align: middle; }
.uploadProduct .photoContainer .default { padding-top: 50px; position: relative; display: inline-block; font-size: 30px; line-height: 1.2em; text-transform: uppercase; }
.uploadProduct .photoContainer .default:before { content: ''; position: absolute; top: 0; left: 50%; margin-left: -16px; width: 32px; height: 41px; background: url("../../bundles/buscolookweb/css/images/sprite.png") 0 -140px no-repeat; background-size: 150px 200px; }
.uploadProduct .photoContainer img { position: absolute; left: 0; top: 0; min-width: 100%; height: 100%; }
.uploadProduct .photoContainerThumbs { list-style: none; padding: 0; margin: 20px 0; overflow: hidden; }
.uploadProduct .photoContainerThumbs li { float: left; padding: 0; border: 1px solid #252525; width: 54px; height: 54px; position: relative; overflow: hidden; margin-right: 10px; }
.uploadProduct .photoContainerThumbs li.add { overflow: visible; }
.uploadProduct .photoContainerThumbs li.add a { position: absolute; top: -1px; right: -1px; bottom: -1px; left: -1px; border: 1px solid #f1f0f0; text-indent: -9999px; }
.uploadProduct .gallery { border: 1px solid #252525; }
.uploadProduct .gallery .count { display: none; }
.uploadProduct .gallery .slide { border: none; }
.uploadProduct .galleryThumbs { margin: 20px 0; }
.uploadProduct .galleryThumbs .item, .uploadProduct .galleryThumbs .item.active { border: 1px solid #252525; display: inline-block; width: 50px; height: 50px; overflow: hidden; position: relative; }
.uploadProduct .galleryThumbs .item img { border: 0; }
.uploadProduct .galleryThumbs a img { min-width: 100%; height: 100%; }
.uploadProduct .galleryThumbs a.add { border-color: #f1f0f0; }
.uploadProduct .galleryThumbs a.add:after { content: ''; position: absolute; top: 50%; left: 50%; margin: -9px 0 0 -9px; width: 17px; height: 17px; background: url("../../bundles/buscolookweb/css/images/sprite.png") -35px -140px no-repeat; background-size: 150px 200px; }
.uploadProduct .inputAddWrap { position: relative; }
.uploadProduct .inputAddWrap.highlighted { margin: 30px 0; }
.uploadProduct .inputAddWrap.highlighted button { padding: 10px 30px 10px 10px; background: #f7f5f5; }
.uploadProduct .inputAddWrap:after,
.uploadProduct .photoContainerThumbs li.add a:after { content: ''; position: absolute; top: 50%; left: 50%; margin: -9px 0 0 -9px; width: 17px; height: 17px; background: url("../../bundles/buscolookweb/css/images/sprite.png") -35px -140px no-repeat; background-size: 150px 200px; }
.uploadProduct .inputAddWrap:after { left: auto; right: 7px; cursor: pointer; }
.uploadProduct .photoContainerThumbs img { min-width: 100%; min-height: 100%; max-width: 100%; width: auto; height: auto; }
.uploadProduct .rightCol { float: right; width: 30%; }
.uploadProduct p, .uploadProduct ul { margin-bottom: 20px; padding: 0; }
.uploadProduct .toggler .heading, .uploadProduct .productItem .heading { position: relative; padding: 0 30px 0 0; margin-bottom: 20px; cursor: pointer; }
.uploadProduct .toggler .heading:after, .uploadProduct .productItem .heading:after { content: ''; position: absolute; width: 13px; height: 9px; right: 0; top: 50%; margin-top: -5px; background: url("../../bundles/buscolookweb/css/images/sprite.png") -50px -160px; background-size: 150px 200px; }
.uploadProduct .toggler.open .heading:after { background-position: -35px -160px; }
.uploadProduct .shareArea { margin-bottom: 30px; }
.uploadProduct .shareArea .title { display: inline-block; vertical-align: top; margin-top: 11px; padding-right: 5px; }
.uploadProduct .actionIcons li.gray { background: #f7f5f5; }
.uploadProduct .gray .icon-share-facebook { background-position: -65px -140px; }
.uploadProduct .gray .icon-share-twitter{ background-position: -80px -140px; }
.uploadProduct .gray .icon-share-pinterest { background-position: -95px -140px; }
.uploadProduct .gray .icon-share-instagram { background-position: -110px -140px; }
.uploadProduct .button { border: 1px solid #ebeaea; background: #ffafa8; text-decoration: none; display: block; text-align: center; border-radius: 3px; padding: 9px 0; position: relative; }
.uploadProduct .button.blank { border-color: #f1f0f0; background: #fff; color: #000; max-width: 220px; margin: 30px auto; }
.uploadProduct .inputAddList { list-style: none; }
.uploadProduct .inputAddList li { clear: both; margin-bottom: 5px; }
.uploadProduct .inputAddList strong { font-weight: normal; }
.uploadProduct .inputAddList .delete { cursor: pointer; float: right; color: #777; margin-left: 10px; }
.uploadProduct .inputAddList .delete:after { content: ''; display: inline-block; width: 10px; height: 10px; vertical-align: top; background: url("../../bundles/buscolookweb/css/images/sprite.png") -65px -160px no-repeat; background-size: 150px 200px; margin: 5px 0 0 8px; }
.uploadProduct .productItem .heading:after { background-position: -80px -160px; width: 14px; height: 14px; margin-top: -7px; }
.uploadProduct .h1Like, .uploadProduct .h2Like { font-weight: normal; margin: 0; }
.uploadProduct .h1Like { font-size: 60px; }
.uploadProduct .h2Like { font-size: 36px; }

.salesPoint, .salesPoint h2, .salesPoint .button, .salesPoint select { font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-weight: normal; }
.salesPoint h3 { font-family: gotham_condensedmedium, "Arial CE", Arial, sans-serif; font-weight: normal; }
.salesPoint { font-size: 16px; }
.salesPoint h2 { font-size: 36px; }
.salesPoint h3 { font-size: 18px; line-height: 1em; margin: 15px 0 0; text-transform: none; }
.salesPoint .leftCol { float: left; width: 35%; position: relative; padding-bottom: 330px; }
.salesPoint .rightCol { float: right; width: 58%; margin-right: 1.5%; }
.salesPoint .button { font-size: 14px; text-transform: none; }
.salesPoint .leftCol .button { margin-top: -40px; }
.salesPoint .fullPost .galleryThumbs .item, .salesPoint .fullPost .galleryThumbs .item img { border: 0; }
.salesPoint .gmap { max-width: 500px; height: 320px; margin: auto; position: absolute; bottom: 0; left: 0; }

.contactForm { font-family: gotham_condensedmedium, "Arial CE", Arial, sans-serif; }
.contactForm { font-size: 18px; background: url("../../bundles/buscolookweb/css/images/bg_contact-form.png") 100% 0 no-repeat; background-size: 50%; min-height: 530px; }
.contactForm form { text-transform: uppercase; }
.contactForm form textarea { min-height: 90px; }
.contactForm form.col { margin-right: 49%; }
.contactForm h1 { font-size: 24px; font-weight: normal; text-transform: uppercase; padding: 30px 0 15px; }
.contactForm p.fl , .contactForm p.fr { margin-right: 20px; margin-bottom: 10px; }

.postsContainer { font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-weight: normal; }
.postsContainer h1, .postsContainer h2 { font-family: gotham_condensedmedium, "Arial CE", Arial, sans-serif; font-weight: normal; }
.postsContainer .posts li .date { font-family: gotham_condensedbold, "Arial CE", Arial, sans-serif; font-weight: normal; }
.postsContainer { font-size: 18px; margin-top: 20px; }
.postsContainer h1 { font-size: 48px; position: relative; padding-left: 80px; text-transform: uppercase; }
.postsContainer h1:before { content: ''; position: absolute; left: 0; top: 13px; width: 65px; height: 50px; background: url("../../bundles/buscolookweb/css/images/sprite.png") -210px -320px no-repeat; }
.postsContainer h2 { font-size: 24px; }
.postsContainer .posts { list-style: none; text-align: justify; }
.postsContainer .posts:after { content: ''; display: inline-block; width: 100%; }
.postsContainer .posts li { width: 48%; height: 280px; margin-bottom: 35px; background-size: cover; background-color: #eeeff3; background-position: 50% 0; position: relative; display: inline-block; overflow: hidden; }
.postsContainer .posts li .content { padding: 20px 20px 40px; position: absolute; top: 0; right: 0; bottom: 0; left: 0; text-shadow: 0 0 5px rgba(255, 255, 255, .5); }
.postsContainer .posts li .content:hover { background-color: #000; background-color: rgba(0, 0, 0, .8); color: #fff; }
.postsContainer .posts li .icon-plus { position: absolute; right: 20px; bottom: 20px; }
.postsContainer .posts li .content:hover .icon-plus { background-position: -110px -148px }
.postsContainer .posts li .date { font-size: 14px; padding: 0; }
.postsContainer .posts li h2 { padding: 0 0 10px; }

.accountProfile .accountDetails { font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; }
.accountProfile { background-color: #eeebeb; }
.accountProfile #topBar { position: relative; z-index: 17; }
.accountProfile #topBar a { color: #999; }
.accountProfile #topBar .ffBook { color: #ffafa8; }
.accountProfile #topBar li span.image { display: inline-block; margin-right: 5px; width: 23px; height: 23px; margin-top: -2px; border-radius: 50%; overflow: hidden; vertical-align: middle; }
.accountProfile #topBar li span.image img { width: 100%; min-width: 100%; min-height: 100%; }
.accountProfile #topBar .cartDetail { position: absolute; top: 41px; right: -20px; width: 1020px; max-width: 1020px; z-index: 1; text-align: left; border-top: none; border-radius: 0 0 3px 3px; }
.accountProfile #topBar .cartDetail:before, .accountProfile #topBar .notificationsDetail:before { content: ''; width: 0; height: 0; border-bottom: 6px solid #ffafa8; border-left: 3px solid transparent; border-right: 3px solid transparent; position: absolute; bottom: 100%; right: 50px; }
.accountProfile #topBar .notificationsDetail:before { right: 22px; }
.accountProfile #topBar .cartDetail ul { float: none; }
.accountProfile #topBar .cartDetail li { padding: 0 10px 10px 0; border-left: none; }
.accountProfile .profileContentHeader li.item.active a { background-color: #eeebeb; }
.accountProfile input[type=text], .accountProfile input[type=password], .accountProfile textarea { border: none; display: inline-block; }
.accountProfile .actionIcons li { background-color: #fff; }
.accountProfile button[class^="icon-"] { border: none; cursor: pointer; }
.accountProfile .profileHead .headLine form { display: inline-block; position: relative; top: 5px; }
.accountProfile .profileHead .headLine input[type="text"] { width: auto; }
.accountProfile .profileHead .headLine button[class^="icon-"] { margin: -2px 0 0 5px; }
.accountProfile .filterRow .search { background-color: #fff; }
.accountProfile .profileContent .followList .action .following { border-color: #e1dddd; }
.accountProfile .profileContentHeader li:last-child { border-right: none; }
.accountProfile .accountDetails { color: #777; font-size: 14px; }
.accountProfile .accountDetails label { font-size: 14px; vertical-align: middle; margin: 0 5px 0 10px; }
.accountProfile .accountDetails .row.submit .button { margin-left: 30px; }
.accountProfile .checkbox { width: 50%; float: left; margin: 0 0 30px 0; }
.accountProfile .checkbox input[type=checkbox] { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute !important; width: 1px; }
.accountProfile .checkbox label { text-transform: uppercase; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-size: 14px; position: relative; cursor: pointer; padding: 0 0 0 30px; color: #000; }
.accountProfile .checkbox label:after { position: absolute; top: 50%; left: 0; margin-top: -10px; display: block; width: 20px; height: 20px; background: url('../../bundles/buscolookweb/css/images/sprite.png') 0 -250px no-repeat; content: " "; cursor: pointer; overflow: hidden; text-indent: -100em; }
.accountProfile .checkbox input:checked + label:after { background-position: -20px -250px; content: "."; }

.cartDetail .ref, .cartDetail .currency, #topBar .cartDetail a, .cartDetail .input button { font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; font-weight: normal; }
.cartDetail, #topBar .cartDetail .keepShopping a { font-family: gotham_condensedmedium, "Arial CE", Arial, sans-serif; font-weight: normal; }
.cartDetail { border: 1px solid #000; background: #eeebeb; }
.cartDetail h2 { font-size: 24px; font-weight: normal; padding-bottom: 0; text-transform: none; }
.cartDetail table { width: 100%; border-collapse: collapse; margin-bottom: 20px; }
.cartDetail thead { font-size: 13px; }
.cartDetail thead th { background-color: #ffafa8; text-transform: uppercase; padding: 10px; line-height: 20px; }
.cartDetail td, .cartDetail th { border-bottom: 1px solid #e1dddd; }
.cartDetail th { font-weight: normal; }
.cartDetail td { padding: 10px; background-color: #f7f5f5; }
.cartDetail tr:nth-child(2n) td { background-color: #eeebeb; }
.cartDetail th:first-child, .cartDetail td:first-child { padding-left: 30px; }
.cartDetail td:last-child { padding-right: 15px; }
.cartDetail td:nth-child(5), .cartDetail th:nth-child(5) { text-align: right; white-space: nowrap; }
.cartDetail th.productImg { width: 80px; }
.cartDetail tr.totalPrice td { background: #eeebeb; font-size: 22px; text-align: right; padding-top: 30px; padding-bottom: 30px; }
.cartDetail .image { display: inline-block; border: 1px solid #000; overflow: hidden; width: 75px; height: 70px; }
.cartDetail .image img { width: 100%; min-width: 100%; min-height: 100%; }
.cartDetail .ref { font-size: 13px; color: #999; padding-bottom: 5px; }
.cartDetail .tags { font-size: 13px; }
.cartDetail .tags li { margin-left: -4px; }
.cartDetail .inputSelect, .cartDetail .input button, .cartDetail .input > input { font-size: 14px; background: #fff; border: none; padding: 10px; border-radius: 3px; cursor: pointer; }
.cartDetail .price { font-size: 22px; }
.cartDetail .currency { font-size: 18px; }
.cartDetail .whiteButton, #topBar .cartDetail .info { float: right !important; margin: 0 30px 30px; }
.cartDetail .info { padding: 15px 0; line-height: 20px; font-size: 13px; text-transform: uppercase; }

.notificationsDetail, .notificationsDetail .whiteButton { font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; text-align: left; }
.notificationsDetail strong { font-family: gotham_condensedmedium, "Arial CE", Arial, sans-serif; font-weight: normal; }
.notificationsDetail h2 { font-family: gotham_condensedbold, "Arial CE", Arial, sans-serif; font-weight: normal; }
.notificationsDetail { font-size: 14px; width: 380px; position: absolute; top: 41px; right: 0; border: 1px solid #000; border-top: none; border-radius: 0 0 3px 3px; background: #fff; }
.notificationsDetail li h2, .notificationsDetail li p { display: inline; }
.notificationsDetail h2 { font-size: 13px; text-transform: uppercase; }
.notificationsDetail .date { float: right; margin-left: 10px; color: #777; }
.notificationsDetail p { padding: 0; }
.notificationsDetail .whiteButton { margin: 10px auto; font-size: 16px; text-transform: none; }
.menu-bigger { width:155px }

#topBar .cartDetail .whiteButton { margin-left: 0; }
#topBar .cartDetail .info { margin-bottom: 20px; }
#topBar .cartDetail .info li { padding: 0; margin-left: 30px; }
#topBar .cartDetail .info li:first-child { margin-left: 0; }
#topBar .cartDetail a { color: #000; }
#topBar .cartDetail a:hover { border-bottom: 1px solid #000; }
#topBar .cartDetail h2 a { font-size: 24px; text-transform: none; }
#topBar .cartDetail .whiteButton i { margin: 0 10px 0 0; }
#topBar .notificationsDetail ul, #topBar .notificationsDetail li { float: none; }
#topBar .notificationsDetail li { border-left: none; padding: 8px; border-bottom: 1px solid #cdcdcd; border-color: rgba(0, 0, 0, .05); }
#topBar .notificationsDetail li.unread { background: #ffafa8; }
#topBar .notificationsDetail .whiteButton i { margin: 0 10px 0 0; }


@media only screen and (max-width: 1100px) {
    .accountProfile #topBar .cartDetail { width: 100%; }
    .accountProfile #topBar .cartDetail:before { right: 30px; }
}
@media only screen and (max-width: 1023px) {
	#page .width { width: 95%; }

    .mfp-inline-holder .mfp-content { width: 100%; }
    .popupContent { margin: 0 40px; }
    .mfp-content .popupContent { margin: 0; }


    .uploadProduct .leftCol { width: 60%; }
    .uploadProduct .rightCol { width: 37%; }

	.gallery .galleryPrev,
	.gallery .galleryNext { width: 12%; }

	.fullPost .headingArea,
	.fullPost .contentArea { width: 45%; }
	.fullPost .galleryArea { width: 50%; }

	/*.profileHead .profileImage { float: none; }*/
	/*.profileHead .profileContent { width: 60%; }*/
	/*.profileHead .profileContact {  }*/

	.productDetail .headingArea .updated { top: -15px; }
	.productDetail .productItem .size { float: left; width: 55%; margin: 0; }
	.productDetail .productItem .buy { float: right; width: 40%; }
	.productDetail .productItem .buy:after { content: " "; display: table; clear: both; }
	.productDetail .productItem .shop { float: left; width: 100%; padding: 10px 0 0 0; }
	.productDetail .productItem .shop .button { padding: 9px 0; }
	.productDetail .productItem .shop .button span { max-width: none; padding: 0 5px; }
	.productDetail .contentArea .productItemsWrap { padding-left: 0; }
	.productDetail .contentArea .padding { padding-left: 10px; }
	.productDetail .contentArea .links li { margin-bottom: 10px; }
	.productDetail .contentArea .links li:first-child { display: block; }
	.productDetail .commentArea .newComment .options { text-align: right; }
	.productDetail .commentArea .newComment .publishLabel { margin-bottom: 10px; display: block; }
	.productDetail .commentArea .newComment .button { display: inline-block; }
	.register.tienda .formArea .col { float: none !important; }
	.register.tienda .formArea .col2 { margin-top: 30px; width: 100%; }
	.register.tienda .formArea .row.categories { position: relative; top: 0; }

}

@media only screen and (max-width: 920px) {
	#header .logo { margin-right: 50px; }
	.register h1,
	.register .typeSelect { display: block; }
	.register .typeSelect { padding-left: 60px; }
	/*.register.tienda .reasons .reason { width: 50%; margin: 0 0 40px 0; }*/
	.profileContent .accountDetails h2 { margin-bottom: 20px; padding: 0; }
	.profileContent .accountDetails .image { padding: 0; width: 25%; }
	.profileContent .accountDetails .image .editLink { text-align: left; padding: 0 0 0 17px; }
	.profileContent .accountDetails .details { width: 75%; }
	.profileContent .accountDetails .image .imageWrapTail { }
	.profileContent .accountDetails .image .imageWrapTail:after { display: none; }
	.profileContent .accountDetails .image .imageWrap { width: 100px; height: 100px; border: 3px solid #000; }

    .salesPoint .leftCol, .salesPoint .rightCol { float: none; width: auto; }
    .salesPoint .leftCol { margin-bottom: 30px; padding-bottom: 0; }
    .salesPoint .gmap { position: static; max-width: inherit; margin-bottom: 30px; }
    .salesPoint .leftCol .button { display: none; }

    .contactForm form.col { margin-right: 0; }
    .contactForm { background-position: 130% 90px; background-size: auto; padding-bottom: 50px; }
    .contactForm p.fl, .contactForm p.fr { float: none; }
}

@media only screen and (max-width: 800px) {
	#header { padding: 15px 0; }
	#header .logo { float: none; }
	#header nav { float: none; padding: 0; margin: 20px 0 0 0; }
	#header .application { float: none; position: absolute; top: 0; right: 0; padding: 0; }

    .uploadProduct .leftCol { margin-bottom: 50px; }
    .uploadProduct .leftCol,
    .uploadProduct .rightCol { float: none; width: auto; }

	.productDetail .productItem .size { float: none; width: auto; }
	.productDetail .productItem .buy { float: none; width: auto; padding: 10px 0 0; }
	.productDetail .productItem .buy:after { display: none; }
	.productDetail .productItem .shop { float: none; width: auto; }
	.productDetail .productItem .buy .button { padding: 9px 0; }
	.productDetail .productItem .buy .button span { max-width: none; padding: 0 5px; }
	.productDetail .contentArea .links { margin-bottom: 10px; }

}

@media only screen and (max-width: 767px) {
	#main { padding: 20px 0; }
	#footer { position: relative; bottom: auto; }

	.grid .break,
	.grid .item { width: 48%; }

	.fullPost .headingArea,
	.fullPost .contentArea,
	.fullPost .galleryArea { float: none; width: auto; }
	.fullPost .galleryArea { margin: 20px 0; }
	.fullPost .galleryThumbs { display: none; }
    .uploadProduct .fullPost .galleryThumbs { display: block; }

	.autoGallery { display: none; }

	.profileHead { margin: 0 10px; }
	.profileHead .profileHeadInner { display: block; }
	.profileHead .profileImage { display: block; width: 100%; }
	.profileHead .profileContent { display: block; width: 100%; padding: 0; }
	.profileHead .profileContact { display: block; width: 100%; }
	.profileHead .profileImage .imageWrapTail { top: 0; padding: 0 0 20px 0; }
	.profileHead .profileImage .imageWrapTail:after { display: none; }
	.profileHead .profileImage .imageWrap { width: 100px; height: 100px; border: 3px solid #000; }

	.profileContentHeader ul { position: relative; }
	.profileContentHeader li.item a { padding: 3px 5px 7px; }
	.profileContentHeader li.item a span { display: block; margin: 0; }
	.profileContentHeader li.followItem { position: absolute; top: -52px; right: 0; padding: 0; }
	.profileContentHeader li.followItem a { padding: 0 10px 0 5px; border: 1px solid #f1f0f0; }

	.register.tienda .reasons .reason,
	.register.buscolooker .reasons .reason { width: 50%; margin: 0 0 30px 0; height: 250px; }

    .contactForm { background-position: 210px 90px; background-size: 80%; }

    .postsContainer .posts li { display: block; width: auto; }
}

@media only screen and (max-width: 639px) {
	.onlyMobile { display: block; }

    .mfp-container { padding: 0 20px; }
    .mfp-content { margin: 20px auto; }
    .popupContent { padding: 20px; }

	#topBar,
	#header .application,
	#header nav { display: none; }
	#header { padding: 0; }
	#header .width { padding: 20px 0; }
	#header .logo { width: 100%; text-align: center; }
	#header .logo img { vertical-align: middle; }
	#header .title { position: absolute; right: 0; top: 50%; margin-top: -18px; font-size: 24px; font-family: gotham_condensedbook, "Arial CE", Arial, sans-serif; text-transform: uppercase; }
	#header .menuTrigger { cursor: pointer; position: absolute; top: 50%; left: -10px; margin-top: -18px; padding: 10px; }
	#header nav { position: absolute; top: 100%; left: 0; margin: 0; background: #fff; border: 1px solid #c8c8c8; display: none; }
	#header nav.open { display: block; }
	#header nav > ul > li { float: none; }
	#header nav .child1 { left: 5px; width: 120%; }

	.banner .slide .wrap img { width: 100%; }
	.banner .slide .left,
	.banner .slide .right { float: none; width: auto; }

	.categories .item.titleOnTop .heading { top: auto; bottom: 0; }

	.fullPost .headingArea,
	.fullPost .contentArea { font-size: 18px; }
	.fullPost .headingArea h1 { font-size: 40px; line-height: 35px; }
	.fullPost .headingArea h2 { font-size: 20px; padding: 0 0 10px 0; }

	/*.profileHead .profileImage { float: none; }*/
	/*.profileHead .profileContent { float: none; width: auto; margin: 30px 10px 0 10px; }*/
	/*.profileHead .profileContact { float: none; max-width: none; width: auto; margin: 30px 10px 0 10px; }*/
	.profileHead .headLine h1 { display: block; margin: 0 0 10px 0; }
	.profileHead .headLine .info {  }
	.profileHead .profileContact h2 { margin: 0 0 10px 0; }

	.productDetail .headingArea,
	.productDetail .contentArea,
	.productDetail .galleryArea { float: none; width: auto; }
	.productDetail .headingArea { padding: 0 10px; }
	.productDetail .galleryArea { margin-bottom: 20px; }
	.productDetail .headingArea .updated { right: 10px; }
	.productDetail .contentArea .productItemsWrap { padding: 0 10px; }
	.productDetail .contentArea .padding { padding: 0 10px; }
	.productDetail .commentArea .newComment .options { text-align: left; }
	.productDetail .commentArea .newComment .publishLabel { margin-bottom: 0; display: inline-block; }
	.productDetail .commentArea .newComment .button { display: inline-block; }
}

@media only screen and (max-width: 479px) {
	#header { padding: 0; }
	#header .width { padding: 10px 0; }
	#header .logo img { max-width: 90px; }
	#header .title { font-size: 18px; margin-top: -12px; }

	#main .width { width: 100%; }

	.grid .break,
	.grid .item { width: 100%; }
	.brandAbove .item .heading { margin: 0 2.5%; width: 95%; }
	.grid.brandBelow { width: 95%; margin: 0 auto; }

	.contentTop { margin: 0 10px; }

	.fullPost .headingArea,
	.fullPost .contentArea { margin: 0 10px; }

	.profileContentHeader { padding: 0 10px; }
	.profileContent .filterRow { margin: 0 10px; }

	.profileContent .followList { margin: 0 10px; }
	.profileContent .followList .user { float: none; }
	.profileContent .followList .action { float: none; width: auto; }

	.profileContent .accountDetails { margin: 0 10px; }
	.profileContent .accountDetails .image { float: none; width: auto; }
	.profileContent .accountDetails .image .editLink { display: none; }
	.profileContent .accountDetails .details { float: none; width: auto; }

	.register h1 { margin: 0 10px; }
	.register .typeSelect { padding: 0; margin: 10px; }
	.register .typeSelect li { width: 100%; margin: 0 0 10px 0; }
	.register .typeSelect a { width: 100%; }
	.register .reasons { margin-top: 10px; }
	.register .reasons .reason { width: 100% !important; height: auto !important; }
	.register .reasons .image { padding: 20px 0 !important; height: auto !important; }
	.register .formArea { margin: 20px 10px; padding: 20px; }
	.register .formArea .col { float: none !important; width: 100%; }
	.register .formArea .row.submit { padding: 0; }
	.register .formArea .button { width: 100%; }
	.register .formArea .checkbox { width: 100%; }
}

@media only screen and (max-width: 419px) {
	.profileContent .accountDetails .col { float: none !important; width: auto !important; }
}