{% extends 'BuscolookAdminBundle::layout.html.twig' %}

{% block main_content_style %}{% endblock %}

{% block sidebar %}
   {% include 'BuscolookAdminBundle:Settings:Include/sidebar.html.twig' %}
{% endblock %}


{% block content %}

{% endblock content %}