{% extends '::backend.html.twig' %}

{% set action = get_action_name() %}
{% set controller = get_controller_name() %}

{% set method = (action == 'edit') ? 'put' : 'post' %}

{% block title %}
    {{ ('titles.' ~ controller|pluralize ~ '.' ~ action)|trans }}
{% endblock %}

{% block pageTitle %}
    {{ ('titles.' ~ controller|pluralize ~ '.' ~ action)|trans }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ include('BuscolookWeBBundle:Includes:jquery-form-actions.html.twig', { 'method' : method, 'route' : ('admin_blog_' ~ controller|pluralize) }) }}
{% endblock %}