    {% javascripts '@BuscolookAdminBundle/Resources/public/js/lib/FooTable/js/footable.js'
    '@BuscolookAdminBundle/Resources/public/js/lib/FooTable/js/footable.sort.js'
    '@BuscolookAdminBundle/Resources/public/js/lib/FooTable/js/footable.filter.js'
    '@BuscolookAdminBundle/Resources/public/js/lib/FooTable/js/footable.paginate.js'
    '@BuscolookAdminBundle/Resources/public/js/pages/ebro_responsive_table.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(function () {
            $('table').footable();

            $('.sort-column').click(function (e) {
                e.preventDefault();

                //get the footable sort object
                var footableSort = $('table').data('footable-sort');

                //get the index we are wanting to sort by
                var index = $(this).data('index');

                footableSort.doSort(index, 'toggle');
            });
        });
    </script>
