{% extends 'BuscolookAdminBundle::layout.html.twig' %}

{% form_theme form 'BuscolookAdminBundle:Form:form-fields.html.twig' %}
{% block content %}

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Nuevo Banner</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tbb_a" data-toggle="tab">Datos</a></li>
                                {% if entity is defined and entity is not null %}
                                    <li class=""><a href="#tbb_b" data-toggle="tab">Fotos</a></li>
                                {% endif %}
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tbb_a">
                                    <form id="parsley_reg"
                                          action="{{ entity is defined ? path('buscolook_admin_banner_update',{'id':entity.id}) : path('buscolook_admin_banner_create') }}"
                                          method="post" {{ form_enctype(form) }}>
                                        <div class="row">

                                            <div class="col-sm-4">
                                                {{ form_row(form.name) }}
                                                {{ form_row(form.url) }}
                                                {{ form_row(form.active) }}
                                                {{ form_row(form.position) }}
                                                {{ form_errors(form) }}
                                            </div>
                                            {{ form_row(form._token) }}
                                        </div>
                                        <div class="form_sep">
                                            <button type="submit" class="btn btn-default">Validate</button>
                                        </div>
                                    </form>
                                </div>
                                {% if entity is defined and entity is not null %}
                                    <div class="tab-pane" id="tbb_b">
                                        <!-- main content -->
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">Fotos de Empresa</h4>
                                                    </div>
                                                    <nav class="panel_controls">
                                                        <div class="row">
                                                            <div class="col-sm-4">
                                                                <span class="gal_lay_change lay_active" id="gal_toGrid"><i
                                                                            class="icon-th"></i></span>
                                                                <span class="gal_lay_change" id="gal_toList"><i
                                                                            class="icon-align-justify"></i></span>
                                                            </div>
                                                        </div>
                                                    </nav>
                                                    <ul id="gallery_grid" class="galMix">
                                                        <li class="gal_no_result">Sorry, there are no images to show.
                                                        </li>
                                                        {% for image in images %}
                                                            <li class="mix business travel" data-name="Image 1"
                                                                data-timestamp="1379455200">
                                                                <div class="image-container" style="position:relative">
                                                                    <a href="{{ image.image }}"
                                                                       class="img-thumbnail img_wrapper gal_lightbox">
                                                                        <img src="{{ image.image }}"
                                                                             class="img-responsive" alt="">
                                                                    </a>
                                                                    <a style=""
                                                                       href="{{ path('buscolook_admin_banner_delete_image',{'id':image.id}) }}"
                                                                       class="">
                                                                        <img src="http://vanamaalicaterers.com/images/close.png"
                                                                             alt="" style=" position: absolute; left: 10px; top: 5px;">
                                                                    </a>
                                                                </div>

                                                                <div class="meta name">
                                                                    <h2 class="gal_title">{{ image.title }}</h2>
                                                                    <span class="text-muted">{{ image.image }}</span>
                                                                </div>
                                                                <div class="meta user">Buscolook</div>
                                                                <div class="meta date">18-09-2013</div>
                                                                <div class="meta category">

                                                                </div>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="{{ path('buscolook_admin_banner_add_image',{'id':entity.id}) }}"><input
                                                    type="button" value="Añadir Fotos"/></a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}