{% extends 'BuscolookAdminBundle::layout.html.twig' %}

{% form_theme form 'BuscolookAdminBundle:Form:form-fields.html.twig' %}
{% block content %}
    <!-- main content -->
    <div class="row">
        <div class="col-sm-4">
            <form action="#" method="post" enctype='multipart/form-data'>

                {{ form_row(form.image) }}
                {{ form_row(form.link) }}
                {{ form_row(form.title) }}
                {{ form_row(form._token) }}
                <div class="form_sep">
                    <button type="submit" class="btn btn-default">Añadir</button>
                </div>
            </form>
        </div>

    </div>
{% endblock %}