{% extends 'BuscolookAdminBundle::layout.html.twig' %}

{% block content %}
    <div class="sepH_c">
        <p>
            <a href="{{ path('buscolook_admin_banner_new') }}">
                <button class="btn btn-default" type="button">Nueva</button>
            </a>
        </p>
        <p class="heading_a">Categories</p>

        <table class="table toggle-square">
            <thead>
            <tr>
                <th data-type="numeric" data-sort-initial="true">Id</th>
                <th data-sort-initial="true">Name</th>
                <th data-sort-initial="true" data-hide="phone">Url</th>
                <th data-sort-ignore="true" data-hide="phone">Num. Images</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td><a href="{{ path('buscolook_admin_banner_edit',{'id':item.id}) }}">{{ item.id }}</a></td>
                    <td><a href="{{ path('buscolook_admin_banner_edit',{'id':item.id}) }}">{{ item.name }}</a></td>
                    <td><a href="{{ path('buscolook_admin_banner_edit',{'id':item.id}) }}">{{ item.url }}</a></td>
                    <td><a href="{{ path('buscolook_admin_banner_edit',{'id':item.id}) }}">5</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}