.mfp-ajax-holder .mfp-content {
    width: 78.125%;
    max-width: 1000px;
}

.delete-product {
    content: '';
    position: absolute;
    width: 13px;
    height: 9px;
    right: 0;
    top: 50%;
    margin-top: -5px;
    background: url("../../css/images/sprite.png") -64px -160px;
    background-size: 150px 200px;
    left: 89%;
}

.uploadProduct .galleryThumbs span.add:after { content: ''; position: absolute; top: 50%; left: 50%; margin: -9px 0 0 -9px; width: 17px; height: 17px; background: url("../images/sprite.png") -35px -140px no-repeat; background-size: 150px 200px; }
.uploadProduct .galleryThumbs span.add {
    border-color: #f1f0f0;
}

.icon-delete {
    width: 12px;
    height: 11px;
    background-position: -95px -159px;
}

#submit-images {
    border-color: #f1f0f0;
    content: '';
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    margin-left: 4px;
    /* width: 34px; */
    height: 50px;
    background: url("../images/sprite.png") 3px -140px no-repeat;
    background-size: 208px 210px;
}

.inputSelectWrap > select { z-index: 999 }