<article class="item">
    <div class="preview">
        <div class="gallery">
            <div class="slides owl-carousel">
                {% set imageLength = garment.images | length %}
                {% for image in garment.images %}
                    <div class="slide">
                        <div class="border"><img class="lazyOwl"
                                                 data-src="{{ image.image }}"
                                                 alt=""/><span
                                    class="count">{{ loop.index }}
                                /{{ imageLength }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="interaction">
            <div class="cf">
                <div class="actions">
                    <a href="#" title="Comment"><i class="icon-comment">Comments:</i>
                        <span>17</span></a>
                    <a href="#" title="Like"><i class="icon-like">Likes:</i>
                        <span>49</span></a>
                </div>
                <a href="#" class="more" title="More"
                   data-href="http://www.google.com/">more</a>
            </div>
        </div>
    </div>
</article>