
    {% block block_stylesheets %}
        {% stylesheets 'bundles/buscolookadmin/bootstrap/css/bootstrap.min.css'
        'bundles/buscolookadmin/css/retina.css'
        'bundles/buscolookadmin/css/font-awesome/css/font-awesome.min.css'
        'bundles/buscolookadmin/images/flags/flags.css'
        'bundles/buscolookadmin/css/style.css'
        'bundles/buscolookadmin/css/theme/color_1.css'
        'bundles/buscolookadmin/js/lib/Sticky/sticky.css'
        'bundles/buscolookadmin/js/lib/jQuery-File-Upload/css/jquery.fileupload-ui.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}


            <!-- main content -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-info">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        Upload disabled, for demo please check <a href="http://blueimp.github.io/jQuery-File-Upload/">http://blueimp.github.io/jQuery-File-Upload/</a>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Complex Example</h4>
                        </div>
                        <div class="panel-body">
                            <form id="fileupload" action="/" method="POST" enctype="multipart/form-data" class="multiupload">
                                <!-- Redirect browsers with JavaScript disabled to the origin page -->
                                <noscript>To use mutliupload please enable Javascript in your browser.</noscript>
                                <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                                <div class="row fileupload-buttonbar">
                                    <div class="col-lg-7">
                                        <!-- The fileinput-button span is used to style the file input field as button -->
													<span class="btn btn-success fileinput-button">
														<i class="glyphicon glyphicon-plus"></i>
														<span>Add files...</span>
														<input type="file" name="files[]" multiple>
													</span>
                                        <button type="submit" class="btn btn-primary start" disabled>
                                            <i class="glyphicon glyphicon-upload"></i>
                                            <span>Start upload</span>
                                        </button>
                                        <button type="reset" class="btn btn-warning cancel">
                                            <i class="glyphicon glyphicon-ban-circle"></i>
                                            <span>Cancel upload</span>
                                        </button>
                                        <button type="button" class="btn btn-danger delete">
                                            <i class="glyphicon glyphicon-trash"></i>
                                            <span>Delete</span>
                                        </button>
                                        <input type="checkbox" class="toggle">
                                        <!-- The loading indicator is shown during file processing -->
                                        <span class="fileupload-loading"></span>
                                    </div>
                                    <!-- The global progress information -->
                                    <div class="col-lg-5 fileupload-progress fade sepH_a">
                                        <!-- The extended global progress information -->
                                        <div class="progress-extended sepH_a">&nbsp;</div>
                                        <!-- The global progress bar -->
                                        <div class="progress progress-small progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar progress-success" style="width:0%;"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- The table listing the files available for upload/download -->
                                <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
{% javascripts
'@BuscolookAdminBundle/Resources/public/bootstrap/js/bootstrap.min.js'
'@BuscolookAdminBundle/Resources/public/js/jquery.ba-resize.min.js'
'@BuscolookAdminBundle/Resources/public/js/jquery_cookie.min.js'
'@BuscolookAdminBundle/Resources/public/js/jquery_cookie.min.js'
'@BuscolookAdminBundle/Resources/public/js/retina.min.js'
'@BuscolookAdminBundle/Resources/public/js/tinynav.js'
'@BuscolookAdminBundle/Resources/public/js/jquery.sticky.js'
'@BuscolookAdminBundle/Resources/public/js/lib/navgoco/jquery.navgoco.min.js'
'@BuscolookAdminBundle/Resources/public/js/lib/jMenu/js/jMenu.jquery.js'
'@BuscolookAdminBundle/Resources/public/js/lib/typeahead.js/typeahead.min.js'
'@BuscolookAdminBundle/Resources/public/js/lib/typeahead.js/hogan-2.0.0.js'
'@BuscolookAdminBundle/Resources/public/js/ebro_common.js'
'@BuscolookAdminBundle/Resources/public/js/lib/peity/jquery.peity.min.js'
'@BuscolookAdminBundle/Resources/public/js/lib/jvectormap/jquery-jvectormap-1.2.2.min.js'
'@BuscolookAdminBundle/Resources/public/js/lib/jvectormap/maps/jquery-jvectormap-world-mill-en.js'
'@BuscolookAdminBundle/Resources/public/js/lib/flot/jquery.flot.min.js'
'@BuscolookAdminBundle/Resources/public/js/lib/flot/jquery.flot.pie.min.js'
'@BuscolookAdminBundle/Resources/public/js/lib/flot/jquery.flot.time.min.js'
'@BuscolookAdminBundle/Resources/public/js/lib/flot/jquery.flot.tooltip.min.js'
'@BuscolookAdminBundle/Resources/public/js/lib/flot/jquery.flot.resize.js'
'@BuscolookAdminBundle/Resources/public/js/lib/easy-pie-chart/jquery.easy-pie-chart.js'
'@BuscolookAdminBundle/Resources/public/js/pages/ebro_dashboard1.js'
'@BuscolookAdminBundle/Resources/public/js/lib/bootbox/bootbox.min.js'
'@BuscolookAdminBundle/Resources/public/js/lib/Sticky/sticky.js'
'@BuscolookAdminBundle/Resources/public/js/pages/ebro_notifications.js'
'@BuscolookAdminBundle/Resources/public/js/lib/jquery_ui/jquery-ui-1.10.3.custom.min.js'
'@BuscolookAdminBundle/Resources/public/js/lib/jQuery-File-Upload/js/jquery.fileupload.all.js'
 %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% raw %}
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td class="upload_img">
            <span class="preview img-thumbnail"></span>
        </td>
        <td class="upload_info">
            {% if (file.error) { %}
            <div><span class="label label-important">Error</span> {%=file.error%}</div>
            {% } %}
            <p class="name">{%=file.name%}</p>
            <p class="size">{%=o.formatFileSize(file.size)%}</p>
            {% if (!o.files.error) { %}
            <div class="progress progress-striped progress-small active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
            {% } %}
        </td>
        <td class="upload_actions">
            {% if (!o.files.error && !i && !o.options.autoUpload) { %}
            <button class="btn btn-primary btn-sm start" disabled>
                <i class="glyphicon glyphicon-upload"></i>
                <span>Start</span>
            </button>
            {% } %}
            {% if (!i) { %}
            <button class="btn btn-warning btn-sm cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Cancel</span>
            </button>
            {% } %}
        </td>
    </tr>
    {% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td class="download_img">
						<span class="preview img-thumbnail">
							{% if (file.thumbnail_url) { %}
                            <a href="{%=file.url%}" title="{%=file.name%}" class="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
                            {% } %}
						</span>
        </td>
        <td class="download_info">
            {% if (file.error) { %}
            <div><span class="label label-important">Error</span> {%=file.error%}</div>
            {% } %}
            <p class="name">
                <a href="{%=file.url%}" title="{%=file.name%}" class="{%=file.thumbnail_url?'gallery':''%}" download="{%=file.name%}">{%=file.name%}</a>
            </p>
            <p class="size">{%=o.formatFileSize(file.size)%}</p>
        </td>
        <td class="download_actions">
            <button class="btn btn-danger delete" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}"{% if (file.delete_with_credentials) { %} data-xhr-fields="{'withCredentials':true}"{% } %}>
            <i class="glyphicon glyphicon-trash"></i>
            <span>Delete</span>
            </button>
            <input type="checkbox" name="delete" value="1" class="toggle">
        </td>
    </tr>
    {% } %}
    {% endraw %}
</script>

{% javascripts
'@BuscolookAdminBundle/Resources/public/js/pages/ebro_form_multiupload.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}


<!--[if lte IE 9]>
<script src="js/ie/jquery.placeholder.js"></script>
<script>
    $(function() {
        $('input, textarea').placeholder();
    });
</script>
<![endif]-->
</div>

</body>
</html>