{% extends 'BuscolookAdminBundle::layout.html.twig' %}
{% form_theme form 'BuscolookAdminBundle:Form:form-fields.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Nuevo Post Me Inspiro</h4>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tbb_a" data-toggle="tab">Datos</a></li>
                        {% if entity is defined and entity is not null %}
                            <li class=""><a href="#tbb_b" data-toggle="tab">Fotos</a></li>
                        {% endif %}
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tbb_a">
                            <div class="panel-body">
                                <form id="parsley_reg"
                                      action="{{ entity is defined and entity is not null ? path('buscolook_admin_inspiration_update',{'id':entity.id}) : path('buscolook_admin_inspiration_create') }}"
                                      method="post" {{ form_enctype(form) }}>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            {{ form_row(form.title) }}
                                            {{ form_row(form.subtitle) }}
                                            {{ form_row(form.description) }}
                                            {{ form_row(form.published) }}
                                            {{ form_row(form._token) }}
                                            {{ form_errors(form) }}
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="imgProfile">
                                                <img src="{# entity.logoWebPath | imagine_filter('list_back') #}"/>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form_sep">
                                        <button type="submit" class="btn btn-default">Validate</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        {% if entity is defined and entity is not null %}
                            <div class="tab-pane active" id="tbb_b">
                                <!-- main content -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">Fotos de Prenda</h4>
                                            </div>
                                            <nav class="panel_controls">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                                <span class="gal_lay_change lay_active" id="gal_toGrid"><i
                                                                            class="icon-th"></i></span>
                                                                <span class="gal_lay_change" id="gal_toList"><i
                                                                            class="icon-align-justify"></i></span>
                                                    </div>
                                                    <!--<div class="col-sm-4">
                                                        <select name="gal_filter_a" id="gal_filter_a"
                                                                class="form-control" multiple>
                                                            <option value="user_0">Casey Wilderman</option>
                                                            <option value="user_1">Giuseppe Funk</option>
                                                            <option value="user_2">Terrill Purdy</option>
                                                            <option value="user_3">Alden Cormier</option>
                                                            <option value="user_4"> Cameron Upton</option>
                                                        </select>
                                                    </div>-->
                                                    <div class="col-sm-4">
                                                        <!--<select name="gal_filter_b" id="gal_filter_b"
                                                                class="form-control" multiple>
                                                            <option value="business">business</option>
                                                            <option value="travel">travel</option>
                                                            <option value="family">family</option>
                                                            <option value="nature">nature</option>
                                                        </select>-->
                                                    </div>
                                                </div>
                                            </nav>
                                            <ul id="gallery_grid" class="galMix">
                                                {% if images is not defined or images is null %}
                                                    <li class="gal_no_result">Sorry, there are no images to show.
                                                    </li>
                                                {% else %}
                                                    {% for image in images %}
                                                        <li class="mix business travel" data-name="Image 1"
                                                            data-timestamp="1379455200">
                                                            <a href="{{ custom_asset('inspiration',entity.id,'normal',image.image) }}"
                                                               class="img-thumbnail img_wrapper gal_lightbox">
                                                                <img src="{{ custom_asset('inspiration',entity.id,'normal',image.image) }}"
                                                                     class="img-responsive" alt="">
                                                            </a>

                                                            <div class="meta name">
                                                                <h2 class="gal_title">{{ image.name }}</h2>
                                                                <span class="text-muted">{{ image.image }}</span>
                                                            </div>
                                                            <div class="meta user">Author</div>
                                                            <div class="meta date">18-09-2013</div>

                                                        </li>
                                                    {% endfor %}
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{ path('buscolook_admin_inspiration_add_image',{'id':entity.id}) }}"><input
                                            type="button" value="Añadir Fotos"/></a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}