{% extends 'BuscolookAdminBundle::layout.html.twig' %}
{% form_theme form 'BuscolookAdminBundle:Form:form-fields.html.twig' %}
{% block content %}

<div class="row">
<div class="col-sm-7">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Nueva Categoria</h4>
        </div>
        <div class="panel-body">
            <form id="parsley_reg" action="{{ entity is defined ? path('buscolook_admin_categories_update',{'id':entity.id}) : path('buscolook_admin_categories_create') }}" method="post" {{ form_enctype(form) }}>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            {{ form_label(form.name, 'forms.category.name') }}
                            {{ form_widget(form.name) }}
                        </div>
                   
                        {{ form_rest(form) }}
                        <div class="form_sep">
                            <button type="submit" class="btn btn-default">Validate</button>
                        </div>
                    </div>
                 </div>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}