{% extends 'BuscolookAdminBundle::layout.html.twig' %}
{% block block_javascript %}
    {{ parent() }}
    {% javascripts '@BuscolookAdminBundle/Resources/public/js/lib/FooTable/js/footable.js'
    '@BuscolookAdminBundle/Resources/public/js/lib/FooTable/js/footable.sort.js'
    '@BuscolookAdminBundle/Resources/public/js/lib/FooTable/js/footable.filter.js'
    '@BuscolookAdminBundle/Resources/public/js/lib/FooTable/js/footable.paginate.js'
    '@BuscolookAdminBundle/Resources/public/js/pages/ebro_responsive_table.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(function () {
            $('table').footable();

            $('.sort-column').click(function (e) {
                e.preventDefault();

                //get the footable sort object
                var footableSort = $('table').data('footable-sort');

                //get the index we are wanting to sort by
                var index = $(this).data('index');

                footableSort.doSort(index, 'toggle');
            });
        });
    </script>
{% endblock %}

{% block block_stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/buscolookadmin/js/lib/FooTable/css/footable.core.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div class="demo-container">
        <a href="{{ path('buscolook_admin_categories_add') }}">
            <button class="btn btn-default" type="button">Nueva</button>
        </a>

        <table class="table toggle-square">
            <thead>
            <tr>
                <th data-type="numeric" data-sort-initial="true">
                    ID
                </th>
                <th data-sort-initial="true">
                    Category
                </th>
                <th data-sort-ignore="true" data-hide="phone">
                    Tipo
                </th>
                <!--<th data-hide="phone,tablet">
                    Job Title
                </th>
                <th data-type="numeric" data-hide="phone,tablet">
                    DOB
                </th>
                <th data-hide="phone,tablet">
                    Status
                </th>-->
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.namedType }}</td>
                    <!--<td>Traffic Court Referee</td>
                    <td data-value="78025368997">22 Jun 1972</td>
                    <td data-value="1"><span class="status-metro status-active" title="Active">Active</span></td>-->
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}


