<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>FooTable - jQuery plugin for responsive HTML tables</title>
    <meta name="viewport" content="width = device-width, initial-scale = 1.0, minimum-scale = 1.0, maximum-scale = 1.0, user-scalable = no"/>
    {% block block_stylesheets %}
        {% stylesheets 'bundles/buscolookadmin/js/lib/FooTable/css/footable.core.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
    <script>
        if (!window.jQuery) { document.write('<script src="js/jquery-1.9.1.min.js"><\/script>'); }
    </script>
    {% javascripts '@BuscolookAdminBundle/Resources/public/js/lib/FooTable/js/footable.js'
    '@BuscolookAdminBundle/Resources/public/js/lib/FooTable/js/footable.sort.js'
    '@BuscolookAdminBundle/Resources/public/js/lib/FooTable/js/footable.filter.js'
    '@BuscolookAdminBundle/Resources/public/js/lib/FooTable/js/footable.paginate.js'
    '@BuscolookAdminBundle/Resources/public/js/pages/ebro_responsive_table.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>
<body>
<div class="demo-container">
            Sort by
            <a href="#sort" class="sort-column" data-index="0">ID</a> |
            <a href="#sort" class="sort-column" data-index="1">First</a> |
            <a href="#sort" class="sort-column" data-index="4">DOB</a> |
            <a href="#sort" class="sort-column" data-index="5">Status</a>
            <table class="table demo">
                <thead>
                <tr>
                    <th data-type="numeric" data-sort-initial="true">
                        ID
                    </th>
                    <th>
                        First Name
                    </th>
                    <th data-sort-ignore="true">
                        Last Name
                    </th>
                    <th data-hide="phone,tablet">
                        Job Title
                    </th>
                    <th data-type="numeric" data-hide="phone,tablet">
                        DOB
                    </th>
                    <th data-hide="phone">
                        Status
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>2</td>
                    <td>Isidra</td>
                    <td><a href="#">Boudreaux</a></td>
                    <td>Traffic Court Referee</td>
                    <td data-value="78025368997">22 Jun 1972</td>
                    <td data-value="1"><span class="status-metro status-active" title="Active">Active</span></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Shona</td>
                    <td>Woldt</td>
                    <td><a href="#">Airline Transport Pilot</a></td>
                    <td data-value="370961043292">3 Oct 1981</td>
                    <td data-value="2"><span class="status-metro status-disabled" title="Disabled">Disabled</span></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Granville</td>
                    <td>Leonardo</td>
                    <td>Business Services Sales Representative</td>
                    <td data-value="-22133780420">19 Apr 1969</td>
                    <td data-value="3"><span class="status-metro status-suspended" title="Suspended">Suspended</span></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Easer</td>
                    <td>Dragoo</td>
                    <td>Drywall Stripper</td>
                    <td data-value="250833505574">13 Dec 1977</td>
                    <td data-value="1"><span class="status-metro status-active" title="Active">Active</span></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Maple</td>
                    <td>Halladay</td>
                    <td>Aviation Tactical Readiness Officer</td>
                    <td data-value="694116650726">30 Dec 1991</td>
                    <td data-value="3"><span class="status-metro status-suspended" title="Suspended">Suspended</span></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Maxine</td>
                    <td><a href="#">Woldt</a></td>
                    <td><a href="#">Business Services Sales Representative</a></td>
                    <td data-value="561440464855">17 Oct 1987</td>
                    <td data-value="2"><span class="status-metro status-disabled" title="Disabled">Disabled</span></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Lorraine</td>
                    <td>Mcgaughy</td>
                    <td>Hemodialysis Technician</td>
                    <td data-value="437400551390">11 Nov 1983</td>
                    <td data-value="2"><span class="status-metro status-disabled" title="Disabled">Disabled</span></td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Lizzee</td>
                    <td><a href="#">Goodlow</a></td>
                    <td>Technical Services Librarian</td>
                    <td data-value="-257733999319">1 Nov 1961</td>
                    <td data-value="3"><span class="status-metro status-suspended" title="Suspended">Suspended</span></td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Judi</td>
                    <td>Badgett</td>
                    <td>Electrical Lineworker</td>
                    <td data-value="362134712000">23 Jun 1981</td>
                    <td data-value="1"><span class="status-metro status-active" title="Active">Active</span></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Lauri</td>
                    <td>Hyland</td>
                    <td>Blackjack Supervisor</td>
                    <td data-value="500874333932">15 Nov 1985</td>
                    <td data-value="3"><span class="status-metro status-suspended" title="Suspended">Suspended</span></td>
                </tr>
                </tbody>
            </table>
</div>
<script type="text/javascript">
    $(function () {
        $('table').footable();

        $('.sort-column').click(function (e) {
            e.preventDefault();

            //get the footable sort object
            var footableSort = $('table').data('footable-sort');

            //get the index we are wanting to sort by
            var index = $(this).data('index');

            footableSort.doSort(index, 'toggle');
        });
    });
</script>
</body>
</html>
