<ul class="actionIcons">
    <li>
        <a href="http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width&layout=standard&action=like&show_faces=true&share=true&height=80">
            <i class="icon-share-facebook"></i>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="icon-share-twitter"></i>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="icon-share-pinterest"></i>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="icon-share-instagram"></i>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="icon-share-googleplus"></i>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="icon-share-tumblr"></i>
        </a>
    </li>
</ul>