<div class="links">
    <ul>
        <li>Más información</li>
        <li>
            <a target="_blank" href="{{ path('buscolook_static', { 'page' : 'envio' }) }}">Envío</a>
        </li>
        <li>
            <a target="_blank" href="{{ path('buscolook_static', { 'page' : 'devolucion' }) }}">Devolución</a>
        </li>
        <li>
            <a target="_blank" href="{{ path('buscolook_static', { 'page' : 'ayuda' }) }}">¿Ayuda?</a>
        </li>
    </ul>
</div>
