{% if fichajeId is not defined or fichajeId is null %}
    {% set fichajeId = null %}
{% endif %}
{% if hide is not defined or hide is null %}
    {% set hide = '' %}
{% endif %}
<div id="popup" class="popupContent uploadProduct {{ hide }}" style="min-height:300px">
    <div id="subirImagen">
        <h2>publicar un fichaje</h2>

        <div class="leftCol">
            {% if fichajeId is null %}
                <div class="photoContainer squareContainer" style="height:auto">
                    <p class="default">Sube la imagen<br> del producto</p>
                </div>
                <div class="galleryThumbs">
                    <form id="form-file-input" action="{{ path('buscolook_web_fichaje_add_image',{'fichajeId':0}) }}" method="post"
                          enctype="multipart/form-data">
                        <label for="file-input">
                            <span id="file-link" class="item add"></span>
                            <!--<a href="#" id="file-link" class="item add" onclick="return false;"></a>-->
                        </label>

                        <input id="file-input" type="file" name="files[]" multiple onChange="makeFileList();"/>
                        <input type="submit" id="submit-images" class="item add" value=""/>
                    </form>
                    <ul id="fileList">
                    </ul>
                </div>
            {% else %}
                <div class="galleryArea fullPost">
                    <div class="gallery bigGallery">
                        <div class="slides owl-carousel-big">
                            {% for image in fichajeId.images %}
                            <div class="slide">
                                <div class="border"><img class="lazyOwl" data-src="{{ custom_asset('fichaje',fichajeId.id,'normal',image.image) }}"
                                                         alt=""/><span class="count">1/4</span></div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="galleryThumbs">
                        {% for image in fichajeId.images %}
                        <a href="#" class="item active" data-slide="0"><img src="{{ custom_asset('fichaje',fichajeId.id,'normal',image.image) }}"
                                                                            alt=""/></a>
                        {% endfor %}
                        <a href="#" class="item add"></a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="rightCol">
            {# controller return all saveds and print new one: ajax #}
            {% if entity == 'bussiness' %}
                {{ render(controller('BuscolookWebBundle:Bussiness:productPopups',
                    {'fichajeId': fichajeId,'bussinessId':bussinessEntity.id})) }}
            {% else %}
                {{ render(controller('BuscolookWebBundle:Buscolooker:productPopups',
                    {'fichajeId': default is defined and default == true ? '0': fichajeId,'buscolooker':app.security.getToken().getUser().getId()})) }}
            {% endif %}
        </div>
    </div>
</div>