{% set html = '' %}
{% set nombre = '' %}

{% for result in results %}
    {% if result.name is defined %}
        {% set nombre = result.name %}
        {% set category = result.slug %}
        {% set type = 'en' %}
        {% set zona = selectedZone is defined and selectedZone is not null ? selectedZone : constant('\\Buscolook\\WebBundle\\Entity\\Locality::ALL') %}
    {% else %}
        {% set nombre = result.locality %}
        {% set category = selectedCategory is defined and selectedCategory is not null? selectedCategory : constant('\\Buscolook\\WebBundle\\Entity\\Category::ALL') %}
        {% set type = 'en' %}
        {% set zona =  result.slug %}
    {% endif %}

    {% set html = html ~ '<li class="menu-bigger"><a href="'~ path(url,{'category':category,'type': type,'zona':zona}) ~'" data-checkable="true">' ~ nombre ~ '</a></li>' %}
{% endfor %}
{{ html | raw }}