{% extends 'BuscolookWebBundle::layout.html.twig' %}

{% block block_content %}
    <div class="banner">
        <div class="gallery">
            <div class="slides banner-owl-carousel">
                {% set images_length = principal_banner_images | length %}
                {% for banner_image in principal_banner_images %}
                    <a href="{{ banner_image.link }}">
                        <div class="slide">
                            <div class="wrap">
                                <div class="cf">
                                    <div class="item">
                                        <img src="{{ banner_image.image }}" alt=""/>
                                    </div>
                                </div>
                                <span class="count">{{ loop.index }}/{{ images_length }}</span>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="grid categories">

        {% for banner_subhome in subhome_banner_images %}
            <article class="item">
                <div class="preview">
                    <div class="heading">
                        <h2><a href="http://www.google.com/" data-href="same">{{ banner_subhome.title }}</a></h2>
                    </div>
                    <div class="gallery">
                        <div class="slides owl-carousel">
                            <div class="slide">
                                <div class="border"><img class="lazyOwl"
                                                         data-src="{{ banner_subhome.image }}"
                                                         alt=""/></div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        {% endfor %}

        <div class="break"></div>
    </div><!--/.grid-->
{% endblock %}